doctype html
html(lang="zh-tw")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="description" content="KaJin Health 遠端線上心理諮詢服務 挑選諮詢師")
        meta(name="generator" content="2015.0.2.310")
        link(rel="shortcut icon" href="http://kajinonline.com/images/favicon.ico?452768698")
        title 預約成功
        <!-- CSS -->
        link(rel="stylesheet" type="text/css" href="./css/site_global.css")
        link(rel="stylesheet" type="text/css" href="./css/master_main1.css")
        link(rel="stylesheet" type="text/css" href="./css/main.css")

    body
        include ./navbar.jade
        div#page
            div.step-container#step4.show.active
                div.colelem#colelem1
                    div.container
                        span
                            div.words Step1.挑選諮詢師
                            div.words.dot
                            div.words Step2.挑選時間
                            div.words.dot
                            div.words.active Step3.付款資訊
                div.colelem#colelem2
                    div.container
                        div.book-title.green
                            div.icon
                            div.word 感謝你的預約
                        div.grey-container.green.
                            親愛的用戶您好，感謝您的預約。如果要查看預約的資訊，請登入「<span class="green-word"><a href="http://kajinonline.com/login.php">會員登入</a></span>」或您的個人信箱。
                        div.book-title.green
                            div.icon
                            div.word 預約項目
                        div.grey-container1.step4
                            div.title
                                div.col.col1 預約諮詢 
                                div.col.col2 協助傾向
                                div.col.col3 困擾狀況
                                div.col.col4 諮詢堂數
                            div.content
                                div.col.col1
                                    div.photo
                                    div.name-block
                                        div.name
                                        div.profession 心理諮詢師
                                div.col.col2#need-help
                                div.col.col3#sad-situation
                                div.col.col4
                                    div 1堂課
                                    div (50分鐘/堂)
                        div.book-title.green
                            div.icon
                            div.word 預約時間
                        div.grey-container3
                            div.confirm-time 預約諮詢時間
                            div.select-date
                            div.time-zone ( 時區: UTC +8 )
                        div.book-title.green
                            div.icon
                            div.word 注意事項
                        div.grey-container5
                            div.suggest-words 本次會談已確認，如果想要修改時間內容，請在預定會談12小時前更改。
                            div.suggest-words 會談當日30分鐘前，系統會以E-mail通知您上線。
                            div.suggest-words 您可以隨時登入「會員登入」，查詢目談會談進度，以及管理個人資料。
                            div.suggest-words 如果諮詢師無法依約會談，我們將主動通知您，並協助您下次預約或取消該次會談。
                            div.suggest-words 如果您有任何問題，請您聯絡客服
                                a(href="mailto:support@kajinhealth.com" target="_blank") support@kajinhealth.com
                        div.step-div
                            button.prev-step
                                a(href="http://kajinonline.com/") 回首頁
                            button.next-step
                                a(href="http://kajinonline.com/login.php") 會員登入
            include ./footer.jade
        script(src="./js/jquery-1.11.0.min.js")
        script(src="./js/jquery-migrate-1.2.1.min.js")
        script(src="./js/jquery-ui.min.js")



















