.version.wechat /* version checker */
{
	color: #0000F9;
	background-color: #99E71E;
}

#page
{
	z-index: 1;
	min-height: 560px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#pu145843-4
{
	width: 100%;
}

#u145843-4
{
	z-index: 2;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 355px;
}

#u145832-4
{
	z-index: 6;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: 380px;
}

#u145832-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 380px;
	margin: 25px -10000px 0px 50%;
}

#u145833-4
{
	z-index: 10;
	width: 74px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: 282px;
}

#u179913
{
	z-index: 14;
	min-height: 66px;
	padding-bottom: 20px;
}

#u182479
{
	z-index: 115;
	width: 247px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 50%;
	left: -480px;
}

#u145801
{
	z-index: 117;
	width: 342px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -220px;
}

#menuu145802
{
	z-index: 118;
	width: 342px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -171px;
}

#u145803
{
	width: 80px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u145804
{
	width: 80px;
	padding-bottom: 22px;
	position: relative;
}

#u145804.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u145807-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145817
{
	width: 98px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u145818
{
	width: 98px;
	padding-bottom: 22px;
	position: relative;
}

#u145818.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u145819-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145818.MuseMenuActive #u145819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145824
{
	width: 79px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 182px;
}

#u145825
{
	width: 79px;
	padding-bottom: 22px;
	position: relative;
}

#u145826-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u179590
{
	width: 79px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 263px;
}

#u179591
{
	width: 79px;
	padding-bottom: 22px;
	position: relative;
}

#u145825.MuseMenuActive,#u179591.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u179594-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u145804.MuseMenuActive #u145807-4,#u145825.MuseMenuActive #u145826-4,#u179591.MuseMenuActive #u179594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u179913-bw
{
	z-index: 14;
	min-height: 66px;
	margin-bottom: -1px;
}

#u112051
{
	z-index: 156;
	width: 306px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 126px;
	position: relative;
	margin-left: 50%;
	left: -149px;
}

#pu112020
{
	width: 100%;
	margin-left: 0%;
}

#u112020
{
	z-index: 163;
	width: 55px;
	height: 55px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -153px;
	background: transparent url("../images/wechat_qrcode_color.jpg") no-repeat left top;
	background-size: cover;
}

#u112019-6
{
	z-index: 157;
	width: 231px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #7F7F7F;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 50%;
	left: -78px;
}

#u112019-2
{
	line-height: 16px;
}

#u112019-4
{
	line-height: 24px;
}

#u112021
{
	z-index: 164;
	width: 257px;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
	margin-left: 50%;
	left: -141px;
}

#u181841
{
	z-index: 20;
	min-height: 313px;
	padding-bottom: 32px;
}

#u179913_align_to_page,#u181841_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#pu182121
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 38px;
	width: 12.77%;
	margin-left: 43.62%;
}

#u182121
{
	z-index: 101;
	width: 212px;
	height: 159px;
	position: relative;
	margin-left: 50%;
	left: -432.5px;
}

#u181843-11
{
	z-index: 22;
	width: 245px;
	min-height: 112px;
	margin-top: 3px;
	position: relative;
	margin-left: 50%;
	left: -448.5px;
}

#u181842
{
	z-index: 21;
	width: 319px;
	padding-top: 17px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: -160px;
}

#pu145880
{
	width: 60.82%;
	margin-left: 19.6%;
}

#u145880
{
	z-index: 69;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -97.5px;
}

#menuu145881
{
	z-index: 70;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -49px;
}

#u145890
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145891-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145897
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145898-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145906
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145908-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145913
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145915-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145883
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145890.MuseMenuActive,#u145897.MuseMenuActive,#u145906.MuseMenuActive,#u145913.MuseMenuActive,#u145883.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145885-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145890.MuseMenuActive #u145891-4,#u145897.MuseMenuActive #u145898-4,#u145906.MuseMenuActive #u145908-4,#u145913.MuseMenuActive #u145915-4,#u145883.MuseMenuActive #u145885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#menuu145844
{
	z-index: 38;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -0.5000000000000071px;
}

#u145889,#u145873
{
	width: 97px;
	position: relative;
}

#u145874
{
	width: 97px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145876-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145860
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145861-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145846
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145849-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145869
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145871-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145896,#u145903,#u145910,#u145882,#u145859,#u145845,#u145866,#u145852
{
	width: 97px;
	margin-top: 2px;
	position: relative;
}

#u145855
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145874.MuseMenuActive,#u145860.MuseMenuActive,#u145846.MuseMenuActive,#u145869.MuseMenuActive,#u145855.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145858-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145874.MuseMenuActive #u145876-4,#u145860.MuseMenuActive #u145861-4,#u145846.MuseMenuActive #u145849-4,#u145869.MuseMenuActive #u145871-4,#u145855.MuseMenuActive #u145858-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u182171
{
	z-index: 106;
	width: 252px;
	margin-top: 18px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u182168-4
{
	z-index: 111;
	width: 83px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 50%;
	left: -126px;
}

#u181845
{
	z-index: 107;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -36px;
}

#u181845:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: -36px;
	margin: 0px -10000px 0px 50%;
}

#u181846
{
	z-index: 108;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 7px;
}

#u181846:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 7px;
	margin: 0px -10000px 0px 50%;
}

#u181847
{
	z-index: 109;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 49px;
}

#u181847:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 49px;
	margin: 0px -10000px 0px 50%;
}

#u181848
{
	z-index: 110;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 91px;
}

#u181848:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 91px;
	margin: 0px -10000px 0px 50%;
}

#pu182141-4
{
	margin-right: -10000px;
	margin-top: 51px;
	width: 4.33%;
	margin-left: 47.84%;
}

#u182141-4
{
	z-index: 102;
	width: 83px;
	min-height: 24px;
	position: relative;
	margin-left: 50%;
	left: 181.5px;
}

#u181851-4
{
	z-index: 33;
	width: 83px;
	min-height: 24px;
	margin-top: 145px;
	position: relative;
	margin-left: 50%;
	left: 181.5px;
}

#u184691
{
	z-index: 143;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	width: 13.65%;
	left: 59.85%;
}

#u184674
{
	z-index: 155;
	height: 101px;
	position: relative;
	margin-right: -10000px;
	width: 46.19%;
}

#u184236
{
	z-index: 144;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	left: 46.57%;
}

#u183993-10
{
	z-index: 145;
	width: 139px;
	min-height: 101px;
	position: relative;
	margin-right: -10000px;
}

#u181852
{
	z-index: 37;
	width: 179px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	margin-left: 50%;
	left: 224px;
}

#u181841-bw
{
	z-index: 20;
	min-height: 313px;
}

#u181840-5,#u181840-5-bw
{
	z-index: 15;
	min-height: 78px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

