body {
	margin: 0px;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#top {
	position: relative;
	height: 60px;
	width: 1000px;
	margin: 0px auto;
}

#top_logo {
	position: absolute;
	top: 10px;
	left: 0px;
}

#top_kajin {
	position: absolute;
	top: 10px;
	left: 50px;
	height: 43px;
	font-family: "Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif";
	letter-spacing: 4px;
	line-height: 43px;
	color: #1fa7b2;
}

#top_kajin a {
	color: #1fa7b2;
}

#top_kajin a:hover {
	text-decoration: none;
}

#top_button {
	display: table;
	position: absolute;
	top: 20px;
	left: 900px;
	width: 200px;
}

#top_button a {
	color: #1fa7b2;
}

.middle_cell {
	vertical-align: middle;
	display: table-cell;
}

#head {
	background-image: url("img/background.jpg");
	background-size: 100% 789px;
	width: 100%;
	height: 200px;
}

#main {
	width: 1000px;
	margin: 0px auto;
}

#information {
	position: relative;
	margin: 30px 10px 10px 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 460px;
	height: 520px;
	border-radius: 5px;
}

#information a {
	color: #1aa8b3;
	border: 1px solid #1aa8b3;
	border-radius: 12px;
	padding: 5px;
	font-size: 14px;
}

#information a:hover {
	text-decoration: none;
	color: white;
	background-color: #1aa8b3;
}

#notice {
	position: relative;
	margin: 30px 20px 10px 10px;
	float: right;
	border: 1px solid #dddddd;
	background-color: white;
	width: 460px;
	height: 250px;
	border-radius: 5px;
	background-image: url("img/background.jpg");
	background-size: 100% 789px;
}

#notice_empty, #notice_next {
	margin-top: 30px;
	color: white;
}

#notice_empty a, #notice_next a {
	color: #1aa8b3;
}

#worry {
	position: relative;
	margin: 10px 20px 10px 10px;
	float: right;
	border: 1px solid #dddddd;
	background-color: white;
	width: 460px;
	height: 250px;
	border-radius: 5px;
}

#worry a, .rate_btn {
	color: #1aa8b3;
	border: 1px solid #1aa8b3;
	border-radius: 12px;
	padding: 5px;
	font-size: 14px;
}

#worry a:hover {
	text-decoration: none;
	color: white;
	background-color: #1aa8b3;
}

.rate_btn {
	background-color: white;
}
#goal {
	position: relative;
	margin: 10px 10px 10px 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 460px;
	height: 250px;
	border-radius: 5px;
}

#homework {
	position: relative;
	margin: 10px 20px 10px 10px;
	float: right;
	border: 1px solid #dddddd;
	background-color: white;
	width: 460px;
	height: 250px;
	border-radius: 5px;
}

#appointment {
	position: relative;
	margin: 10px 20px 30px 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 960px;
	border-radius: 5px;
}

#appointment_table {
	margin: 60px 0px 20px 40px;
	margin-top: 60px;
	margin-bottom: 20px;
	padding: 2px;

	border-collapse: collapse;
}

#appointment_table td {
	padding: 20px 10px 20px 10px;
}

#appointment_table tr.tl td {
	border-top: 1px solid #f2f2f2;
}

#appointment_table .date {
	width: 150px;
	text-align: right;
	letter-spacing: 5px;
	color: #1aa8b3;
}

#appointment_table .time {
	width: 100px;
	text-align: center;
	letter-spacing: 5px;
	color: #1aa8b3;
}

#appointment_table .state {
	width: 150px;
	text-align: center;
	letter-spacing: 2px;
	color: #1aa8b3;
}

#appointment_table .counselor {
	width: 100px;
	text-align: center;
	letter-spacing: 5px;
	color: #808080;
}

#appointment_table .evaluate {
	width: 150px;
	text-align: center;
	letter-spacing: 5px;
	color: #808080;
}

#appointment_table .evaluate a {
	text-align: center;
	letter-spacing: 2px;
	color: #1aa8b3;
	border: 1px solid #1aa8b3;
	border-radius: 12px;
	padding: 5px;
	font-size: 14px;
}

#appointment_table .evaluate a:hover {
	text-decoration: none;
	color: white;
	background-color: #1aa8b3;
}

#appointment_table .pay {
	width: 120px;
	text-align: center;
	letter-spacing: 5px;
	color: #808080;
}

#appointment_table .pay a {
	width: 210px;
	text-align: center;
	letter-spacing: 2px;
	color: #1aa8b3;
	border: 1px solid #1aa8b3;
	border-radius: 12px;
	padding: 5px;
	font-size: 14px;
}

#appointment_table .pay a:hover {
	text-decoration: none;
	color: white;
	background-color: #1aa8b3;
}

#appointment_message {
	margin: 0px auto;
	margin-top: 60px;
	margin-bottom: 20px;
	padding-left: 50px;
}

#appointment_message a {
	color: #1aa8b3;
}

#bottom {
	clear: both;
	text-align: center;
	width: 100%;
	height: 100px;line-height: 100px;
	background-color: #333333;
}

#bottom_kajin {
	font-family: "Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif";
	letter-spacing: 4px;
	color: #999999;
}

#bottom_copyright {
	font-family: "Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif";
	color: #999999;
}

#information_table {
	position: absolute;
	top: 50px;
	width: 460px;
	margin: 30px 0px 0px 0px;
	border-collapse: collapse;
}

#information_table .title {
	padding: 20px 0px 20px 80px;
	color: #27a8b2;
	width: 100px;
	text-align: left;
}

#information_table .data {
	padding: 20px 80px 20px 0px;
	color: #808080;
	width: 360px;
	text-align: right;
}


#information_table tr.ul td {
	border-bottom: 1px solid #f2f2f2;
}

#block {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

#popup_change_password {
	position: fixed;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	width: 500px;
	height: 500px;
	background-color: white;
	display: none;
}

.box_title {
	position: relative;
	left: 80px;
	top: 30px;
	color: #1aa8b3;
	font-size: 20;
}

.box_title img {
	padding-right: 10px;
}

#worry_word {
	position: relative;
	margin: 40px 80px 20px 80px;
	color: #808080;
}

#popup_login {
	position: fixed;
	left: calc(50% - 300px);
	top: calc(50% - 250px);
	width: 600px;
	height: 500px;
	background-color: white;
}

.box_radius {
	border-radius: 5px;
}

#information_table {
	position: absolute;
	top: 50px;
	width: 460px;
	margin: 20px 0px 0px 0px;
	border-collapse: collapse;
}

#login_table {
	padding: 20px;
}

#login_table .title {
	padding: 10px 0px 10px 40px;
	color: #808080;
	width: 150px;
	text-align: left;
}

#login_table .data {
	padding: 10px 40px 10px 0px;
	color: #808080;
	width: 150px;
	text-align: left;
}


#login_table tr.ul td {
	border-bottom: 1px solid #f2f2f2;
}

#login_create {
	position: absolute;
	left: 380px;
	top: 285px;
	padding: 20px;
	line-height: 30px;
}

#login_create a {
	color: #1aa8b3;
}

.myButton {
	position: relative;left:150px; top:10px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px; border-radius:28px; border:1px solid #18ab29; display:inline-block; cursor:pointer; color:#ffffff; font-family:Arial; font-size:17px; padding:16px 31px; text-decoration:none; text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover { background-color:#5cbf2a; }
.myButton:active { position:relative; top:1px; }

#popup_change_information {
	position: fixed;
	left: calc(50% - 225px);
	top: calc(50% - 300px);
	width: 450px;
	height: 600px;
	background-color: white;
	display: none;
}

#popup_change_worry {
	position: fixed;
	left: calc(50% - 225px);
	top: calc(50% - 200px);
	width: 450px;
	height: 400px;
	background-color: white;
	display: none;
	/*position: fixed;
	left: calc(50% - 250px);
	top: calc(50% - 250px);
	width: 500px;
	height: 500px;
	background-color: white;
	display: none;*/
}

#greenback {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("img/background.jpg");
	background-size: 100% 789px;
}

.div_center {
	margin: 0px auto;
}

.box_message {
	color: #808080;
}

.box_message_center {
	text-align: center;
	color: #808080;
}

.div_innerline_out {
	padding: 7px 8px 8px 7px;
}

.div_innerline_in {
	width: 100%;
	height: 100%;
	border: 1px solid #1aa8b3;
}

.box_title_center {
	text-align: center;
	margin: 0px auto;
	position: relative;
	color: #1aa8b3;
	font-size: 20px;
	margin: 40px;
}

.button_image {
	text-align: center;
	font-size: 20px;
	color: white;
	border: none;
	background: url("img/button.png") no-repeat left top;
	width:148px;
	height:61px;
	cursor: pointer;
	display: block;
	margin: 0px auto;
	margin-top: 30px;
	outline: none;
}

.button_image:hover {
	background: url("img/button_hover.png") no-repeat left top;
}

.box_warning {
	color: #ff8000;
}

.box_warning_center {
	text-align: center;
	color: #ff8000;
}

input[type=text], input[type=password], select {
	border-radius: 20px;
	height: 40px;
	background-color: #d9d9d9;
	outline: none;
	padding: 5px 10px 5px 10px;
	border: 0px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #808080;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #808080;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #808080;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #808080;
}

textarea {
	border-radius: 10px;
	padding: 5px;
}

#head_inner {
	position: relative;
	width: 1000px;
	height: 100%;
	margin: 0px auto;
}

#menubar {
	position: absolute;
	left: 20px;
	top: 170px;
	width: 960px;
	height: 40px;
}

#menubar .menuitem {
	position: relative;
	float: left;
	width: 190px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	box-shadow: 5px 5px 5px rgba(20%, 20%, 40%, 0.3);
}

#menubar .active {
	background-color: #1aa8b3;
}

#menubar .active a {
	color: white;
}

#menubar .active a:hover {
	text-decoration: none;
}

#menubar .nonactive {
	background-color: white;
}

#menubar .nonactive a {
	color: #1aa8b3;
}

#menubar .nonactive a:hover {
	text-decoration: none;
}

#menubar .left {
	border-left: 0px;
}

#menubar .right {
	border-left: 0px;
}

#menubar .pointer {
	position: absolute;
	top: 40px;
	left: 75px;
}

/***** reserve *****/

#available {
	position: relative;
	margin: 30px 20px 30px 20px;
	padding-bottom: 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 960px;
	border-radius: 5px;
}

#available_table {
	margin: 0px auto;
	margin-top: 60px;
	padding: 2px;
	border: 1px solid #d9d9d9;
	border-spacing: 5px;
}

#available_table th {
	padding: 10px;
	width: 105px;
	text-align: center;
	font-weight: normal;
	color: white;
	background-color: #1aa8b3;
	letter-spacing: 4px;
}

#available_table td {
	padding: 10px;
	width: 105px;
	height: 120px;
	color: #1aa8b3;
	border: 1px solid #d9d9d9;
	vertical-align: top;
}

#available_table .past {
	background-color: #d9d9d9;
}

#available_table .today {
	background-color: #fdeaaa;
}

#available_table .future {
	background-color: white;
}

#available_table .slot {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	color: black;
	margin: 5px 0px 5px 0px;
	padding: 2px;
}

#available_table .slot:hover {
	background-color: #d9d9d9;
}

#available_table .slot a {
	cursor: pointer;
	color: black;
}

#available_table .slot a:hover {
	text-decoration: none;
}

#available_counselor_list {
	position: relative;
	margin: 50px 80px -30px 80px;
}

.available_counselor_item {
	float: left;
	margin: 5px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.available_counselor_item:hover {
	background-color: #d9d9d9;
}

.available_counselor_item a {
	color: black;
}

.available_counselor_item a:hover {
	text-decoration: none;
}

.available_counselor_item_selected {
	background: #1aa8b3;
}

#popup_reserve {
	position: fixed;
	left: calc(50% - 300px);
	top: calc(50% - 250px);
	width: 600px;
	height: 500px;
	background-color: white;
	display: none;
}

#reserve_table {
	margin: 0px auto;
	border-collapse: collapse;
}

#reserve_table .title {
	padding: 15px 0px 15px 30px;
	color: #27a8b2;
	width: 120px;
	text-align: left;
}

#reserve_table .data {
	padding: 15px 30px 15px 0px;
	color: #808080;
	width: 230px;
	text-align: left;
}

#reserve_table a {
	color: blue;
}

#reserve_finish_message {
	margin: 0px auto;
	width: 800px;
	margin-top: 60px;
	color: #808080;
}

#reserve_counselor a {
	color: #1aa8b3;
	background-color: white;
	border-radius: 12px;
	padding: 5px;
	border: 1px solid #1aa8b3;
}

#reserve_counselor a:hover {
	text-decoration: none;
	color: white;
	background-color: #1aa8b3;
}

/********** contact **********/

#contact {
	position: relative;
	margin: 30px 20px 30px 20px;
	padding-bottom: 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 960px;
	border-radius: 5px;
}


#contact_text {
	margin: 60px 120px 0px 120px;
	color: #808080;
}

#popup_contact {
	position: fixed;
	left: calc(50% - 300px);
	top: calc(50% - 200px);
	width: 600px;
	height: 400px;
	background-color: white;
	display: none;
}

/********** board **********/

#compose {
	position: relative;
	margin: 30px 20px 30px 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 960px;
	border-radius: 5px;
}

#compose_message {
	margin: 20px 30px 10px 30px;
	width: 900px;
	height: 120px;
	padding: 10px;
}

#inbox {
	position: relative;
	margin: 0px 10px 30px 20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
	width: 380px;
	height: 540px;
	border-radius: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

#inbox::-webkit-scrollbar {
	width: 8px;
}

#inbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
}

#inbox::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.inbox_item {
	position: relative;
	width: 380px;
	height: 90px;
	border-bottom: 1px solid #dddddd;
}

.inbox_item_photo {
	position: relative;
	width: 60px;
	height: 60px;
	left: 25px;
	top: 20px;
	border-radius: 30px;
}

.circle_kajin {
	background-color: #d0d0d0;
}

.circle_you {
	background-color: #3ac8d3;
}

.inbox_item_photo_name {
	position: relative;
	margin: 0px solid;
	top: 20px;
	text-align: center;
}

.name_kajin {
	color: #a0a0a0;
}

.name_you {
	color: #0a8893;
}

.inbox_item_sender {
	position: absolute;
	left: 100px;
	margin-top: 10px;
	top: 0px;
	font-size: 14;
}

.inbox_item_title {
	position: absolute;
	left: 100px;
	top: 35px;
	font-size: 20;
	cursor: pointer;
}

.inbox_item_datetime {
	position: absolute;
	left: 100px;
	top: 70px;
	color: #c0c0c0;
	font-size: 14;
}

.message_box {
	position: relative;
	margin: 0px 20px 30px 10px;
	float: right;
	border: 1px solid #dddddd;
	background-color: white;
	width: 540px;
	height: 540px;
	border-radius: 5px;
}

.message_top {
	position: relative;
	width: 540px;
	height: 90px;
	border-bottom: 1px solid #dddddd;
}

.message_content {
	padding: 20px;
	color: #808080;
}

.formContainer {
	text-align: center;
	margin: 0 auto;
	border: 5px solid white;
	background-color: #EDEDED;
	width: 400px;
	/*height: 400px;*/
	display: none;
}

.ratingForm {
	margin: 30px auto;
}

.caption {
	/*margin-bottom: 10px;*/
	font-size: 24px;
	color: #A1A1A1;
}

.counselor_info{
	margin: 15px 0;
	line-height: 30px;
}

.rating {
	width: 200px;
	display: inline-block;
	text-align: left;
	color: #A1A1A1;
	line-height: 40px
}

.ratingForm textarea {
	margin-top: 20px;
	height: 100px;
	font-size: 14px;
	width: 80%;
	border-radius: 5px;
	border-color: #A6A6A6;
}

.btn {
	background-color: #6BC4CA;
	color: white;
	width: 150px;
	margin-top: 15px;
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.fa,
.fa-star {
	/*filled star*/
	font-size: 24px;
	color: #67C4CB;
	cursor: pointer;
	vertical-align: middle;
}

.fa-star-o {
	/*empty star*/
	display: inline-block;
	cursor: pointer;
}
