.version.jincha_chang /* version checker */
{
	color: #0000F2;
	background-color: #EC418A;
}

.html
{
	background-color: #EDEDED;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 899.2777813428086px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 84px;
	width: 0.01px;
}

#u14092
{
	z-index: 214;
	height: 65px;
	top: 0px;
}

#u14092-bw
{
	z-index: 214;
}

#u14239
{
	z-index: 215;
	width: 213px;
	top: 14px;
	left: 140px;
}

#menuu14240
{
	z-index: 216;
	width: 213px;
	margin-right: -10000px;
}

#u14241
{
	width: 213px;
	min-height: 38px;
	margin-right: -10000px;
}

#u14244
{
	width: 213px;
	padding-bottom: 22px;
}

#u14244.MuseMenuActive
{
	width: 213px;
	min-height: 0px;
	margin: 0px;
}

#u14246-5
{
	width: 198px;
	min-height: 16px;
	margin-right: -10000px;
	top: 11px;
	left: 7px;
}

#u14244.MuseMenuActive #u14246-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u18157
{
	z-index: 224;
	width: 15px;
	height: 15px;
	top: 25px;
	left: 111px;
}

#pu14388
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 654px;
}

#u14388
{
	z-index: 121;
	width: 306px;
	padding-bottom: 17px;
}

#u14389-4
{
	z-index: 122;
	width: 306px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u14387
{
	z-index: 120;
	width: 306px;
	padding-bottom: 29px;
	top: -1px;
	margin-bottom: -1px;
}

#u13122-6
{
	z-index: 139;
	width: 286px;
	min-height: 132px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 10px;
}

#u13122-2
{
	letter-spacing: 2px;
	color: #0CA7B3;
}

#u13122-4
{
	letter-spacing: 4px;
	color: #7F7F7F;
}

#u13122-3
{
	letter-spacing: 2px;
}

#u14154
{
	z-index: 3;
	width: 51px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 280px;
	left: 75px;
}

#u14148
{
	z-index: 16;
	width: 260px;
	margin-right: -10000px;
	margin-top: 211px;
	left: 102px;
}

#u14149
{
	z-index: 21;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u14150-4
{
	z-index: 17;
	width: 203px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
}

#u14151-4
{
	z-index: 23;
	width: 326px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 275px;
	left: 55px;
}

#u14378
{
	z-index: 107;
	width: 633px;
	padding-bottom: 20px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u13119
{
	z-index: 128;
	width: 262px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 20px;
	background: transparent url("../images/jin_cha%20chang-ieu13119-fr.png") no-repeat right top;
	background: rgba(0,0,0,0) url("../images/jin_cha%20chang.jpg") no-repeat center top;
	background-color: transparent;
	background-size: cover;
}

#pu13139
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 322px;
}

#u13139
{
	z-index: 149;
	width: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u13141
{
	z-index: 154;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/kajin%20telemedical-09-u6499-fr.png") no-repeat left top;
	background-size: contain;
}

#u13140-4
{
	z-index: 150;
	width: 200px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 39px;
}

#u13128-6
{
	z-index: 129;
	width: 270px;
	min-height: 83px;
	background-color: transparent;
	color: #0CA7B3;
	text-align: center;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 41px;
	position: relative;
}

#u13128-2
{
	font-size: 40px;
	line-height: 59px;
}

#u13128-4
{
	line-height: 21px;
}

#pu14379
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 40px;
}

#u14379
{
	z-index: 108;
	width: 130px;
	margin-right: -10000px;
}

#u14380
{
	z-index: 109;
	width: 130px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u14381-4
{
	z-index: 110;
	width: 130px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u14382
{
	z-index: 114;
	width: 130px;
	margin-right: -10000px;
	left: 140px;
}

#u14383
{
	z-index: 115;
	width: 130px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u14384-4
{
	z-index: 116;
	width: 129px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1px;
}

#u23803
{
	z-index: 213;
	width: 127px;
	height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 327px;
}

.ie #u23803
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu13127
{
	width: 0.01px;
	margin-top: 22px;
}

#u13127
{
	z-index: 158;
	width: 306px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u13135-4
{
	z-index: 201;
	width: 306px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u13152
{
	z-index: 159;
	width: 306px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 327px;
	border-width: 0px 0px 1px;
}

#u13153-4
{
	z-index: 205;
	width: 306px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u13124
{
	z-index: 127;
	width: 306px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 654px;
	border-width: 0px 0px 1px;
}

#u13145-4
{
	z-index: 145;
	width: 306px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#ppu14388,#pu13130
{
	width: 0.01px;
}

#u13130
{
	z-index: 155;
	width: 306px;
	background-color: #F7F7F7;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u13121-12
{
	z-index: 161;
	width: 258px;
	min-height: 222px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 24px;
}

#u13121-2,#u13121-7
{
	color: #0CA7B3;
}

#u13121-4,#u13121-5,#u13121-9,#u13121-10
{
	color: #7F7F7F;
}

#u13150
{
	z-index: 156;
	width: 306px;
	background-color: #F7F7F7;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u13151-19
{
	z-index: 173;
	width: 258px;
	min-height: 222px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 24px;
}

#u13142
{
	z-index: 126;
	width: 306px;
	background-color: #F7F7F7;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 654px;
}

#u13125-4
{
	z-index: 135;
	width: 284px;
	min-height: 222px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 22px;
}

#u13131
{
	z-index: 160;
	width: 960px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	margin-top: 20px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u13120-4
{
	z-index: 209;
	width: 960px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u13129
{
	z-index: 157;
	width: 960px;
	background-color: #F7F7F7;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u13126-9
{
	z-index: 192;
	width: 916px;
	min-height: 217px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 24px;
}

#u13126-2,#u13126-3,#u13126-5,#u13126-6
{
	text-align: center;
}

#pu14155
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 4px;
}

#u14155
{
	z-index: 2;
	min-height: 357.9999999999998px;
	padding-bottom: 0px;
}

#u14155_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 45px;
}

#pmenuu19887
{
	width: 0.01px;
	left: 580px;
	position: relative;
}

#menuu19887
{
	z-index: 66;
	width: 94px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u19888
{
	width: 94px;
}

#u19891
{
	width: 94px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19892-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19919
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19921-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19912
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19915-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19898
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19899-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19916,#u19909,#u19895,#u19902
{
	width: 94px;
	margin-top: 2px;
}

#u19905
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19891.MuseMenuActive,#u19919.MuseMenuActive,#u19912.MuseMenuActive,#u19898.MuseMenuActive,#u19905.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19906-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19891.MuseMenuActive #u19892-4,#u19919.MuseMenuActive #u19921-4,#u19912.MuseMenuActive #u19915-4,#u19898.MuseMenuActive #u19899-4,#u19905.MuseMenuActive #u19906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u19850
{
	z-index: 34;
	width: 93px;
	margin-right: -10000px;
	left: 111px;
}

#menuu19851
{
	z-index: 35;
	width: 93px;
	margin-right: -10000px;
}

#u19852
{
	width: 93px;
}

#u19855
{
	width: 93px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u19857-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 11px;
}

#u19874
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19877-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19860
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19862-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19881
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19882-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19873,#u19859,#u19880,#u19866
{
	width: 93px;
	margin-top: 2px;
}

#u19869
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19855.MuseMenuActive,#u19874.MuseMenuActive,#u19860.MuseMenuActive,#u19881.MuseMenuActive,#u19869.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19872-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19855.MuseMenuActive #u19857-4,#u19874.MuseMenuActive #u19877-4,#u19860.MuseMenuActive #u19862-4,#u19881.MuseMenuActive #u19882-4,#u19869.MuseMenuActive #u19872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#pu14110-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 261px;
}

#u14110-9
{
	z-index: 5;
	width: 195px;
	min-height: 72px;
}

#pu14109
{
	width: 0.01px;
	margin-top: 16px;
}

#u14109
{
	z-index: 14;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u14109:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u14193
{
	z-index: 15;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
	left: 46px;
}

#u14156
{
	z-index: 22;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
	left: 92px;
}

#u14193:hover,#u14156:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17262-7
{
	z-index: 27;
	width: 544px;
	min-height: 59px;
	left: 308px;
	margin-top: 60px;
}

#u14155-bw
{
	z-index: 2;
	min-height: 357.9999999999998px;
	margin-top: 90px;
}

#u14153
{
	z-index: 4;
	width: 389px;
	height: 435px;
	margin-right: -10000px;
	margin-top: -23px;
	left: 117px;
}

#u23793
{
	z-index: 97;
	width: 217px;
	margin-right: -10000px;
	margin-top: 145px;
	left: 211px;
}

#u23795
{
	z-index: 102;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u23794-4
{
	z-index: 98;
	width: 161px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
}

#u23796-4
{
	z-index: 103;
	width: 326px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 215px;
	left: 152px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

