.version.joyce_chen /* version checker */
{
	color: #0000F0;
	background-color: #F549DB;
}

.html
{
	background-color: #EDEDED;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 899.3500000000658px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 84px;
	width: 0.01px;
}

#u14092
{
	z-index: 223;
	height: 65px;
	top: 0px;
}

#u14092-bw
{
	z-index: 223;
}

#u14239
{
	z-index: 224;
	width: 213px;
	top: 14px;
	left: 140px;
}

#menuu14240
{
	z-index: 225;
	width: 213px;
	margin-right: -10000px;
}

#u14241
{
	width: 213px;
	min-height: 38px;
	margin-right: -10000px;
}

#u14244
{
	width: 213px;
	padding-bottom: 22px;
}

#u14244.MuseMenuActive
{
	width: 213px;
	min-height: 0px;
	margin: 0px;
}

#u14246-5
{
	width: 198px;
	min-height: 16px;
	margin-right: -10000px;
	top: 11px;
	left: 7px;
}

#u14244.MuseMenuActive #u14246-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 198px;
	margin: 0px -10000px 0px 0px;
}

#u18157
{
	z-index: 233;
	width: 15px;
	height: 15px;
	top: 25px;
	left: 111px;
}

#ppu14388
{
	width: 0.01px;
}

#pu14388
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 654px;
}

#u14388
{
	z-index: 121;
	width: 306px;
	padding-bottom: 17px;
}

#u14389-4
{
	z-index: 122;
	width: 306px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u14387
{
	z-index: 120;
	width: 306px;
	padding-bottom: 108px;
	top: -1px;
	margin-bottom: -1px;
}

#u9308-6
{
	z-index: 154;
	width: 262px;
	min-height: 53px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 22px;
}

#u9308-2
{
	letter-spacing: 2px;
	color: #0CA7B3;
}

#u9308-4
{
	letter-spacing: 4px;
	color: #7F7F7F;
}

#u9308-3
{
	letter-spacing: 2px;
}

#u14154
{
	z-index: 3;
	width: 51px;
	height: 45px;
	margin-right: -10000px;
	margin-top: 280px;
	left: 75px;
}

#u14148
{
	z-index: 16;
	width: 260px;
	margin-right: -10000px;
	margin-top: 211px;
	left: 102px;
}

#u14149
{
	z-index: 21;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u14150-4
{
	z-index: 17;
	width: 203px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
}

#u14151-4
{
	z-index: 23;
	width: 326px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 275px;
	left: 55px;
}

#u14378
{
	z-index: 107;
	width: 633px;
	padding-bottom: 20px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u9310
{
	z-index: 128;
	width: 262px;
	height: 284px;
	border-style: none;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 20px;
	background: transparent url("../images/joyce_chen.jpg") no-repeat center top;
}

#pu9295
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 41px;
	margin-left: 322px;
}

#u9295
{
	z-index: 164;
	width: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9296
{
	z-index: 169;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/kajin%20telemedical-09-u6499-fr.png") no-repeat left top;
	background-size: contain;
}

#u9297-4
{
	z-index: 165;
	width: 200px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 39px;
}

#u9309-6
{
	z-index: 129;
	width: 270px;
	min-height: 83px;
	background-color: transparent;
	color: #0CA7B3;
	text-align: center;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 41px;
	position: relative;
}

#u9309-2
{
	font-size: 40px;
	line-height: 59px;
}

#u9309-4
{
	line-height: 21px;
}

#pu14379
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 40px;
}

#u14379
{
	z-index: 108;
	width: 130px;
	margin-right: -10000px;
}

#u14380
{
	z-index: 109;
	width: 130px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u14381-4
{
	z-index: 110;
	width: 130px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u14382
{
	z-index: 114;
	width: 130px;
	margin-right: -10000px;
	left: 140px;
}

#u14383
{
	z-index: 115;
	width: 130px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u14384-4
{
	z-index: 116;
	width: 129px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 1px;
}

#u23807
{
	z-index: 222;
	width: 127px;
	height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 327px;
}

.ie #u23807
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u9322
{
	z-index: 127;
	width: 959px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	margin-left: 1px;
	margin-top: 22px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9324-4
{
	z-index: 160;
	width: 959px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u9314
{
	z-index: 126;
	width: 959px;
	background-color: #F7F7F7;
	padding-bottom: 29px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9312-19
{
	z-index: 135;
	width: 844px;
	min-height: 159px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 59px;
}

#u9323
{
	z-index: 171;
	width: 960px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	margin-top: 20px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9298-4
{
	z-index: 205;
	width: 960px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u9315
{
	z-index: 170;
	width: 960px;
	background-color: #F7F7F7;
	padding-bottom: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9317-33
{
	z-index: 172;
	width: 866px;
	min-height: 460px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 37px;
}

#u9317-12 > li:before,#u9317-28 > li:before
{
	content: '○';
}

#u9346
{
	z-index: 209;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 20px;
	position: relative;
}

#u9316
{
	z-index: 211;
	width: 960px;
	border-style: solid;
	border-color: #0CA7B3;
	background-color: #FFFFFF;
	padding-bottom: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9311-4
{
	z-index: 218;
	width: 960px;
	min-height: 31px;
	background-color: transparent;
	color: #0CA7B3;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u9306
{
	z-index: 210;
	width: 960px;
	background-color: #F7F7F7;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u9299-6
{
	z-index: 212;
	width: 911px;
	min-height: 280px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -109px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 30px;
}

#pu14155
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 18px;
}

#u14155
{
	z-index: 2;
	min-height: 357.9999999999998px;
	padding-bottom: 0px;
}

#u14155_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 45px;
}

#pmenuu19887
{
	width: 0.01px;
	left: 580px;
	position: relative;
}

#menuu19887
{
	z-index: 66;
	width: 94px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u19888
{
	width: 94px;
}

#u19891
{
	width: 94px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19892-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19919
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19921-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19912
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19915-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19898
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19899-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19916,#u19909,#u19895,#u19902
{
	width: 94px;
	margin-top: 2px;
}

#u19905
{
	width: 94px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u19891.MuseMenuActive,#u19919.MuseMenuActive,#u19912.MuseMenuActive,#u19898.MuseMenuActive,#u19905.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19906-4
{
	width: 94px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19891.MuseMenuActive #u19892-4,#u19919.MuseMenuActive #u19921-4,#u19912.MuseMenuActive #u19915-4,#u19898.MuseMenuActive #u19899-4,#u19905.MuseMenuActive #u19906-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u19850
{
	z-index: 34;
	width: 93px;
	margin-right: -10000px;
	left: 111px;
}

#menuu19851
{
	z-index: 35;
	width: 93px;
	margin-right: -10000px;
}

#u19852
{
	width: 93px;
}

#u19855
{
	width: 93px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u19857-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 11px;
}

#u19874
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19877-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19860
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19862-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19881
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19882-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19873,#u19859,#u19880,#u19866
{
	width: 93px;
	margin-top: 2px;
}

#u19869
{
	width: 93px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u19855.MuseMenuActive,#u19874.MuseMenuActive,#u19860.MuseMenuActive,#u19881.MuseMenuActive,#u19869.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u19872-4
{
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	top: 10px;
}

#u19855.MuseMenuActive #u19857-4,#u19874.MuseMenuActive #u19877-4,#u19860.MuseMenuActive #u19862-4,#u19881.MuseMenuActive #u19882-4,#u19869.MuseMenuActive #u19872-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#pu14110-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 261px;
}

#u14110-9
{
	z-index: 5;
	width: 195px;
	min-height: 72px;
}

#pu14109
{
	width: 0.01px;
	margin-top: 16px;
}

#u14109
{
	z-index: 14;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u14109:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u14193
{
	z-index: 15;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
	left: 46px;
}

#u14156
{
	z-index: 22;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
	left: 92px;
}

#u14193:hover,#u14156:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17262-7
{
	z-index: 27;
	width: 544px;
	min-height: 59px;
	left: 308px;
	margin-top: 60px;
}

#u14155-bw
{
	z-index: 2;
	min-height: 357.9999999999998px;
	margin-top: 91px;
}

#u14153
{
	z-index: 4;
	width: 389px;
	height: 435px;
	margin-right: -10000px;
	margin-top: -23px;
	left: 117px;
}

#u23793
{
	z-index: 97;
	width: 217px;
	margin-right: -10000px;
	margin-top: 146px;
	left: 211px;
}

#u23795
{
	z-index: 102;
	width: 45px;
	height: 45px;
	margin-right: -10000px;
}

#u23794-4
{
	z-index: 98;
	width: 161px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
}

#u23796-4
{
	z-index: 103;
	width: 326px;
	min-height: 41px;
	margin-right: -10000px;
	margin-top: 216px;
	left: 152px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

