html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.red-word {
  color: #F99891; }

.green-word {
  color: #66c5cc; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

html {
  overflow-x: hidden;
  min-width: 100%; }

body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 30px;
  position: initial;
  font-size: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  position: absolute; }

button {
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button:hover {
    cursor: pointer; }
  button:focus {
    outline: none; }

label {
  cursor: pointer; }

input {
  background: #FFFFFF;
  color: #000000; }

.hide {
  display: none; }

#page {
  width: 100%;
  min-height: 100%;
  position: absolute; }

.step-container {
  width: 100%;
  opacity: 0;
  display: none; }
  .step-container#step1 #colelem2 .container {
    margin-top: 0px; }
  .step-container #colelem2 .container {
    margin-top: 50px;
    position: relative; }
  .step-container #colelem2 .book-title {
    height: 35px; }
  .step-container .book-title .icon {
    background: transparent url("../images/book-title.png") no-repeat center center;
    background-size: cover;
    height: 35px;
    width: 35px;
    float: left;
    margin: auto 0; }
  .step-container .book-title .word {
    float: left;
    vertical-align: middle;
    font-size: 18px;
    font-size: 1.125rem;
    color: #a6a6a6;
    margin: 2px 0 0 15px; }
  .step-container .book-title.green .icon {
    background: transparent url("../images/book-title-green.png") no-repeat center center;
    background-size: cover; }
  .step-container .book-title.green .word {
    color: #66c5cc; }
  .step-container .book-title.pay-title {
    height: 50px;
    margin-top: 80px; }
  .step-container .book-title.need-help {
    margin: 20px 50px;
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid #E6E6E6; }
    .step-container .book-title.need-help button {
      background: #b3aaa1;
      color: #FFFFFF;
      padding: 6px 20px;
      border-radius: 5px;
      float: right; }
      .step-container .book-title.need-help button:hover {
        background: #F99891; }
    .step-container .book-title.need-help .word.help {
      position: relative;
      top: 1px;
      margin-left: 30px;
      font-size: 15px;
      font-size: 0.9375rem; }
  .step-container h2.title {
    color: #66c5cc;
    font-size: 18px;
    font-size: 1.125rem;
    margin: 50px auto;
    width: 500px;
    text-align: center; }
  .step-container#step1 #colelem2 > div {
    opacity: 0;
    display: none; }
    .step-container#step1 #colelem2 > div.show {
      display: block; }
      .step-container#step1 #colelem2 > div.show.active {
        opacity: 1;
        transition: opacity 1s linear; }
  .step-container #colelem-choose {
    margin: 0 auto;
    width: 960px;
    position: relative; }
    .step-container #colelem-choose button.return-slide {
      position: absolute;
      right: 0;
      top: 0;
      background: #66c5cc;
      font-size: 16px;
      font-size: 1rem;
      width: 100px;
      height: 35px;
      border-radius: 5px;
      letter-spacing: 10px;
      padding: 0 0 0 10px;
      margin: 0 10px;
      color: #FFFFFF; }
      .step-container #colelem-choose button.return-slide:hover {
        background: #F99891; }
    .step-container #colelem-choose .teacher-info-container {
      display: none; }
      .step-container #colelem-choose .teacher-info-container.active {
        display: block; }
  .step-container #colelem-load img {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: 100px;
    position: relative;
    left: 50%;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    animation: rotate-logo 2s infinite; }
  .step-container #colelem-load p {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;
    font-size: 1.125rem;
    color: #66c5cc; }

@keyframes rotate-logo {
  0% {
    transform: rotateZ(0deg); }
  40% {
    transform: rotateZ(180deg);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  50% {
    transform: rotateZ(180deg); }
  90% {
    transform: rotateZ(360deg);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  100% {
    transform: rotateZ(360deg); } }
  .step-container #colelem-finish-choose .container > div {
    margin-bottom: 100px; }
    .step-container #colelem-finish-choose .container > div:nth-child(1) h3 {
      margin-top: -20px; }
    .step-container #colelem-finish-choose .container > div:nth-child(3) {
      position: relative; }
      .step-container #colelem-finish-choose .container > div:nth-child(3) h3 ~ p {
        width: 400px; }
  .step-container #colelem-finish-choose .card-img {
    width: 373px;
    height: 261px;
    background: transparent url("../images/card.png") 50% 50%/60% 60% no-repeat;
    margin: 30px auto 0 auto; }
  .step-container #colelem-finish-choose h3 {
    text-align: center;
    color: #66c5cc;
    font-size: 20px;
    font-size: 1.25rem; }
  .step-container #colelem-finish-choose h3 ~ p {
    text-align: center;
    color: #a6a6a6;
    font-size: 16px;
    font-size: 1rem;
    width: 520px;
    margin: 20px auto; }
  .step-container #colelem-finish-choose .down-arrow {
    width: 45px;
    height: 45px;
    background: transparent url("../images/down-arrow.png") 50% 50%/100% 100% no-repeat;
    margin: 80px auto 0 auto; }
  .step-container #colelem-finish-choose :nth-child(1) h3 {
    margin-top: -20px; }
  .step-container #colelem-finish-choose > div:nth-child(3) p {
    width: 400px; }
  .step-container #colelem-finish-choose .suggest {
    vertical-align: top;
    display: inline-block; }
    .step-container #colelem-finish-choose .suggest:nth-child(1) {
      width: 140px;
      margin: 0 20px 0 120px;
      border: #E6E6E6 2px solid;
      border-radius: 10px;
      padding: 65px 30px 35px 30px;
      color: #66c5cc; }
      .step-container #colelem-finish-choose .suggest:nth-child(1) .number {
        width: 72px;
        font-size: 72px;
        font-size: 4.5rem; }
      .step-container #colelem-finish-choose .suggest:nth-child(1) h5 {
        font-size: 15px;
        font-size: 0.9375rem; }
    .step-container #colelem-finish-choose .suggest:nth-child(2) {
      width: 450px;
      padding: 20px 40px; }
      .step-container #colelem-finish-choose .suggest:nth-child(2) h3 {
        text-align: left; }
      .step-container #colelem-finish-choose .suggest:nth-child(2) p {
        width: 100%;
        text-align: left; }
  .step-container #colelem-finish-choose .choose-card-div {
    height: 240px; }
    .step-container #colelem-finish-choose .choose-card-div .consultantBlock {
      box-shadow: 0 0 20px #333333;
      width: 200px;
      height: 223px;
      display: none;
      position: absolute;
      left: calc(50% - 110px);
      transform-origin: 50% 50%; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock .elementphoto, .step-container #colelem-finish-choose .choose-card-div .consultantBlock .elementline, .step-container #colelem-finish-choose .choose-card-div .consultantBlock .elementname {
        margin-left: 0;
        border-radius: 0; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock .elementname {
        background: rgba(98, 189, 197, 0.7); }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock .elementline {
        border-color: rgba(98, 189, 197, 0.7); }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock.active0 {
        display: inline-block;
        transform: scale(0.8, 0.8) translateX(-200px);
        z-index: 100;
        transition: all linear 0.3s; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock.active1 {
        display: inline-block;
        transform: scale(0.9, 0.9) translateX(-100px);
        z-index: 101;
        transition: all linear 0.3s; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock.active2 {
        display: inline-block;
        z-index: 102;
        transition: all linear 0.3s; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock.active3 {
        display: inline-block;
        transform: scale(0.9, 0.9) translateX(100px);
        z-index: 101;
        transition: all linear 0.3s; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock.active4 {
        display: inline-block;
        transform: scale(0.8, 0.8) translateX(200px);
        z-index: 100;
        transition: all linear 0.3s; }
      .step-container #colelem-finish-choose .choose-card-div .consultantBlock.none {
        display: none; }
  .step-container #colelem-finish-choose .choose-card-prev-btn {
    position: absolute;
    top: 230px;
    left: 150px;
    width: 35px;
    height: 35px;
    background: transparent url("../images/arrow-prev.png") 50% 50%/100% 100% no-repeat;
    cursor: pointer; }
  .step-container #colelem-finish-choose .choose-card-next-btn {
    position: absolute;
    top: 230px;
    right: 150px;
    width: 35px;
    height: 35px;
    background: transparent url("../images/arrow-next.png") 50% 50%/100% 100% no-repeat;
    cursor: pointer; }
  .step-container.show {
    display: block; }
    .step-container.show.active {
      opacity: 1;
      transition: opacity 1s linear; }
  .step-container > .colelem {
    width: 100%; }
    .step-container > .colelem .container {
      width: 960px;
      margin-left: auto;
      margin-right: auto; }
  .step-container #colelem1 {
    height: 62px;
    margin: 80px auto 0;
    text-align: center;
    border: #e5e5e5 none 1px;
    border-bottom-style: solid; }
    .step-container #colelem1 span {
      position: relative;
      top: -5px; }
    .step-container #colelem1 .words {
      margin-top: -20px;
      font-size: 15px;
      font-size: 0.9375rem;
      color: #a6a6a6;
      display: inline-block; }
      .step-container #colelem1 .words.active {
        color: #66c5cc; }
      .step-container #colelem1 .words.dot {
        width: 144px;
        height: 50px;
        margin: 10px 20px -18px 20px;
        background: transparent url("../images/dot.png") no-repeat center center;
        background-size: cover; }
  .step-container .hint-greybox {
    height: 400px;
    width: 500px;
    position: fixed;
    bottom: calc(50% - 200px);
    left: 50%;
    margin-left: -250px;
    background: #EDEDED;
    border: 10px solid #FFFFFF;
    z-index: 10001;
    transform: scale(0, 0);
    transform-origin: 50% 50%;
    text-align: center;
    color: #a1a1a1;
    line-height: 26px; }
    .step-container .hint-greybox.active {
      transform: scale(1, 1);
      transition: transform  0.3s linear; }
    .step-container .hint-greybox .title {
      font-size: 17px;
      font-size: 1.0625rem;
      margin: 30px 0 15px;
      height: 30px;
      padding: 10px 0 10px 25px;
      background: url("../images/exclamation.png") 30% 35%/35px 35px no-repeat; }
    .step-container .hint-greybox .content {
      text-align: left;
      margin-left: 80px;
      font-size: 16px;
      font-size: 1rem;
      line-height: 30px; }
    .step-container .hint-greybox .hint {
      margin: 15px 0 15px 0;
      font-size: 15px;
      font-size: 0.9375rem; }
    .step-container .hint-greybox .step-div {
      margin: 40px auto; }
      .step-container .hint-greybox .step-div button {
        letter-spacing: 2px;
        padding: 0 0 0 2px; }
    .step-container .hint-greybox#need-help-confirm {
      height: 300px;
      bottom: calc(50% - 150px); }
      .step-container .hint-greybox#need-help-confirm .title {
        background: url("../images/exclamation.png") 30% 35%/35px 35px no-repeat; }

.slick-slide:focus {
  outline: none; }

.choose-profile-div {
  text-align: center; }

.choose-profile {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 215px;
  padding: 20px 25px;
  border: 2px #E6E6E6 solid;
  margin: 40px 10px 0 10px;
  border-radius: 10px;
  box-sizing: border-box; }
  .choose-profile p {
    margin: 0; }
  .choose-profile .more-link {
    color: #66c5cc;
    font-size: 15px;
    font-size: 0.9375rem;
    width: 95px;
    position: relative;
    top: -5px;
    left: -8px; }
    .choose-profile .more-link:hover {
      color: #a6a6a6;
      cursor: pointer; }
  .choose-profile .elementchattitle {
    margin: 5px 0 0 0;
    color: #66c5cc;
    font-size: 18px;
    font-size: 1.125rem; }
  .choose-profile .elementchatcontent {
    margin: 10px 0 0 0;
    color: #a6a6a6;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 24px;
    max-height: 100px;
    overflow-y: hidden;
    text-align: left; }
    .choose-profile .elementchatcontent.words {
      max-height: 220px; }

.final-choose-div {
  width: 800px;
  margin: 80px auto 0 auto;
  text-align: center; }
  .final-choose-div .final-choose-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0 6px;
    background: #66c4cc; }
    .final-choose-div .final-choose-btn:hover {
      background: #F99891; }
    .final-choose-div .final-choose-btn:nth-child(1) {
      padding: 10px 30px 10px 35px;
      letter-spacing: 5px; }
    .final-choose-div .final-choose-btn:nth-child(2) {
      padding: 10px 34px 10px 35px;
      letter-spacing: 1px; }
    .final-choose-div .final-choose-btn:nth-child(3) {
      padding: 10px 0px 10px 35px;
      letter-spacing: 35px; }

#step1 .step-div button {
  padding: 0 0 0 2px;
  letter-spacing: 2px; }

#step1 #first-colelem {
  margin-top: 100px; }

#step1 .slide {
  width: 960px;
  margin: 0 auto; }
  #step1 .slide .container {
    opacity: 1;
    transition: opacity 1s; }
    #step1 .slide .container.hide {
      opacity: 0; }

#step1 .centerword, #step1 .askforhelp-title, #step1 .askforhelp-main-description1, #step1 .askforhelp-dot, #step1 .askforhelp-dot-main, #step1 .askforhelp-main-description2, #step1 .askforhelp-main-question, #step1 .askforhelp-description, #step1 .askforhelp-option, #step1 .askforhelp-oralreadyknow, #step1 .askforhelp-input-div {
  width: 960px;
  text-align: center;
  margin: 0 auto; }

#step1 #second-colelem {
  height: 520px; }
  #step1 #second-colelem .background {
    height: 520px;
    background: #f7f7f7; }
  #step1 #second-colelem .container {
    background-color: #f7f7f7;
    height: 520px;
    display: inline; }
  #step1 #second-colelem .not-answer-question {
    width: 162px;
    position: relative; }
    #step1 #second-colelem .not-answer-question.question1 {
      top: 410px;
      right: 80px; }
    #step1 #second-colelem .not-answer-question.question2 {
      top: 460px;
      right: 80px; }
    #step1 #second-colelem .not-answer-question:after {
      top: -6px;
      left: 25px; }

#step1 .centerinnerword {
  width: 550px;
  margin: 0 auto; }

#step1 .slide-hover {
  background: #f7f7f7;
  height: calc(100% - 240px);
  width: calc(50% - 320px);
  position: absolute;
  display: none; }
  #step1 .slide-hover.left-hover {
    left: 0; }
  #step1 .slide-hover.right-hover {
    right: 0; }

#step1 .slide-prev, #step1 .slide-next {
  position: absolute;
  top: 330px;
  height: 35px;
  width: 95px;
  z-index: 100; }
  #step1 .slide-prev:hover + .slide-hover, #step1 .slide-next:hover + .slide-hover {
    display: initial; }

#step1 .slide-prev {
  left: calc(50% - 415px);
  background: transparent url("../images/slide-prev.png") 0% 0%/35px 35px no-repeat; }

#step1 .slide-next {
  left: calc(50% + 380px - 60px);
  background: transparent url("../images/slide-next.png") 60px 0%/35px 35px no-repeat; }

#step1 .askforhelp-title {
  color: #66c5cc;
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 50px; }

#step1 .askforhelp-main-description1 {
  color: #a6a6a6;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 20px; }

#step1 .askforhelp-dot, #step1 .askforhelp-dot-main {
  margin-top: 10px;
  height: 50px;
  width: 130px; }
  #step1 .askforhelp-dot.slide2, #step1 .slide2.askforhelp-dot-main {
    background: transparent url("../images//progress2.png") 50% 50%/100% no-repeat; }
  #step1 .askforhelp-dot.slide3, #step1 .slide3.askforhelp-dot-main {
    background: transparent url("../images//progress3.png") 50% 50%/100% no-repeat; }
  #step1 .askforhelp-dot.slide4, #step1 .slide4.askforhelp-dot-main {
    background: transparent url("../images//progress4.png") 50% 50%/100% no-repeat; }

#step1 .askforhelp-dot-main {
  margin-top: 10px;
  background: transparent url("../images//progress1.png") 50% 50%/100% no-repeat; }

#step1 .askforhelp-main-description2 {
  margin-top: 10px;
  color: #66c5cc;
  font-size: 17px;
  font-size: 1.0625rem; }

#step1 .askforhelp-main-question {
  margin-top: 20px; }

#step1 .askforhelp-description {
  margin-top: 10px;
  color: #66c5cc;
  font-size: 17px;
  font-size: 1.0625rem; }

#step1 .askforhelp-option {
  width: 750px;
  margin-top: 10px; }

#step1 .askforhelp-oralreadyknow {
  margin-top: 445px;
  margin-left: -290px; }

#step1 .prev-next-question {
  position: absolute;
  width: 760px;
  margin: 0 0 0 102px;
  top: 190px;
  z-index: -1;
  color: #66c5cc;
  font-size: 12px;
  font-size: 0.75rem;
  cursor: pointer; }
  #step1 .prev-next-question .prevquestion {
    float: left; }
  #step1 .prev-next-question .nextquestion {
    float: right; }

#step1 .askforhelp1 {
  display: inline;
  width: 170px;
  background-color: #66c5cc;
  padding: 15px 0;
  border-radius: 10px;
  margin: 10px;
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF; }
  #step1 .askforhelp1#askforhelpchoose {
    background: #b3aaa1; }
    #step1 .askforhelp1#askforhelpchoose:hover {
      background: #F99891; }
  #step1 .askforhelp1:hover {
    background: #59ACB3; }

#step1 .askforhelp-btn, #step1 .askforhelp2, #step1 .askforhelp3, #step1 .askforhelp-input-div {
  border-radius: 3px;
  color: #66c5cc;
  background-color: #deeced;
  font-size: 15px;
  font-size: 0.9375rem; }
  #step1 .askforhelp-btn.active, #step1 .active.askforhelp2, #step1 .active.askforhelp3, #step1 .active.askforhelp-input-div {
    background-color: #66c5cc;
    color: #FFFFFF; }
    #step1 .askforhelp-btn.active span.green-word, #step1 .active.askforhelp2 span.green-word, #step1 .active.askforhelp3 span.green-word, #step1 .active.askforhelp-input-div span.green-word {
      color: #FFFFFF; }

#step1 .askforhelp2, #step1 .askforhelp3 {
  display: block;
  letter-spacing: 1px;
  line-height: 20px;
  height: 41px;
  margin: 5px auto;
  background-color: white;
  border: 2px #EDEDED solid;
  border-radius: 4px;
  color: #a6a6a6; }
  #step1 .askforhelp2.active, #step1 .askforhelp3.active {
    border: 2px #66c5cc solid; }

#step1 .askforhelp2 {
  width: 450px;
  padding: 0 0 0 40px;
  text-align: left; }

#step1 .askforhelp3 {
  width: 550px; }

#step1 .askforhelp4 {
  display: inline;
  width: 130px;
  background-color: #66c5cc;
  padding: 12px 0;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF; }
  #step1 .askforhelp4.active, #step1 .askforhelp4:hover {
    background-color: #59ACB3; }

#step1 .askforhelp-analyze {
  display: inline;
  width: 410px;
  background-color: #FCCBC7;
  padding: 12px 0;
  border-radius: 5px;
  margin-top: -5px;
  font-size: 16px;
  font-size: 1rem;
  color: #FFFFFF; }
  #step1 .askforhelp-analyze.active {
    background-color: #F99891; }

#step1 .askforhelp-input-div {
  width: 635px;
  text-align: left;
  height: 60px;
  margin: 380px 0 0 130px;
  padding: 18px 0 14px 30px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 17px;
  font-size: 1.0625rem; }
  #step1 .askforhelp-input-div.active {
    background-color: #b3aaa1;
    color: #FFFFFF; }
  #step1 .askforhelp-input-div .askforhelp-input {
    width: 88%;
    background: #f7f7f7;
    border: 1px #b3aaa1 none;
    border-bottom-style: solid;
    font-size: 15px;
    font-size: 0.9375rem;
    letter-spacing: 3px;
    color: #b3aaa1; }
    #step1 .askforhelp-input-div .askforhelp-input.active {
      background-color: #b3aaa1;
      color: #FFFFFF;
      border-color: #FFFFFF; }

#step1 .oralreadyknow {
  display: inline-block;
  margin: 0 0 0 220px;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #a6a6a6;
  cursor: pointer; }

#step1 #colelem3.final {
  height: 660px; }

#step1 #colelem3 .container {
  width: 960px;
  margin-top: 50px; }

#step1 #colelem3 .out-container#out-container-1 {
  display: none; }
  #step1 #colelem3 .out-container#out-container-1.active {
    display: inline; }
  #step1 #colelem3 .out-container#out-container-1 .container {
    margin-bottom: 100px; }

#step1 #colelem3 .out-container#out-container-2 {
  display: none; }
  #step1 #colelem3 .out-container#out-container-2.active {
    display: inline; }
  #step1 #colelem3 .out-container#out-container-2 .container {
    margin-top: 110px;
    opacity: 0;
    z-index: -1; }
    #step1 #colelem3 .out-container#out-container-2 .container.active {
      opacity: 1;
      z-index: 1;
      transition: opacity 1s; }

.consultantBlock:nth-child(1) .elementline {
  border-color: #F99891; }

.consultantBlock:nth-child(1) .elementname {
  background: rgba(249, 152, 145, 0.7); }

.consultantBlock:nth-child(1) .elementchoose {
  background: rgba(249, 152, 145, 0.8); }

.consultantBlock:nth-child(1) .elementchoose:hover {
  background: #F99891; }

.consultantBlock:nth-child(2) .elementline {
  border-color: #66c4cc; }

.consultantBlock:nth-child(2) .elementname {
  background: rgba(98, 189, 197, 0.7); }

.consultantBlock:nth-child(2) .elementchoose {
  background: rgba(98, 189, 197, 0.8); }

.consultantBlock:nth-child(2) .elementchoose:hover {
  background: #66c4cc; }

.consultantBlock:nth-child(3) .elementline {
  border-color: #F99891; }

.consultantBlock:nth-child(3) .elementname {
  background: rgba(249, 152, 145, 0.7); }

.consultantBlock:nth-child(3) .elementchoose {
  background: rgba(249, 152, 145, 0.8); }

.consultantBlock:nth-child(3) .elementchoose:hover {
  background: #F99891; }

.consultantBlock:nth-child(4) .elementline {
  border-color: #b3aaa1; }

.consultantBlock:nth-child(4) .elementname {
  background: rgba(176, 167, 158, 0.7); }

.consultantBlock:nth-child(4) .elementchoose {
  background: rgba(176, 167, 158, 0.8); }

.consultantBlock:nth-child(4) .elementchoose:hover {
  background: #b3aaa1; }

.consultantBlock:nth-child(5) .elementline {
  border-color: #66c4cc; }

.consultantBlock:nth-child(5) .elementname {
  background: rgba(98, 189, 197, 0.7); }

.consultantBlock:nth-child(5) .elementchoose {
  background: rgba(98, 189, 197, 0.8); }

.consultantBlock:nth-child(5) .elementchoose:hover {
  background: #66c4cc; }

.consultantBlock:nth-child(6) .elementline {
  border-color: #b3aaa1; }

.consultantBlock:nth-child(6) .elementname {
  background: rgba(176, 167, 158, 0.7); }

.consultantBlock:nth-child(6) .elementchoose {
  background: rgba(176, 167, 158, 0.8); }

.consultantBlock:nth-child(6) .elementchoose:hover {
  background: #b3aaa1; }

.consultantBlock:nth-child(7) .elementline {
  border-color: #66c4cc; }

.consultantBlock:nth-child(7) .elementname {
  background: rgba(98, 189, 197, 0.7); }

.consultantBlock:nth-child(7) .elementchoose {
  background: rgba(98, 189, 197, 0.8); }

.consultantBlock:nth-child(7) .elementchoose:hover {
  background: #66c4cc; }

.consultantBlock:nth-child(8) .elementline {
  border-color: #F99891; }

.consultantBlock:nth-child(8) .elementname {
  background: rgba(249, 152, 145, 0.7); }

.consultantBlock:nth-child(8) .elementchoose {
  background: rgba(249, 152, 145, 0.8); }

.consultantBlock:nth-child(8) .elementchoose:hover {
  background: #F99891; }

.consultantBlock:nth-child(9) .elementline {
  border-color: #F99891; }

.consultantBlock:nth-child(9) .elementname {
  background: rgba(249, 152, 145, 0.7); }

.consultantBlock:nth-child(9) .elementchoose {
  background: rgba(249, 152, 145, 0.8); }

.consultantBlock:nth-child(9) .elementchoose:hover {
  background: #F99891; }

.consultantBlock:nth-child(10) .elementline {
  border-color: #66c4cc; }

.consultantBlock:nth-child(10) .elementname {
  background: rgba(98, 189, 197, 0.7); }

.consultantBlock:nth-child(10) .elementchoose {
  background: rgba(98, 189, 197, 0.8); }

.consultantBlock:nth-child(10) .elementchoose:hover {
  background: #66c4cc; }

.consultantBlock:nth-child(11) .elementline {
  border-color: #F99891; }

.consultantBlock:nth-child(11) .elementname {
  background: rgba(249, 152, 145, 0.7); }

.consultantBlock:nth-child(11) .elementchoose {
  background: rgba(249, 152, 145, 0.8); }

.consultantBlock:nth-child(11) .elementchoose:hover {
  background: #F99891; }

.consultantBlock:nth-child(12) .elementline {
  border-color: #b3aaa1; }

.consultantBlock:nth-child(12) .elementname {
  background: rgba(176, 167, 158, 0.7); }

.consultantBlock:nth-child(12) .elementchoose {
  background: rgba(176, 167, 158, 0.8); }

.consultantBlock:nth-child(12) .elementchoose:hover {
  background: #b3aaa1; }

.consultantBlock {
  margin: 10px;
  width: 220px;
  height: 420px;
  text-align: center;
  display: inline-table;
  position: relative; }
  .consultantBlock p {
    margin: 20px 0 0 10px;
    letter-spacing: 1px; }
  .consultantBlock:nth-child(1) .elementchatbox, .consultantBlock:nth-child(2) .elementchatbox, .consultantBlock:nth-child(5) .elementchatbox, .consultantBlock:nth-child(6) .elementchatbox, .consultantBlock:nth-child(9) .elementchatbox, .consultantBlock:nth-child(10) .elementchatbox {
    left: 240px;
    box-shadow: -2px 2px 7px 3px rgba(170, 170, 170, 0.85); }
    .consultantBlock:nth-child(1) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(2) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(5) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(6) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(9) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(10) .elementchatbox .elementchattitle:nth-child(1) {
      margin-top: -16px; }
    .consultantBlock:nth-child(1) .elementchatbox:before, .consultantBlock:nth-child(2) .elementchatbox:before, .consultantBlock:nth-child(5) .elementchatbox:before, .consultantBlock:nth-child(6) .elementchatbox:before, .consultantBlock:nth-child(9) .elementchatbox:before, .consultantBlock:nth-child(10) .elementchatbox:before {
      height: 30px;
      width: 30px;
      background-color: #FFFFFF;
      top: 30px;
      left: -18px;
      box-shadow: -4px 4px 7px 0 rgba(170, 170, 170, 0.85);
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      content: "\00a0";
      display: block;
      z-index: 99;
      position: relative; }
  .consultantBlock:nth-child(3) .elementchatbox, .consultantBlock:nth-child(4) .elementchatbox, .consultantBlock:nth-child(7) .elementchatbox, .consultantBlock:nth-child(8) .elementchatbox, .consultantBlock:nth-child(11) .elementchatbox, .consultantBlock:nth-child(12) .elementchatbox {
    left: -360px;
    box-shadow: 2px 2px 7px 3px rgba(170, 170, 170, 0.85); }
    .consultantBlock:nth-child(3) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(4) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(7) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(8) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(11) .elementchatbox .elementchattitle:nth-child(1), .consultantBlock:nth-child(12) .elementchatbox .elementchattitle:nth-child(1) {
      margin-top: -16px; }
    .consultantBlock:nth-child(3) .elementchatbox:before, .consultantBlock:nth-child(4) .elementchatbox:before, .consultantBlock:nth-child(7) .elementchatbox:before, .consultantBlock:nth-child(8) .elementchatbox:before, .consultantBlock:nth-child(11) .elementchatbox:before, .consultantBlock:nth-child(12) .elementchatbox:before {
      height: 30px;
      width: 30px;
      background-color: #FFFFFF;
      top: 30px;
      left: 310px;
      box-shadow: -4px 4px 7px 0 rgba(170, 170, 170, 0.85);
      transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      content: "\00a0";
      display: block;
      z-index: 99;
      position: relative; }
  .consultantBlock .elementchatbox {
    z-index: 100;
    position: absolute;
    width: 320px;
    height: 265px;
    padding: 5px;
    top: -8px;
    background: #FFFFFF;
    display: inline;
    opacity: 0;
    z-index: -1; }
    .consultantBlock .elementchatbox p {
      text-align: left; }
      .consultantBlock .elementchatbox p.elementchattitle {
        margin: 10px 10px 0 15px;
        color: #66c5cc;
        font-size: 18px;
        font-size: 1.125rem; }
      .consultantBlock .elementchatbox p.elementchatcontent {
        margin: 5px 10px 0 15px;
        color: #a6a6a6;
        font-size: 15px;
        font-size: 0.9375rem;
        line-height: 26px; }
  .consultantBlock .elementchoose {
    height: 20px;
    width: 70px;
    padding-bottom: 9px;
    color: white;
    font-size: 15px;
    font-size: 0.9375rem;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    margin: 7px 0 0 20px; }
    .consultantBlock .elementchoose:hover ~ .elementchatbox {
      opacity: 1;
      z-index: 1;
      transition: opacity 1s; }
  .consultantBlock .elementphoto {
    margin-left: 10px;
    width: 200px;
    height: 220px;
    border-radius: 3px;
    background-color: transparent;
    background-size: cover; }
    .consultantBlock .elementphoto:hover ~ .elementchatbox {
      opacity: 1;
      z-index: 1;
      transition: opacity 1s; }
  .consultantBlock .elementname {
    height: 30px;
    width: 200px;
    margin: -30px 10px 0px 10px;
    padding: 1px 0;
    color: white;
    font-size: 16px;
    font-size: 1rem;
    box-sizing: border-box; }
  .consultantBlock .elementline {
    margin: 0px 10px 0px 10px;
    width: 196px;
    border-width: 2px;
    border-style: solid; }
  .consultantBlock .elementdescribe {
    width: 210px;
    text-align: center; }
    .consultantBlock .elementdescribe p {
      line-height: 20px;
      font-size: 15px;
      font-size: 0.9375rem;
      text-align: left;
      color: #a1a1a1; }

.consultantBlock > .elementphoto {
  background: transparent url("../images/yiting_hung.jpg") no-repeat center center;
  background-size: cover; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .modal.active {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3); }

.consultantprofile {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  margin-left: -480px;
  width: 960px;
  height: 80%;
  background: #EDEDED;
  border: 5px #FFFFFF solid;
  transform-origin: 50% 50%;
  opacity: 0; }
  .consultantprofile .closeprofile {
    padding: 10px;
    position: absolute;
    background: transparent url("../images/closeprofile.png") no-repeat center center;
    background-size: cover;
    width: 70px;
    height: 70px;
    left: 890px; }
  .consultantprofile .profile {
    margin: 0 20px;
    width: 920px;
    height: 100%; }
  .consultantprofile.active {
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 10000; }

.greyline {
  background: #EDEDED;
  height: 1px;
  margin-top: 15px; }

.grey-container, .grey-container1, .grey-container2, .grey-container3, .grey-container4, .grey-container5, #step3 .grey-container6, #step-need-help .grey-container-phone {
  border-radius: 10px;
  border: 2px solid #E6E6E6;
  padding: 40px 40px 50px 40px;
  margin: 20px 50px 0 50px;
  color: #a6a6a6; }
  .grey-container.green, .green.grey-container1, .green.grey-container2, .green.grey-container3, .green.grey-container4, .green.grey-container5, #step3 .green.grey-container6, #step-need-help .green.grey-container-phone {
    border-color: #66c5cc;
    padding: 20px 40px;
    margin-bottom: 50px;
    font-size: 15px;
    font-size: 0.9375rem; }

.grey-container1 {
  padding: 0;
  color: #66c5cc;
  margin-bottom: 50px;
  font-size: 16px;
  font-size: 1rem; }
  .grey-container1 .col {
    box-sizing: border-box;
    border: 1px #EDEDED none;
    float: left; }
    .grey-container1 .col.col1, .grey-container1 .col.col2, .grey-container1 .col.col3, .grey-container1 .col.col4 {
      border-right-style: solid; }
    .grey-container1 .col.col2, .grey-container1 .col.col3, .grey-container1 .col.col4, .grey-container1 .col.col5 {
      border-left-style: solid; }
  .grey-container1 .col1 {
    width: 26%; }
  .grey-container1 .col2, .grey-container1 .col3 {
    width: 24%; }
  .grey-container1 .col4, .grey-container1 .col5 {
    width: 13%;
    text-align: center; }
  .grey-container1 .title {
    height: 60px;
    border: 2px #E6E6E6 none;
    border-bottom-style: solid;
    width: 100%; }
    .grey-container1 .title .col {
      padding: 18px 10px;
      text-align: center;
      height: 100%; }
  .grey-container1 .content {
    height: 180px;
    font-size: 16px;
    font-size: 1rem; }
    .grey-container1 .content .col {
      min-height: 100%;
      padding: 35px 15px; }
    .grey-container1 .content .col1 {
      padding-right: 0;
      color: #66c5cc; }
      .grey-container1 .content .col1 .photo {
        width: 95px;
        height: 105px;
        background: transparent url("../images/yiting_hung.jpg") no-repeat center center;
        background-size: cover;
        float: left; }
      .grey-container1 .content .col1 .name-block {
        margin: 15px 0 0 105px; }
        .grey-container1 .content .col1 .name-block .name, .grey-container1 .content .col1 .name-block .profession {
          height: 30px; }
    .grey-container1 .content .col2, .grey-container1 .content .col3, .grey-container1 .content .col4 {
      padding: 20px;
      color: #a6a6a6;
      letter-spacing: 0px;
      line-height: 24px;
      max-height: 70px;
      overflow-y: scroll; }
      .grey-container1 .content .col2::-webkit-scrollbar, .grey-container1 .content .col3::-webkit-scrollbar, .grey-container1 .content .col4::-webkit-scrollbar {
        width: 5px; }
      .grey-container1 .content .col2::-webkit-scrollbar-track, .grey-container1 .content .col3::-webkit-scrollbar-track, .grey-container1 .content .col4::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      .grey-container1 .content .col2::-webkit-scrollbar-thumb, .grey-container1 .content .col3::-webkit-scrollbar-thumb, .grey-container1 .content .col4::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #dbdbdb; }
    .grey-container1 .content .col4 {
      padding: 65px 10px;
      color: #a6a6a6;
      letter-spacing: 0px;
      line-height: 24px;
      max-height: 70px;
      overflow-y: hidden; }
    .grey-container1 .content .col5 {
      padding: 75px 20px;
      font-size: 18px;
      font-size: 1.125rem; }
      .grey-container1 .content .col5 .choose-again:hover {
        color: #F99891;
        cursor: pointer; }
  .grey-container1.step4 .col1 {
    width: 30%; }
  .grey-container1.step4 .col2, .grey-container1.step4 .col3 {
    width: 25%; }
  .grey-container1.step4 .col4 {
    width: 20%;
    border-right-style: none; }
  .grey-container1.step4 .content .col1 {
    padding: 35px 25px; }
    .grey-container1.step4 .content .col1 .name-block {
      margin-left: 115px; }

.grey-container2 {
  padding: 0; }
  .grey-container2 .title {
    padding: 15px 40px;
    height: 35px;
    border: 1px #E6E6E6 none;
    border-bottom-style: solid; }
    .grey-container2 .title .time-icon {
      float: left;
      width: 35px;
      height: 35px;
      cursor: pointer;
      border-radius: 50%; }
      .grey-container2 .title .time-icon.prev {
        background: transparent url("../images/time-prev.png") no-repeat center center;
        background-size: cover;
        background-color: #66c5cc; }
        .grey-container2 .title .time-icon.prev:hover {
          background-color: #F99891; }
      .grey-container2 .title .time-icon.next {
        background: transparent url("../images/time-next.png") no-repeat center center;
        background-size: cover;
        float: right;
        background-color: #66c5cc; }
        .grey-container2 .title .time-icon.next:hover {
          background-color: #F99891; }
    .grey-container2 .title .week {
      float: left;
      color: #66c5cc;
      margin: 0 20px;
      height: 35px;
      text-align: center;
      font-size: 15px;
      font-size: 0.9375rem;
      padding-top: 4px; }
      .grey-container2 .title .week.next {
        float: right; }
    .grey-container2 .title .date {
      float: left;
      color: #66c5cc;
      height: 35px;
      font-size: 15px;
      font-size: 0.9375rem;
      padding-top: 4px; }
      .grey-container2 .title .date.prev {
        margin-left: 50px; }
      .grey-container2 .title .date.next {
        float: right;
        margin-right: 50px; }
    .grey-container2 .title .time-bar {
      float: left;
      background: transparent url("../images/time-bar.png") no-repeat center center;
      background-size: cover;
      margin-top: 12px;
      width: 57px;
      height: 10px;
      margin-left: 56px; }
  .grey-container2 .select-time-container {
    height: 285px; }
  .grey-container2 .week-name {
    width: 100%;
    height: 50px;
    border: 1px #E6E6E6 none;
    border-bottom-style: solid; }
    .grey-container2 .week-name .col {
      padding: 10px 0;
      width: calc(14% + 1.5px);
      float: left;
      text-align: center;
      font-size: 16px;
      font-size: 1rem;
      color: #a6a6a6; }
      .grey-container2 .week-name .col.select {
        background: #e8f6f7; }
    .grey-container2 .week-name .col1, .grey-container2 .week-name .col2, .grey-container2 .week-name .col3, .grey-container2 .week-name .col4, .grey-container2 .week-name .col5, .grey-container2 .week-name .col6 {
      border: 1px #E6E6E6 none;
      border-right-style: solid; }
  .grey-container2 .can-book-time {
    width: 100%;
    height: 235px; }
    .grey-container2 .can-book-time .col {
      height: 235px;
      padding: 0 0;
      width: calc(14% + 1.5px);
      float: left;
      text-align: center;
      font-size: 16px;
      font-size: 1rem;
      color: #a6a6a6;
      overflow-y: scroll; }
      .grey-container2 .can-book-time .col::-webkit-scrollbar {
        width: 5px; }
      .grey-container2 .can-book-time .col::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px; }
      .grey-container2 .can-book-time .col::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #dbdbdb; }
      .grey-container2 .can-book-time .col.select {
        background: #e8f6f7; }
      .grey-container2 .can-book-time .col .book-time-small-block {
        box-sizing: border-box;
        margin: 4px 2px 4px 5px;
        padding: 9px 0 0 2px;
        border-radius: 8px;
        width: 50px;
        height: 50px;
        float: left;
        color: #66c5cc;
        background: #FFFFFF;
        font-size: 13px;
        font-size: 0.8125rem;
        cursor: pointer;
        transform-origin: 50% 50%;
        border: 1px solid #66c5cc;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .grey-container2 .can-book-time .col .book-time-small-block.select {
          background: #66c5cc;
          color: #FFFFFF;
          animation: box-select 0.5s 1; }

@keyframes box-select {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.2, 1.2);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
  100% {
    transform: scale(1, 1);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1); } }
    .grey-container2 .can-book-time .col1, .grey-container2 .can-book-time .col2, .grey-container2 .can-book-time .col3, .grey-container2 .can-book-time .col4, .grey-container2 .can-book-time .col5, .grey-container2 .can-book-time .col6 {
      border: 1px #E6E6E6 none;
      border-right-style: solid; }

.grey-container3 {
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  font-size: 1rem;
  padding: 20px 50px;
  height: 27px; }
  .grey-container3 .confirm-time {
    color: #a6a6a6;
    float: left; }
  .grey-container3 .select-date {
    margin-left: 145px;
    color: #66c5cc;
    float: left;
    font-weight: 700;
    font-size: 15px;
    font-size: 0.9375rem; }
  .grey-container3 .time-zone {
    color: #a1a1a1;
    float: right; }

.grey-container4 {
  font-size: 16px;
  font-size: 1rem;
  color: #a1a1a1;
  padding: 20px 40px;
  margin-bottom: 50px; }
  .grey-container4 span.green {
    color: #66c5cc; }
  .grey-container4 div {
    margin-top: 10px; }
  .grey-container4 .payway {
    font-size: 18px;
    font-size: 1.125rem;
    color: #66c5cc; }
  .grey-container4 .pay-currency {
    letter-spacing: 1px; }
  .grey-container4 h6 {
    display: inline; }

.available-teacher {
  height: 270px;
  position: relative; }

.grey-container5 {
  padding: 20px 40px; }
  .grey-container5 .suggest-words {
    margin-left: 0px;
    padding-left: 40px;
    background: #FFFFFF url("../images/hint.png") 1% 45%/13px no-repeat;
    font-size: 15px;
    font-size: 0.9375rem; }

.teacher-slide-btn, .prev-teacher-btn, .next-teacher-btn {
  box-sizing: border-box;
  width: 45px;
  height: 246px;
  margin: 30px 0;
  float: left;
  border: 2px solid #E6E6E6;
  border-radius: 10px;
  cursor: pointer; }
  .teacher-slide-btn:hover, .prev-teacher-btn:hover, .next-teacher-btn:hover {
    background-color: #E6E6E6; }

.prev-teacher-btn {
  margin-right: 5px;
  margin-left: 38px;
  background: #FFFFFF url("../images/prev-teacher-btn.png") 50% 50%/30px no-repeat; }

.next-teacher-btn {
  margin-left: 5px;
  background: #FFFFFF url("../images/next-teacher-btn.png") 50% 50%/30px no-repeat; }

.choose-teacher-slide {
  width: 784px;
  float: left; }

#step2 .grey-container1 {
  width: 780px;
  margin: 30px 0 0 0; }
  #step2 .grey-container1 .col1 {
    width: 28%; }
  #step2 .grey-container1 .col5 {
    width: 11%; }
  #step2 .grey-container1 .title .col {
    padding: 20px 10px; }
  #step2 .grey-container1 .content .col4 {
    padding: 65px 5px; }
  #step2 .grey-container1 .name-block {
    font-size: 16px;
    font-size: 1rem; }

.side-hint {
  position: absolute;
  color: #F99891;
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  padding-left: 30px;
  width: 150px;
  left: 950px;
  background: url("../images/hint-arrow.png") 0% 2px/20px 20px no-repeat;
  display: none; }
  .side-hint.active {
    display: inline; }
  .side-hint.step2-book-item-side-hint {
    top: 150px; }
  .side-hint.step2-book-time-side-hint {
    top: 450px; }
  .side-hint.step3-book-item-side-hint {
    top: 150px; }
  .side-hint.step3-book-time-side-hint {
    top: 425px; }
  .side-hint.step3-payment-side-hint {
    top: 600px; }
  .side-hint.step3-other-side-hint {
    top: 850px; }

@media only screen and (max-width: 1300px) {
  .side-hint {
    width: 730px;
    left: 190px;
    background: url("../images/hint-arrow-down.png") 0% 2px/20px 20px no-repeat;
    /*TODO*/ }
    .side-hint.step2-book-item-side-hint {
      top: 5px; }
    .side-hint.step2-book-time-side-hint {
      top: 330px; }
    .side-hint.step2-done-side-hint {
      top: 980px; }
    .side-hint.step3-book-item-side-hint {
      top: 5px; }
    .side-hint.step3-book-time-side-hint {
      top: 355px; }
    .side-hint.step3-payment-side-hint {
      top: 530px; }
    .side-hint.step3-other-side-hint {
      top: 790px;
      left: 290px; } }

.step-div {
  margin: 80px auto;
  text-align: center; }
  .step-div button {
    font-size: 16px;
    font-size: 1rem;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    letter-spacing: 10px;
    padding: 0 0 0 10px;
    margin: 0 10px;
    color: #FFFFFF; }
    .step-div button.prev-step {
      background: #b3aaa1; }
      .step-div button.prev-step:hover {
        background: #F99891; }
      .step-div button.prev-step:disabled {
        background: #E6E6E6;
        cursor: default; }
    .step-div button.next-step, .step-div button.primary {
      background: #66c5cc; }
      .step-div button.next-step:hover, .step-div button.primary:hover {
        background: #F99891; }
      .step-div button.next-step:disabled, .step-div button.primary:disabled {
        background: #E6E6E6;
        cursor: default; }
    .step-div button > a {
      color: #FFFFFF; }
  .step-div > a {
    color: #b3aaa1;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px; }

#step2 #colelem3 {
  background: #f7f7f7; }
  #step2 #colelem3 .container {
    width: 720px;
    border-radius: 10px;
    border: 2px #e1e1e1 solid;
    padding: 50px 60px; }
  #step2 #colelem3 p.grey {
    color: #a6a6a6; }
  #step2 #colelem3 p.green {
    color: #66c5cc; }

#step3 .grey-container6 {
  margin: 8px 50px;
  padding: 20px 40px;
  height: 30px;
  letter-spacing: 0; }
  #step3 .grey-container6 input {
    margin: 5px 30px 0 50px; }
    #step3 .grey-container6 input ~ span {
      position: relative;
      top: 5px;
      left: -48px; }
  #step3 .grey-container6 .currency, #step3 .grey-container6 .payment {
    width: 115px;
    float: left;
    font-size: 16px;
    font-size: 1rem;
    color: #a6a6a6; }
    #step3 .grey-container6 .currency.discription, #step3 .grey-container6 .payment.discription {
      width: 540px; }
    #step3 .grey-container6 .currency .green, #step3 .grey-container6 .payment .green {
      color: #66c5cc; }
  #step3 .grey-container6#rmb {
    margin-bottom: 50px; }
  #step3 .grey-container6 .payway {
    float: right;
    margin-right: 150px; }

#step3 .visa-hint {
  opacity: 0;
  position: relative; }
  #step3 .visa-hint#agreement-hint {
    width: 145px;
    top: -13px;
    left: -200px; }
  #step3 .visa-hint:after {
    position: relative;
    top: -25px;
    left: -16px; }

#step3 .check-line {
  margin: 5px 0;
  font-size: 17px;
  font-size: 1.0625rem; }
  #step3 .check-line.like-check {
    margin-top: 50px; }
  #step3 .check-line input {
    position: relative;
    top: 5px;
    left: 10px; }
    #step3 .check-line input ~ span {
      position: relative;
      top: 5px;
      left: -8px; }

#step3 .step-div {
  margin: 50px auto 80px auto; }

#step3 .no-book-time-hint {
  width: 126px;
  left: -200px;
  top: -95px;
  position: relative; }
  #step3 .no-book-time-hint:after {
    display: none; }

#step-need-help {
  text-align: center; }
  #step-need-help h3 {
    color: #66c5cc;
    letter-spacing: 2px;
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 30px; }
  #step-need-help h4 {
    color: #a6a6a6;
    letter-spacing: 1px;
    font-size: 15px;
    font-size: 0.9375rem; }
  #step-need-help .grey-container-phone {
    padding: 20px 40px;
    margin: 20px 100px 0 100px; }
    #step-need-help .grey-container-phone h5 {
      float: left;
      margin-left: 50px;
      color: #66c5cc; }
    #step-need-help .grey-container-phone select {
      padding-left: 15px; }

#step-error .error-container {
  border-radius: 10px;
  border: 2px solid #F99891;
  padding: 40px;
  margin: 40px 50px 0;
  background-color: #F99891;
  color: #FFFFFF;
  text-align: center; }
  #step-error .error-container .title {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 0 0 20px;
    height: 30px;
    padding: 10px 0 10px 55px;
    background: url("../images/exclamation-white.png") 40%/35px 35px no-repeat; }
  #step-error .error-container .content {
    font-size: 16px;
    font-size: 1rem;
    line-height: 30px; }

.where-am-i {
  padding-left: 140px;
  position: relative;
  top: 31px;
  font-size: 17px;
  font-size: 1.0625rem; }
  .where-am-i .country-option {
    display: inline-block; }
    .where-am-i .country-option:nth-child(2) input {
      margin-left: 20px; }
    .where-am-i .country-option input {
      margin: 8px 0px 0 50px; }
      .where-am-i .country-option input ~ span {
        position: relative;
        top: 8px;
        left: -18px; }
      .where-am-i .country-option input ~ label {
        color: #a6a6a6;
        position: relative;
        top: 1px; }
    .where-am-i .country-option select {
      position: relative;
      top: 2px;
      left: 10px;
      padding-left: 10px;
      width: 530px;
      background: #FFFFFF url("../images/select-arrow.png") 98%/2.5% no-repeat; }
      .where-am-i .country-option select:disabled {
        background: #DDDDDD url("../images/select-arrow.png") 98%/2.5% no-repeat; }

input[type="radio"] {
  float: left;
  cursor: pointer;
  width: 18px;
  height: 18px;
  /*$margin-top:5px;*/
  /*$margin-right:30px;*/
  /*margin:$margin-top $margin-right 0 50px;*/ }
  input[type="radio"]:checked ~ span:after {
    opacity: 1;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #66c5cc;
    transition: width 0.5s cubic-bezier(0.23, 1.87, 0.71, 1.96), height 0.5s cubic-bezier(0.23, 1.87, 0.71, 1.96), left 0.5s cubic-bezier(0.23, 1.87, 0.71, 1.96), top 0.5s cubic-bezier(0.23, 1.87, 0.71, 1.96), opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  input[type="radio"] ~ span {
    float: left;
    border: 1px solid silver;
    position: relative;
    /*top: $margin-top;*/
    /*left: -$button-width - $margin-right;*/
    left: -18px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    cursor: pointer;
    pointer-events: none;
    border-radius: 50%; }
    input[type="radio"] ~ span:after {
      opacity: 0.3;
      content: "";
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      height: 0;
      width: 0; }

input[type="checkbox"] {
  float: left;
  cursor: pointer;
  width: 18px;
  height: 18px; }
  input[type="checkbox"]:checked ~ span:after, input[type="checkbox"]:checked ~ span:before {
    opacity: 1;
    background: #66c5cc;
    transform: rotate(225deg);
    transition: height 0.3s linear, opacity 0.3s linear, transform 0.3s linear; }
  input[type="checkbox"]:checked ~ span:after {
    height: 20px;
    width: 5px;
    transform-origin: 100% 0%; }
  input[type="checkbox"]:checked ~ span:before {
    height: 5px;
    width: 10px;
    transform-origin: 0% 100%; }
  input[type="checkbox"] ~ span {
    float: left;
    border: 1px solid silver;
    position: relative;
    left: -18px;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    cursor: pointer;
    pointer-events: none;
    border-radius: 2px; }
    input[type="checkbox"] ~ span:after, input[type="checkbox"] ~ span:before {
      content: "";
      position: absolute;
      display: inline-block;
      transform: rotate(180deg); }
    input[type="checkbox"] ~ span:after {
      opacity: 0;
      top: 8px;
      left: 0px;
      width: 5px;
      height: 0px; }
    input[type="checkbox"] ~ span:before {
      opacity: 0.3;
      top: 4px;
      left: 10px;
      width: 5px;
      height: 10px; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  background: #FFFFFF url("../images/select-arrow.png") 96%/10% no-repeat;
  width: 150px;
  height: 26px;
  font-size: 16px;
  font-size: 1rem;
  padding: 0 0 1px 0;
  cursor: pointer; }
  select:disabled {
    background: #DDDDDD url("../images/select-arrow.png") 96%/10% no-repeat; }

@media screen and (min-width: 0\0) {
  select {
    background: none;
    padding: 5px; } }

.red-hint {
  background: #F99891;
  color: white;
  border-radius: 7px;
  width: 200px;
  height: 28px;
  padding: 3px 12px;
  font-size: 16px;
  font-size: 1rem;
  float: right;
  opacity: 0;
  z-index: 500; }
  .red-hint:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 10px;
    left: -6px;
    background: #F99891;
    position: relative;
    z-index: -1; }
  .red-hint.not-answer-question.question1 {
    position: absolute;
    width: 162px;
    top: 280px;
    left: 730px; }
    .red-hint.not-answer-question.question1:after {
      top: -25px;
      left: -17px; }
  .red-hint.not-answer-question.question2 {
    position: absolute;
    width: 162px;
    top: 125px;
    left: 690px; }
    .red-hint.not-answer-question.question2:after {
      top: -13px;
      left: 10px; }
  .red-hint.no-book-time-hint {
    position: absolute;
    width: 126px; }
    .red-hint.no-book-time-hint:after {
      top: -38px;
      left: 10px; }
    .red-hint.no-book-time-hint.hint1 {
      bottom: 0;
      right: 80px; }
    .red-hint.no-book-time-hint.hint2 {
      bottom: 230px;
      right: calc(50% - 310px); }
  .red-hint.active {
    opacity: 1;
    animation: fade 5s; }

@keyframes fade {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
