@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ys2jhw');
	src:url('fonts/icomoon.eot?#iefix-ys2jhw') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ys2jhw') format('woff'),
		url('fonts/icomoon.ttf?-ys2jhw') format('truetype'),
		url('fonts/icomoon.svg?-ys2jhw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-right2:before {
	content: "\ea3c";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-pinterest2:before {
	content: "\ead1";
}

