.version._10_chiwei_huang /* version checker */
{
	color: #00001A;
	background-color: #43CD7E;
}

#page
{
	z-index: 1;
	min-height: 1911px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 500px;
}

#pu184300
{
	width: 100%;
}

#u184300
{
	z-index: 8;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u184300-bw
{
	z-index: 8;
	margin-bottom: -1px;
	height: 63px;
}

#u184302
{
	z-index: 10;
}

#u184303-4
{
	z-index: 11;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u184303-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184304
{
	z-index: 15;
	padding-bottom: 2px;
}

#u184305-14
{
	z-index: 16;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 92%;
	left: 4%;
}

#accordionu184301,#accordionu184301-bw
{
	z-index: 9;
}

#u184307-4
{
	z-index: 34;
	width: 43px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -109px;
}

#u184306-4
{
	z-index: 30;
	width: 52px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -66px;
}

#u184306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 52px;
	left: -66px;
	margin: 17px -10000px 0px 100%;
}

#u184308
{
	z-index: 38;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 41px;
}

#pu178297-3
{
	margin-top: 23px;
	width: 100%;
}

#u178297-3
{
	z-index: 40;
	width: 279px;
	min-height: 434px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -140px;
}

#u178299-4
{
	z-index: 44;
	width: 123px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	margin-left: 50%;
	left: -128px;
}

#u178300
{
	z-index: 48;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	margin-left: 50%;
	left: 5px;
}

#u178301-4
{
	z-index: 49;
	width: 123px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -62px;
}

#u178299-2,#u178301-2
{
	padding-top: 9px;
}

#u178303
{
	z-index: 57;
	width: 199px;
	height: 216px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	margin-left: 50%;
	left: -100px;
	background: transparent url("../../images/chinyi_chen-u178303-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u178304-6
{
	z-index: 58;
	width: 270px;
	min-height: 72px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	margin-left: 50%;
	left: -135px;
}

#u178304-2
{
	font-size: 24px;
	line-height: 35px;
}

#u178304-4
{
	line-height: 21px;
}

#u178306-4
{
	z-index: 72;
	width: 141px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -33px;
}

#u178307
{
	z-index: 76;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -72px;
	background: transparent url("../../images/kajin%20telemedical-09-u176810-fr.png") no-repeat left top;
	background-size: contain;
}

#u178302-4
{
	z-index: 53;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u178298
{
	z-index: 43;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u178305-8
{
	z-index: 64;
	width: 262px;
	min-height: 96px;
	background-color: transparent;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: -132px;
}

#u178312-4
{
	z-index: 87;
	width: 279px;
	min-height: 72px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u178311
{
	z-index: 86;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u178313-40
{
	z-index: 91;
	width: 240px;
	min-height: 638px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 50%;
	left: -121px;
}

#u178305-2,#u178305-4,#u178313-2,#u178313-9,#u178313-22
{
	color: #66C5CC;
}

#u178305-6,#u178313-4,#u178313-6,#u178313-7,#u178313-11,#u178313-13,#u178313-15,#u178313-17,#u178313-19,#u178313-20,#u178313-24,#u178313-26,#u178313-28,#u178313-30,#u178313-32,#u178313-34,#u178313-36,#u178313-38
{
	color: #A1A1A1;
}

#u178309-4
{
	z-index: 78;
	width: 279px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u178302-2,#u178312-2,#u178309-2
{
	padding-top: 21px;
}

#u178308
{
	z-index: 77;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u178310-4
{
	z-index: 82;
	width: 240px;
	min-height: 130px;
	background-color: transparent;
	line-height: 24px;
	color: #A1A1A1;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 50%;
	left: -121px;
}

#u178314
{
	z-index: 131;
	width: 280px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u178315-4
{
	z-index: 132;
	width: 280px;
	min-height: 50px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	letter-spacing: 3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -140px;
}

#u178315-2
{
	padding-top: 16px;
}

#u183966-6
{
	z-index: 2;
	min-height: 63px;
}

#u183966-6-bw
{
	z-index: 2;
	min-height: 63px;
	margin-top: 13px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

