.version._1_yingyu_chou /* version checker */
{
	color: #0000F2;
	background-color: #A7884C;
}

#page
{
	z-index: 1;
	min-height: 2580px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 500px;
}

#pu184300
{
	width: 100%;
}

#u184300
{
	z-index: 8;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u184300-bw
{
	z-index: 8;
	margin-bottom: -1px;
	height: 63px;
}

#u184302
{
	z-index: 10;
}

#u184303-4
{
	z-index: 11;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u184303-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184304
{
	z-index: 15;
	padding-bottom: 2px;
}

#u184305-14
{
	z-index: 16;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 92%;
	left: 4%;
}

#accordionu184301,#accordionu184301-bw
{
	z-index: 9;
}

#u184307-4
{
	z-index: 34;
	width: 43px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -109px;
}

#u184306-4
{
	z-index: 30;
	width: 52px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -66px;
}

#u184306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 52px;
	left: -66px;
	margin: 17px -10000px 0px 100%;
}

#u184308
{
	z-index: 38;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 41px;
}

#pu176800-3
{
	margin-top: 29px;
	width: 100%;
}

#u176800-3
{
	z-index: 41;
	width: 279px;
	min-height: 434px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -139px;
}

#u176802-4
{
	z-index: 45;
	width: 123px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	margin-left: 50%;
	left: -127px;
}

#u176803
{
	z-index: 49;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	margin-left: 50%;
	left: 6px;
}

#u176804-4
{
	z-index: 50;
	width: 123px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -62px;
}

#u176802-2,#u176804-2
{
	padding-top: 9px;
}

#u176806
{
	z-index: 58;
	width: 199px;
	height: 216px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	margin-left: 50%;
	left: -99px;
	background: transparent url("../../images/kristy_chu-u176806-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u176807-6
{
	z-index: 59;
	width: 270px;
	min-height: 72px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	margin-left: 50%;
	left: -134px;
}

#u176807-2
{
	font-size: 24px;
	line-height: 35px;
}

#u176807-4
{
	line-height: 21px;
}

#u176809-4
{
	z-index: 73;
	width: 141px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -32px;
}

#u176810
{
	z-index: 77;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -71px;
	background: transparent url("../../images/kajin%20telemedical-09-u176810-fr.png") no-repeat left top;
	background-size: contain;
}

#u176805-4
{
	z-index: 54;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u176801
{
	z-index: 44;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	padding-bottom: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u176808-8
{
	z-index: 65;
	width: 262px;
	min-height: 95px;
	background-color: transparent;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 50%;
	left: -132px;
}

#u176808-2,#u176808-4
{
	color: #66C5CC;
}

#u176808-6
{
	color: #A1A1A1;
}

#u176814-4
{
	z-index: 99;
	width: 279px;
	min-height: 72px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u176799
{
	z-index: 40;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u176815-16
{
	z-index: 103;
	width: 260px;
	min-height: 288px;
	background-color: transparent;
	line-height: 32px;
	color: #A1A1A1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	left: -121px;
	margin: 20px -10000px -1px 50%;
}

#u176812-4
{
	z-index: 79;
	width: 279px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u176811
{
	z-index: 78;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u176813-16
{
	z-index: 83;
	width: 280px;
	min-height: 221px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #A1A1A1;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 50%;
	left: -141px;
}

#u176813-2,#u176813-4,#u176813-6,#u176813-8,#u176813-10,#u176813-12
{
	text-align: left;
	line-height: 32px;
}

#u176813-14
{
	line-height: 24px;
}

#u176818-4
{
	z-index: 132;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u176816
{
	z-index: 119;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u176820-6
{
	z-index: 140;
	width: 240px;
	min-height: 86px;
	background-color: transparent;
	line-height: 32px;
	color: #A1A1A1;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -121px;
}

#u176819-4
{
	z-index: 136;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 18px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u176805-2,#u176814-2,#u176812-2,#u176818-2,#u176819-2
{
	padding-top: 21px;
}

#u181194-12
{
	z-index: 120;
	width: 279px;
	min-height: 662px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u181194-2
{
	font-size: 12px;
	line-height: 24px;
	padding-right: 15px;
	padding-top: 15px;
	color: #A1A1A1;
}

#u181194-4,#u181194-6,#u181194-8
{
	font-size: 12px;
	line-height: 24px;
	padding-right: 15px;
	color: #A1A1A1;
}

#u176821
{
	z-index: 146;
	width: 280px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u176822-4
{
	z-index: 147;
	width: 280px;
	min-height: 45px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -140px;
}

#u176822-2
{
	padding-top: 11px;
}

#u183966-6
{
	z-index: 2;
	min-height: 63px;
}

#u183966-6-bw
{
	z-index: 2;
	min-height: 63px;
	margin-top: 16px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

