.version._7_yaoshin_wang /* version checker */
{
	color: #0000F1;
	background-color: #0C97E7;
}

#page
{
	z-index: 1;
	min-height: 2119px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 500px;
}

#pu184300
{
	width: 100%;
}

#u184300
{
	z-index: 8;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u184300-bw
{
	z-index: 8;
	margin-bottom: -1px;
	height: 63px;
}

#u184302
{
	z-index: 10;
}

#u184303-4
{
	z-index: 11;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u184303-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184304
{
	z-index: 15;
	padding-bottom: 2px;
}

#u184305-14
{
	z-index: 16;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 92%;
	left: 4%;
}

#accordionu184301,#accordionu184301-bw
{
	z-index: 9;
}

#u184307-4
{
	z-index: 34;
	width: 43px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -109px;
}

#u184306-4
{
	z-index: 30;
	width: 52px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -66px;
}

#u184306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 52px;
	left: -66px;
	margin: 17px -10000px 0px 100%;
}

#u184308
{
	z-index: 38;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 41px;
}

#pu177707-3
{
	margin-top: 27px;
	width: 100%;
}

#u177707-3
{
	z-index: 40;
	width: 279px;
	min-height: 434px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -140px;
}

#u177709-4
{
	z-index: 44;
	width: 123px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	margin-left: 50%;
	left: -128px;
}

#u177710
{
	z-index: 48;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	margin-left: 50%;
	left: 5px;
}

#u177711-4
{
	z-index: 49;
	width: 123px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 26px;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -62px;
}

#u177709-2,#u177711-2
{
	padding-top: 9px;
}

#u177713
{
	z-index: 57;
	width: 199px;
	height: 216px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	margin-left: 50%;
	left: -99px;
	background: transparent url("../../images/the_way_client-u177713-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u177714-6
{
	z-index: 58;
	width: 270px;
	min-height: 72px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	margin-left: 50%;
	left: -135px;
}

#u177714-2
{
	font-size: 24px;
	line-height: 35px;
}

#u177714-4
{
	line-height: 21px;
}

#u177716-4
{
	z-index: 74;
	width: 141px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -33px;
}

#u177717
{
	z-index: 78;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -72px;
	background: transparent url("../../images/kajin%20telemedical-09-u176810-fr.png") no-repeat left top;
	background-size: contain;
}

#u177712-4
{
	z-index: 53;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u177708
{
	z-index: 43;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u177715-10
{
	z-index: 64;
	width: 262px;
	min-height: 118px;
	background-color: transparent;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -132px;
}

#u177722-4
{
	z-index: 96;
	width: 279px;
	min-height: 72px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u177721
{
	z-index: 95;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u177723-11
{
	z-index: 100;
	width: 243px;
	min-height: 153px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 50%;
	left: -112px;
}

#u177723-5
{
	color: #7F7F7F;
}

#u177715-2,#u177715-4,#u177715-6,#u177723-2,#u177723-7
{
	color: #66C5CC;
}

#u177715-8,#u177723-4,#u177723-9
{
	color: #A1A1A1;
}

#u177719-4
{
	z-index: 80;
	width: 279px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u177718
{
	z-index: 79;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u177720-11
{
	z-index: 84;
	width: 260px;
	min-height: 123px;
	background-color: transparent;
	line-height: 24px;
	color: #A1A1A1;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 50%;
	left: -141px;
}

#u177726-4
{
	z-index: 113;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 21px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u177724
{
	z-index: 111;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u177728-6
{
	z-index: 121;
	width: 240px;
	min-height: 172px;
	background-color: transparent;
	line-height: 29px;
	color: #A1A1A1;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 50%;
	left: -121px;
}

#u177727-4
{
	z-index: 117;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u177712-2,#u177722-2,#u177719-2,#u177726-2,#u177727-2
{
	padding-top: 21px;
}

#u177725
{
	z-index: 112;
	width: 279px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u177731-8
{
	z-index: 132;
	width: 270px;
	min-height: 279px;
	background-color: transparent;
	line-height: 21px;
	color: #A1A1A1;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -141px;
}

#u177729
{
	z-index: 127;
	width: 280px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u177730-4
{
	z-index: 128;
	width: 280px;
	min-height: 50px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	letter-spacing: 3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -140px;
}

#u177730-2
{
	padding-top: 16px;
}

#u183966-6
{
	z-index: 2;
	min-height: 63px;
}

#u183966-6-bw
{
	z-index: 2;
	min-height: 63px;
	margin-top: 15px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

