.version.about_us /* version checker */
{
	color: #000010;
	background-color: #9BB4C3;
}

#page
{
	z-index: 1;
	min-height: 333.98265972894797px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
}

#u184300
{
	z-index: 8;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u184300-bw
{
	z-index: 8;
	margin-bottom: -1px;
	height: 63px;
}

#u184302
{
	z-index: 10;
}

#u184303-4
{
	z-index: 11;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u184303-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184304
{
	z-index: 15;
	padding-bottom: 2px;
}

#u184305-14
{
	z-index: 16;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 92%;
	left: 4%;
}

#accordionu184301,#accordionu184301-bw
{
	z-index: 9;
}

#u184307-4
{
	z-index: 34;
	width: 43px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -109px;
}

#u184306-4
{
	z-index: 30;
	width: 52px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -66px;
}

#u184306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 52px;
	left: -66px;
	margin: 17px -10000px 0px 100%;
}

#u184308
{
	z-index: 38;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 41px;
}

#u183982
{
	z-index: 85;
	height: 229px;
	background: transparent url("../../images/jinwilsonpic.jpg") no-repeat center center;
}

#u183982-bw
{
	z-index: 85;
	height: 229px;
}

#u176410-4
{
	z-index: 70;
	width: 200px;
	min-height: 50px;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: left;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 42px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#pu184300,#pu176411-4
{
	width: 100%;
}

#u176411-4
{
	z-index: 66;
	width: 280px;
	min-height: 385px;
	background-color: transparent;
	line-height: 25px;
	color: #A1A1A1;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -140px;
}

#u176414-7
{
	z-index: 74;
	width: 280px;
	min-height: 429px;
	background-color: transparent;
	line-height: 25px;
	color: #A1A1A1;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	margin-left: 50%;
	left: -140px;
}

#u176413-4
{
	z-index: 81;
	width: 200px;
	min-height: 50px;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: left;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	margin-left: 50%;
	left: -140px;
}

#u176407-4
{
	z-index: 62;
	width: 270px;
	min-height: 50px;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: left;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 23px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u176408-7
{
	z-index: 55;
	width: 280px;
	min-height: 322px;
	background-color: transparent;
	line-height: 25px;
	color: #A1A1A1;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 4px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u176404-4
{
	z-index: 51;
	width: 200px;
	min-height: 50px;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: left;
	font-size: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u176405-11
{
	z-index: 40;
	width: 280px;
	min-height: 422px;
	background-color: transparent;
	line-height: 25px;
	color: #A1A1A1;
	text-align: left;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 1px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u183966-6,#u183966-6-bw
{
	z-index: 2;
	min-height: 63px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

