#u184300
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#accordionu184301
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u184303-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	color: #66C5CC;
	font-size: 27px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u184303-4:hover
{
	background-color: #F2F2F2;
}

#u184303-4:active
{
	background-color: #F2F2F2;
}

#u184303-4.AccordionPanelTabOpen p
{
	color: #66C5CC;
	visibility: inherit;
	font-size: 27px;
}

#u184304
{
	border-width: 0px;
	border-color: transparent;
	background-color: #66C5CC;
}

#u184305-14
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 38px;
	color: #66C5CC;
	text-align: center;
	font-size: 16px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u184305,#u184305-4,#u184305-7,#u184305-10
{
	color: #FFFFFF;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u184307-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 15px;
	color: #66C5CC;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u184307-2
{
	padding-top: 7px;
}

#u184306-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #67C4CB;
	border-radius: 5px;
	line-height: 15px;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u184306-4:hover
{
	background-color: #66C5CC;
}

#u184306-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u184306-2
{
	padding-top: 7px;
}

#u184302,#u184303-4.AccordionPanelTabOpen,#u184308
{
	background-color: transparent;
}

#u183966-6
{
	background-color: #7F7F7F;
	line-height: 16px;
	color: #CCCCCC;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u183966-2
{
	padding-top: 17px;
}


