#u176078
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#u176070-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #66C5CC;
	font-size: 27px;
	line-height: 43px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u176070-4:hover
{
	background-color: #F2F2F2;
}

#u176070-4:active
{
	background-color: #F2F2F2;
}

#u176070-4.AccordionPanelTabOpen p
{
	color: #66C5CC;
	visibility: inherit;
	font-size: 27px;
}

#u176068
{
	border-width: 0px;
	border-color: transparent;
	background-color: #F2F2F2;
}

#u176069-16
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #66C5CC;
	text-align: center;
	font-size: 16px;
	line-height: 38px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u176069-3
{
	padding-top: 17px;
}

#u176073-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #66C5CC;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176073-2
{
	padding-top: 12px;
}

#u176072-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #67C4CB;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176072-4:hover
{
	background-color: #66C5CC;
}

#u176072-4:hover p,#u176072-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u176072-2
{
	padding-top: 11px;
}

#u176073,#u176072
{
	letter-spacing: 2px;
}

#u176077
{
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	background: transparent url("../../images/logo_08.png") no-repeat center center;
	background-size: contain;
}

#u176075
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u176115
{
	background: transparent url("../../images/kajin%20logo%20print_%e7%9b%b4%e5%bc%8f%e4%ba%8c-u171809-fr.png") no-repeat center center;
	background-size: contain;
}

#u176067,#u176070-4.AccordionPanelTabOpen,#u176087,#u176088
{
	background-color: transparent;
}

#u176091-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176101,#u176104
{
	background-color: transparent;
}

#u176106-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176108,#u176109
{
	background-color: transparent;
}

#u176112-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176080,#u176083
{
	background-color: transparent;
}

#u176086-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176083.MuseMenuActive #u176086-4 p
{
	color: #ADADAD;
	visibility: inherit;
	text-decoration: none;
}

#u176094,#u176095
{
	background-color: transparent;
}

#u176096-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176088.MuseMenuActive #u176091-4 p,#u176104.MuseMenuActive #u176106-4 p,#u176109.MuseMenuActive #u176112-4 p,#u176095.MuseMenuActive #u176096-4 p
{
	text-decoration: none;
}

.AccordionPanelTab,.MenuItem /* accordion */
{
	cursor: pointer;
}

#accordionu176066,#menuu176079,#u176117,#menuu176118
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u176126,#u176127
{
	background-color: transparent;
}

#u176130-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176133,#u176134
{
	background-color: transparent;
}

#u176136-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176147,#u176148
{
	background-color: transparent;
}

#u176151-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176140,#u176141
{
	background-color: transparent;
}

#u176144-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176119,#u176120
{
	background-color: transparent;
}

#u176122-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176127.MuseMenuActive #u176130-4 p,#u176134.MuseMenuActive #u176136-4 p,#u176148.MuseMenuActive #u176151-4 p,#u176141.MuseMenuActive #u176144-4 p,#u176120.MuseMenuActive #u176122-4 p
{
	color: #0CA7B3;
	visibility: inherit;
	text-decoration: none;
}

#u176065
{
	background: transparent url("../../images/thewaycliniclogo-02.png") no-repeat left top;
	background-size: contain;
}

#u176074-4,#u176116-4
{
	background-color: transparent;
	letter-spacing: 2px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176064-8
{
	background-color: transparent;
	letter-spacing: 2px;
	color: #ADADAD;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u176064-2
{
	font-size: 16px;
	line-height: 24px;
}

#u176064-4,#u176064-6
{
	line-height: 21px;
}

#u178960
{
	background-color: transparent;
}

#u176154
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: transparent url("../../images/social_media_icon-01%20copy.png") no-repeat left top;
	background-size: contain;
}

#u176154:hover
{
	background: transparent url("../../images/social_media_icon-01.png") no-repeat left top;
	background-size: contain;
}

#u176155
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: transparent url("../../images/social_media_icon-03%20copy.png") no-repeat left top;
	background-size: contain;
}

#u176155:hover
{
	background: transparent url("../../images/social_media_icon-03.png") no-repeat left top;
	background-size: contain;
}

#u176076-6
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #ADADAD;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}


