.version.our_team /* version checker */
{
	color: #00001C;
	background-color: #CA132B;
}

#page
{
	z-index: 1;
	min-height: 333.75870114862573px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	width: 100%;
	max-width: 500px;
}

#pu184300
{
	width: 100%;
}

#u184300
{
	z-index: 8;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u184300-bw
{
	z-index: 8;
	margin-bottom: -1px;
	height: 63px;
}

#u184302
{
	z-index: 10;
}

#u184303-4
{
	z-index: 11;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u184303-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184304
{
	z-index: 15;
	padding-bottom: 2px;
}

#u184305-14
{
	z-index: 16;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 92%;
	left: 4%;
}

#accordionu184301,#accordionu184301-bw
{
	z-index: 9;
}

#u184307-4
{
	z-index: 34;
	width: 43px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -109px;
}

#u184306-4
{
	z-index: 30;
	width: 52px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -66px;
}

#u184306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 52px;
	left: -66px;
	margin: 17px -10000px 0px 100%;
}

#u184308
{
	z-index: 38;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 41px;
}

#u180310-6
{
	z-index: 40;
	min-height: 217px;
	background: -webkit-gradient(linear, left center, right center, from(#66C5CC),color-stop(80%, #A1D9DD));
	background: -webkit-linear-gradient(left,#66C5CC ,#A1D9DD 80%);
	background: linear-gradient(to right,#66C5CC ,#A1D9DD 80%);
	-pie-background: linear-gradient(left,#66C5CC ,#A1D9DD 80%);
	letter-spacing: 2px;
	color: #FFFFFF;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	background-size: 100% auto;
}

#u180310-2
{
	font-size: 25px;
	line-height: 30px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 48px;
}

#u180310-4
{
	font-size: 16px;
	line-height: 29px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 18px;
}

#u180310-6-bw
{
	z-index: 40;
	min-height: 217px;
}

#u180553
{
	z-index: 50;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180547
{
	z-index: 51;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180550
{
	z-index: 58;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/yiting_hung-u181633-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u173041-6
{
	z-index: 52;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u173046-4
{
	z-index: 59;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u173040-4
{
	z-index: 63;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u173045-4
{
	z-index: 67;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u173043-4
{
	z-index: 79;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u173039-4
{
	z-index: 75;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u173044-4
{
	z-index: 71;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180556
{
	z-index: 83;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180560
{
	z-index: 84;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180561
{
	z-index: 91;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/chenjoyce-u181641-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180557-6
{
	z-index: 85;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180562-4
{
	z-index: 92;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180558-4
{
	z-index: 96;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180563-4
{
	z-index: 100;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180565-4
{
	z-index: 112;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180559-4
{
	z-index: 108;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180564-4
{
	z-index: 104;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180586
{
	z-index: 116;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180589
{
	z-index: 117;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180595
{
	z-index: 124;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/juli-u181653-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u180593-6
{
	z-index: 118;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180590-4
{
	z-index: 125;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180592-4
{
	z-index: 129;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180594-4
{
	z-index: 133;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180588-4
{
	z-index: 145;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180591-4
{
	z-index: 141;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180621-4
{
	z-index: 137;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180624
{
	z-index: 149;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180633
{
	z-index: 150;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180628
{
	z-index: 157;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/jin_cha%20chang-u180628-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u180625-6
{
	z-index: 151;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180630-4
{
	z-index: 158;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180627-4
{
	z-index: 162;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180631-4
{
	z-index: 166;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180629-4
{
	z-index: 178;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180632-4
{
	z-index: 174;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180626-4
{
	z-index: 170;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180706
{
	z-index: 182;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180660
{
	z-index: 183;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180703
{
	z-index: 214;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/chou-u180703-fr.jpg") no-repeat center top;
	background-size: contain;
}

#u180666-6
{
	z-index: 184;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180668-4
{
	z-index: 190;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180662-4
{
	z-index: 194;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180665-4
{
	z-index: 198;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180663-4
{
	z-index: 210;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180667-4
{
	z-index: 206;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180664-4
{
	z-index: 202;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180709
{
	z-index: 215;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180714
{
	z-index: 216;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180718
{
	z-index: 243;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/jhehong_chang-u180718-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u180711-6
{
	z-index: 217;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180712-4
{
	z-index: 223;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180713-4
{
	z-index: 231;
	width: 56px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180739-4
{
	z-index: 227;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 86.5px;
}

#u180745-4
{
	z-index: 239;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180715-4
{
	z-index: 235;
	width: 95px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 50.5px;
}

#u180781
{
	z-index: 244;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180751
{
	z-index: 245;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u173001
{
	z-index: 276;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/pinhao_chen-u181663-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180753-6
{
	z-index: 246;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180749-4
{
	z-index: 252;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180756-4
{
	z-index: 260;
	width: 56px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180750-4
{
	z-index: 256;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 86.5px;
}

#u180755-4
{
	z-index: 264;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180775-4
{
	z-index: 268;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180778-4
{
	z-index: 272;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180784
{
	z-index: 277;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180789
{
	z-index: 278;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180793
{
	z-index: 309;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/su-u180793-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180786-6
{
	z-index: 279;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#pu180712-4,#pu180749-4,#pu180788-4
{
	margin-top: 9px;
	width: 84.58%;
	margin-left: 7.72%;
}

#u180788-4
{
	z-index: 285;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180792-4
{
	z-index: 293;
	width: 56px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180785-4
{
	z-index: 289;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 86.5px;
}

#pu173043-4,#pu180565-4,#pu180755-4,#pu180790-4
{
	margin-top: 6px;
	width: 78.2%;
	margin-left: 10.91%;
}

#u180790-4
{
	z-index: 297;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180791-4
{
	z-index: 301;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180787-4
{
	z-index: 305;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180861
{
	z-index: 310;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180822
{
	z-index: 311;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180828
{
	z-index: 334;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/xiaolan_ho-u180828-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu173041-6,#pu180557-6,#pu180593-6,#pu180625-6,#pu180666-6,#pu180711-6,#pu180753-6,#pu180786-6,#pu180826-6
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	width: 58.75%;
	margin-left: 20.63%;
}

#u180826-6
{
	z-index: 312;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180820-4
{
	z-index: 318;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180855-4
{
	z-index: 335;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180827-4
{
	z-index: 322;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 102.5px;
}

#u180824-4
{
	z-index: 326;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180823-4
{
	z-index: 330;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180858-4
{
	z-index: 339;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180864
{
	z-index: 343;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180867
{
	z-index: 344;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180868
{
	z-index: 363;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/liu-u180868-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180871-6
{
	z-index: 345;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180865-4
{
	z-index: 364;
	width: 95px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180866-4
{
	z-index: 351;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180870-4
{
	z-index: 355;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180872-4
{
	z-index: 359;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u180869-4
{
	z-index: 368;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u180921
{
	z-index: 372;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180927
{
	z-index: 373;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180929
{
	z-index: 392;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/huachon-u180929-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180925-6
{
	z-index: 374;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#pu180926-4
{
	margin-top: 9px;
	width: 92.03%;
	margin-left: 3.99%;
}

#u180926-4
{
	z-index: 393;
	width: 78px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180922-4
{
	z-index: 380;
	width: 87px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 56.5px;
}

#pu180924-4
{
	margin-top: 6px;
	width: 92.03%;
	margin-left: 3.99%;
}

#u180924-4
{
	z-index: 388;
	width: 121px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u181125-4
{
	z-index: 384;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 100.5px;
}

#u180953
{
	z-index: 447;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180960
{
	z-index: 448;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180957
{
	z-index: 459;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/philip-u180957-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180959-6
{
	z-index: 449;
	width: 184px;
	background-color: transparent;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u180959-2
{
	font-size: 20px;
	line-height: 27px;
	letter-spacing: 2px;
}

#u180959-4
{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 3px;
}

#pu180954-4
{
	margin-top: 9px;
	width: 92.56%;
	margin-left: 3.73%;
}

#u180954-4
{
	z-index: 460;
	width: 83px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28px;
}

#u180955-4
{
	z-index: 455;
	width: 83px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 61.99999999999999px;
}

#u180958-4
{
	z-index: 464;
	width: 118px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 6px;
	position: relative;
	margin-left: 50%;
	left: -28px;
}

#u180977
{
	z-index: 397;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u180984
{
	z-index: 398;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u180981
{
	z-index: 413;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/huide_fang-u180981-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u180983-6
{
	z-index: 399;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#pu180978-4
{
	margin-top: 9px;
	width: 83.52%;
	margin-left: 8.25%;
}

#u180978-4
{
	z-index: 414;
	width: 105px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180980-4
{
	z-index: 405;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 84.50000000000001px;
}

#u180979-4
{
	z-index: 409;
	width: 95px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u180982-4
{
	z-index: 418;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u181474
{
	z-index: 422;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u181479
{
	z-index: 423;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u181478
{
	z-index: 438;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/yuku_meng-u181478-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u181477-6
{
	z-index: 424;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#pu173046-4,#pu180562-4,#pu180590-4,#pu180630-4,#pu180668-4,#pu180820-4,#pu181480-4
{
	margin-top: 9px;
	width: 93.09%;
	margin-left: 3.46%;
}

#u181480-4
{
	z-index: 439;
	width: 123px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u181481-4
{
	z-index: 430;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 102.5px;
}

#pu180588-4,#pu180629-4,#pu180663-4,#pu180745-4,#pu180824-4,#pu180870-4,#pu180979-4,#pu181475-4
{
	margin-top: 6px;
	width: 93.09%;
	margin-left: 3.46%;
}

#u181475-4
{
	z-index: 434;
	width: 95px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u181476-4
{
	z-index: 443;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u181480-2,#u181481-2,#u181476-2
{
	padding-top: 6px;
}

#u181468
{
	z-index: 468;
	width: 320px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u181235
{
	z-index: 469;
	width: 320px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
}

#u181234
{
	z-index: 492;
	width: 119px;
	height: 133px;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -160px;
	background: transparent url("../../images/chinyi_chen-u181234-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu180871-6,#pu180925-6,#pu180959-6,#pu180983-6,#pu181477-6,#pu181233-6
{
	margin-right: -10000px;
	margin-top: 12px;
	width: 58.75%;
	margin-left: 20.63%;
}

#u181233-6
{
	z-index: 470;
	width: 184px;
	background-color: transparent;
	letter-spacing: 3px;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -24px;
}

#u173041-2,#u180557-2,#u180593-2,#u180625-2,#u180666-2,#u180711-2,#u180753-2,#u180786-2,#u180826-2,#u180871-2,#u180925-2,#u180983-2,#u181477-2,#u181233-2
{
	font-size: 20px;
	line-height: 27px;
}

#u173041-4,#u180557-4,#u180593-4,#u180625-4,#u180666-4,#u180711-4,#u180753-4,#u180786-4,#u180826-4,#u180871-4,#u180925-4,#u180983-4,#u181477-4,#u181233-4
{
	font-size: 12px;
	line-height: 16px;
}

#pu180865-4,#pu181260-4
{
	margin-top: 9px;
	width: 78.2%;
	margin-left: 10.91%;
}

#u181260-4
{
	z-index: 484;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.5px;
}

#u181237-4
{
	z-index: 476;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.5px;
}

#u181263-4
{
	z-index: 480;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 74.5px;
}

#u181231-4
{
	z-index: 488;
	width: 95px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 6px;
	position: relative;
	margin-left: 50%;
	left: -28px;
}

#u181471
{
	z-index: 493;
	width: 321px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u173112
{
	z-index: 494;
	width: 321px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -161px;
}

#u181287-4
{
	z-index: 495;
	width: 118px;
	min-height: 133px;
	border-radius: 3px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -161px;
	background: transparent url("../../images/the_way_client-ieu181287-4-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/the_way_client.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u181287-2
{
	padding-top: 59px;
}

#pu173110-6
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 16px;
	width: 58.88%;
	margin-left: 20.57%;
}

#u173110-6
{
	z-index: 503;
	width: 189px;
	background-color: transparent;
	color: #66C5CC;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: -29.000000000000014px;
}

#u173110-2
{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 3px;
}

#u173110-4
{
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 1px;
}

#pu181268-4
{
	margin-top: 6px;
	width: 87.84%;
	margin-left: 6.09%;
}

#u181268-4
{
	z-index: 525;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.500000000000014px;
}

#u181266-4
{
	z-index: 509;
	width: 63px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22.49999999999998px;
}

#u181267-4
{
	z-index: 513;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 92.49999999999997px;
}

#pu181232-4
{
	margin-top: 6px;
	width: 92.07%;
	margin-left: 3.97%;
}

#u181232-4
{
	z-index: 499;
	width: 72px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -28.500000000000014px;
}

#u181275-4
{
	z-index: 517;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 49.499999999999986px;
}

#u181278-4
{
	z-index: 521;
	width: 44px;
	min-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #B3AAA1;
	background-color: transparent;
	border-radius: 5px;
	line-height: 12px;
	color: #999999;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 100.49999999999997px;
}

#u173046-2,#u173040-2,#u173045-2,#u173043-2,#u173039-2,#u173044-2,#u180562-2,#u180558-2,#u180563-2,#u180565-2,#u180559-2,#u180564-2,#u180590-2,#u180592-2,#u180594-2,#u180588-2,#u180591-2,#u180621-2,#u180630-2,#u180627-2,#u180631-2,#u180629-2,#u180632-2,#u180626-2,#u180668-2,#u180662-2,#u180665-2,#u180663-2,#u180667-2,#u180664-2,#u180712-2,#u180713-2,#u180739-2,#u180745-2,#u180715-2,#u180749-2,#u180756-2,#u180750-2,#u180755-2,#u180775-2,#u180778-2,#u180788-2,#u180792-2,#u180785-2,#u180790-2,#u180791-2,#u180787-2,#u180820-2,#u180855-2,#u180827-2,#u180824-2,#u180823-2,#u180858-2,#u180865-2,#u180866-2,#u180870-2,#u180872-2,#u180869-2,#u180926-2,#u180922-2,#u180924-2,#u181125-2,#u180954-2,#u180955-2,#u180958-2,#u180978-2,#u180980-2,#u180979-2,#u180982-2,#u181475-2,#u181260-2,#u181237-2,#u181263-2,#u181231-2,#u181268-2,#u181266-2,#u181267-2,#u181232-2,#u181275-2,#u181278-2
{
	padding-top: 8px;
}

#u173017-4
{
	z-index: 46;
	width: 320px;
	min-height: 57px;
	-pie-box-shadow: 1px 1px 8px #ECEAE6;
	box-shadow: 1px 1px 8px rgba(217,213,206,0.5);
	background-color: #FFFFFF;
	border-radius: 3px;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -160px;
}

#u173017-2
{
	padding-top: 17px;
}

#u183966-6,#u183966-6-bw
{
	z-index: 2;
	min-height: 63px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

