.version.wechat /* version checker */
{
	color: #0000EF;
	background-color: #5AEAC6;
}

#page
{
	z-index: 1;
	min-height: 1570.9403194578988px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 23.059680542101205px;
	width: 100%;
	max-width: 500px;
}

#pu171720
{
	width: 100%;
}

#u171720
{
	z-index: 2;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u171720-bw
{
	z-index: 2;
	margin-bottom: -1px;
	height: 63px;
}

#u171722
{
	z-index: 4;
}

#u171723-4
{
	z-index: 5;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u171723-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u171723-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u171723-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u171724
{
	z-index: 9;
	padding-bottom: 16px;
}

#u171725-17
{
	z-index: 10;
	min-height: 215px;
	position: relative;
	margin-right: -10000px;
	width: 92%;
	left: 4%;
}

#accordionu171721,#accordionu171721-bw
{
	z-index: 3;
}

#u171808-4
{
	z-index: 119;
	width: 45px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 100%;
	left: -123px;
}

#u171807-4
{
	z-index: 115;
	width: 54px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 100%;
	left: -78px;
}

#u171807-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 54px;
	left: -78px;
	margin: 14px -10000px 0px 100%;
}

#u171811
{
	z-index: 125;
	width: 37px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 55px;
}

#u176369
{
	z-index: 126;
	width: 257px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-top: 95px;
	position: relative;
	margin-left: 50%;
	left: -128px;
}

#u176373
{
	z-index: 133;
	width: 55px;
	height: 55px;
	border-radius: 10px;
	position: relative;
	margin-left: 50%;
	left: -36px;
	background: transparent url("../../images/wechat_qrcode_color.jpg") no-repeat left top;
	background-size: cover;
}

#u176372-6
{
	z-index: 127;
	width: 231px;
	min-height: 58px;
	background-color: transparent;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 17px;
	position: relative;
	margin-left: 50%;
	left: -118px;
}

#u176370
{
	z-index: 134;
	width: 257px;
	background-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -129px;
}

#u171726
{
	z-index: 27;
	min-height: 836.5903194578988px;
	padding-top: 40px;
	padding-bottom: 50.40968054210123px;
}

#u171809
{
	z-index: 123;
	width: 281px;
	height: 188px;
	position: relative;
	margin-left: 50%;
	left: -141px;
}

#pmenuu171734
{
	margin-top: 16px;
	position: relative;
	width: 100%;
}

#menuu171734
{
	z-index: 52;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -134px;
}

#u171764
{
	width: 114px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u171766-4
{
	width: 114px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171743
{
	width: 114px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171746-4
{
	width: 114px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171752
{
	width: 114px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171753-4
{
	width: 114px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171757
{
	width: 114px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171759-4
{
	width: 114px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171738
{
	width: 114px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171764.MuseMenuActive,#u171743.MuseMenuActive,#u171752.MuseMenuActive,#u171757.MuseMenuActive,#u171738.MuseMenuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u171739-4
{
	width: 114px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171764.MuseMenuActive #u171766-4,#u171743.MuseMenuActive #u171746-4,#u171752.MuseMenuActive #u171753-4,#u171757.MuseMenuActive #u171759-4,#u171738.MuseMenuActive #u171739-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u171770
{
	z-index: 83;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 22px;
}

#menuu171771
{
	z-index: 84;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -57px;
}

#u171763,#u171786
{
	width: 114px;
	position: relative;
}

#u171789
{
	width: 113px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u171791-4
{
	width: 113px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171773
{
	width: 113px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u171776-4
{
	width: 113px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171801
{
	width: 113px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171802-4
{
	width: 113px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171780
{
	width: 113px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171782-4
{
	width: 113px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171742,#u171749,#u171756,#u171735,#u171772,#u171800,#u171779,#u171793
{
	width: 114px;
	margin-top: 2px;
	position: relative;
}

#u171794
{
	width: 113px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u171789.MuseMenuActive,#u171773.MuseMenuActive,#u171801.MuseMenuActive,#u171780.MuseMenuActive,#u171794.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u171795-4
{
	width: 113px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u171789.MuseMenuActive #u171791-4,#u171773.MuseMenuActive #u171776-4,#u171801.MuseMenuActive #u171802-4,#u171780.MuseMenuActive #u171782-4,#u171794.MuseMenuActive #u171795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u171729-4
{
	z-index: 41;
	width: 241px;
	min-height: 32px;
	margin-top: 62px;
	position: relative;
	margin-left: 50%;
	left: -120px;
}

#u171810
{
	z-index: 124;
	width: 224px;
	height: 66px;
	margin-top: 15px;
	position: relative;
	margin-left: 50%;
	left: -112px;
}

#u171730-4
{
	z-index: 45;
	width: 241px;
	min-height: 24px;
	margin-top: 71px;
	position: relative;
	margin-left: 50%;
	left: -120px;
}

#pu171731
{
	margin-top: 18px;
	position: relative;
	width: 100%;
}

#u171731
{
	z-index: 49;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -64px;
}

#u171731:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: -64px;
	margin: 0px -10000px 0px 50%;
}

#u171732
{
	z-index: 50;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -17px;
}

#u171732:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: -17px;
	margin: 0px -10000px 0px 50%;
}

#u171733
{
	z-index: 51;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 29px;
}

#u171733:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 29px;
	margin: 0px -10000px 0px 50%;
}

#u171728-7
{
	z-index: 34;
	width: 280px;
	min-height: 101px;
	margin-top: 18px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u171726-bw
{
	z-index: 27;
	min-height: 836.5903194578988px;
	margin-top: 17px;
}

#u171727-6
{
	z-index: 28;
	min-height: 48px;
}

#u171727-6-bw
{
	z-index: 28;
	min-height: 48px;
	margin-top: 34px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

