.version.yuki_meng /* version checker */
{
	color: #0000E7;
	background-color: #76A799;
}

#page
{
	z-index: 1;
	min-height: 2338px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 500px;
}

#pu184300
{
	width: 100%;
}

#u184300
{
	z-index: 8;
	height: 63px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u184300-bw
{
	z-index: 8;
	margin-bottom: -1px;
	height: 63px;
}

#u184302
{
	z-index: 10;
}

#u184303-4
{
	z-index: 11;
	min-height: 43px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u184303-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184303-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 43px;
	margin: 0px 0px 0px 0%;
}

#u184304
{
	z-index: 15;
	padding-bottom: 2px;
}

#u184305-14
{
	z-index: 16;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 92%;
	left: 4%;
}

#accordionu184301,#accordionu184301-bw
{
	z-index: 9;
}

#u184307-4
{
	z-index: 34;
	width: 43px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -109px;
}

#u184306-4
{
	z-index: 30;
	width: 52px;
	min-height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 100%;
	left: -66px;
}

#u184306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 52px;
	left: -66px;
	margin: 17px -10000px 0px 100%;
}

#u184308
{
	z-index: 38;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 41px;
}

#pu181438-3
{
	margin-top: 23px;
	width: 100%;
}

#u181438-3
{
	z-index: 57;
	width: 279px;
	min-height: 375px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -139px;
}

#u181432
{
	z-index: 73;
	width: 199px;
	height: 216px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	margin-left: 50%;
	left: -99px;
	background: transparent url("../../images/yuku_meng.jpg") no-repeat center center;
}

#u181437-6
{
	z-index: 74;
	width: 270px;
	min-height: 72px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	margin-left: 50%;
	left: -134px;
}

#u181437-2
{
	font-size: 24px;
	line-height: 35px;
}

#u181437-4
{
	line-height: 21px;
}

#u181440-4
{
	z-index: 80;
	width: 141px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -32px;
}

#u181441
{
	z-index: 84;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -71px;
	background: transparent url("../../images/kajin%20telemedical-09-u176810-fr.png") no-repeat left top;
	background-size: contain;
}

#u181431-4
{
	z-index: 69;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u181436-9
{
	z-index: 60;
	width: 279px;
	min-height: 135px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	text-align: center;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u181436-2
{
	font-size: 18px;
	line-height: 33px;
	padding-top: 15px;
	color: #66C5CC;
	font-weight: bold;
}

#u181436-4,#u181436-5
{
	font-size: 16px;
	line-height: 29px;
	color: #A1A1A1;
}

#u181436-7
{
	font-size: 18px;
	line-height: 33px;
	color: #66C5CC;
	font-weight: bold;
}

#u181433-4
{
	z-index: 89;
	width: 279px;
	min-height: 72px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u181439-17
{
	z-index: 40;
	width: 279px;
	min-height: 280px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #A1A1A1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u181439-2
{
	padding-right: 15px;
	padding-top: 15px;
}

#u181439-4,#u181439-6,#u181439-8,#u181439-10,#u181439-12,#u181439-14
{
	padding-right: 15px;
}

#u181434-4
{
	z-index: 85;
	width: 279px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -139px;
}

#u181442-11
{
	z-index: 116;
	width: 279px;
	min-height: 342px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	text-align: left;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -139px;
	border-width: 0px 1px 1px;
}

#u181442-2
{
	font-size: 18px;
	line-height: 32px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	color: #66C5CC;
	font-weight: bold;
}

#u181442-7
{
	font-size: 18px;
	line-height: 32px;
	padding-right: 15px;
	padding-left: 15px;
	color: #66C5CC;
	font-weight: bold;
}

#u181442-4,#u181442-5,#u181442-9
{
	font-size: 16px;
	line-height: 29px;
	padding-right: 15px;
	padding-left: 15px;
	color: #A1A1A1;
}

#u181430-4
{
	z-index: 108;
	width: 279px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u181431-2,#u181433-2,#u181434-2,#u181430-2
{
	padding-top: 21px;
}

#u181443-15
{
	z-index: 93;
	width: 279px;
	min-height: 618px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #A1A1A1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -140px;
	border-width: 0px 1px 1px;
}

#u181443-2
{
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 13px;
}

#u181443-3,#u181443-5,#u181443-6,#u181443-8,#u181443-10,#u181443-11,#u181443-13
{
	padding-right: 15px;
	padding-left: 15px;
}

#u181435-4
{
	z-index: 112;
	width: 280px;
	min-height: 50px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	letter-spacing: 3px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 12px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u181435-2
{
	padding-top: 16px;
}

#u183966-6
{
	z-index: 2;
	min-height: 63px;
}

#u183966-6-bw
{
	z-index: 2;
	min-height: 63px;
	margin-top: 14px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

