a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

li {
	padding: 5px;
}

table {
	border-spacing: 0px;
}

table th {
	background-color: #a4ffbf;
	font-size: 16px;
	font-weight: normal;
	padding: 5px 10px 5px 10px;
}

table tr td {
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid;
}

table tr:hover {
	background-color: #f0f0f0;
}

input, select, textarea {
	margin: 5px;
}

input[type=submit], input[type=button] {
	padding: 10px 20px 10px 20px;
}

/***** timetable setting start *****/

#timetable th {
	background-color: #a4ffbf;
	font-size: 16px;
	font-weight: normal;
	padding: 5px 8px 5px 8px;
	border: 1px solid #f0f0f0;
	text-align: center;
}

#timetable tr td {
	padding: 5px 8px 5px 8px;
	border: 1px solid #f0f0f0;
	width: 15px;
	text-align: center;
}

#timetable tr:hover {
	background-color: white;
}

#timetable_edit th {
	background-color: #a4ffbf;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 8px 10px 8px;
	border: 1px solid #f0f0f0;
	text-align: center;
}

#timetable_edit tr td {
	padding: 10px 8px 10px 8px;
	border: 1px solid #f0f0f0;
	width: 15px;
	text-align: center;
}

#timetable_edit tr:hover {
	background-color: white;
}

#timetable_edit .slot_off {
	cursor: pointer;
}

#timetable_edit .slot_on {
	cursor: pointer;
	background-color: #aaaaff;
}

#timetable_edit .slot_reserved {
	cursor: pointer;
	background-color: #ffaaaa;
}

#timetable_edit .slot_passed {
	cursor: pointer;
	background-color: #fafafa;
}

#timetable_edit .slot_passed_on {
	cursor: pointer;
	background-color: #d8d8fa;
}