.version._2_chengte_kao /* version checker */
{
	color: #000014;
	background-color: #792F5E;
}

#page
{
	z-index: 1;
	min-height: 2579px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u145800
{
	z-index: 2;
	min-height: 66px;
	padding-bottom: 20px;
}

#u145834
{
	z-index: 128;
	width: 45px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -481px;
}

#u145831-4
{
	z-index: 29;
	width: 317px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 50%;
	left: -425px;
}

#u145801
{
	z-index: 3;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 50%;
	left: -108px;
}

#menuu145802
{
	z-index: 4;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -172px;
}

#u145810
{
	width: 80px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u145811
{
	width: 80px;
	padding-bottom: 22px;
	position: relative;
}

#u145812-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145803
{
	width: 80px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u145804
{
	width: 80px;
	padding-bottom: 22px;
	position: relative;
}

#u145811.MuseMenuActive,#u145804.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u145807-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145817
{
	width: 98px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u145818
{
	width: 98px;
	padding-bottom: 22px;
	position: relative;
}

#u145818.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u145819-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145818.MuseMenuActive #u145819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145824
{
	width: 79px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u145825
{
	width: 79px;
	padding-bottom: 22px;
	position: relative;
}

#u145825.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u145826-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u145811.MuseMenuActive #u145812-4,#u145804.MuseMenuActive #u145807-4,#u145825.MuseMenuActive #u145826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u145832-4
{
	z-index: 129;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 285px;
}

#u145832-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 285px;
	margin: 26px -10000px 0px 50%;
}

#u145843-4
{
	z-index: 59;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 385px;
}

#u145833-4
{
	z-index: 133;
	width: 89px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 410px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u145800-bw
{
	z-index: 2;
	min-height: 66px;
}

#ppu131647-4
{
	margin-top: 19px;
	width: 100%;
}

#pu131647-4
{
	margin-right: -10000px;
	width: 15.99%;
	margin-left: 42.01%;
}

#u131647-4
{
	z-index: 150;
	width: 305px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: 170.5px;
}

#u131637
{
	z-index: 140;
	width: 305px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	padding-bottom: 42px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: 170.5px;
	border-width: 0px 1px 1px;
}

#u131599-12
{
	z-index: 161;
	width: 262px;
	min-height: 113px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	margin-left: 50%;
	left: -136px;
}

#u131698-3
{
	z-index: 137;
	width: 632px;
	min-height: 325px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -478px;
}

#u131651-4
{
	z-index: 141;
	width: 130px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: 50%;
	left: -158px;
}

#u131746
{
	z-index: 145;
	width: 130px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: 50%;
	left: -18px;
}

#u131747-4
{
	z-index: 146;
	width: 130px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -65px;
}

#u131734
{
	z-index: 154;
	width: 262px;
	height: 284px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -467px;
	background: transparent url("../images/cheng_de_kao-ieu131734-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/cheng_de_kao.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u131655-6
{
	z-index: 155;
	width: 270px;
	min-height: 83px;
	background-color: transparent;
	text-align: center;
	color: #66C5CC;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 50%;
	left: -164px;
}

#u131655-2
{
	font-size: 40px;
	line-height: 59px;
}

#u131655-4
{
	line-height: 21px;
}

#u131738-4
{
	z-index: 173;
	width: 200px;
	background-color: transparent;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 50%;
	left: -125px;
}

#u131644
{
	z-index: 177;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 50%;
	left: -165px;
	background: transparent url("../images/kajin%20telemedical-09-u176810-fr.png") no-repeat left top;
	background-size: contain;
}

#u131649-4
{
	z-index: 230;
	width: 963px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -487px;
}

#u131654
{
	z-index: 229;
	width: 963px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -487px;
	border-width: 0px 1px 1px;
}

#u131695-28
{
	z-index: 234;
	width: 873px;
	min-height: 367px;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -445px;
}

#u131599-2,#u131599-4,#u131695-2,#u131695-9,#u131695-16
{
	color: #66C5CC;
}

#u131599-6,#u131599-8,#u131599-10,#u131695-4,#u131695-6,#u131695-7,#u131695-11,#u131695-13,#u131695-14,#u131695-18,#u131695-20,#u131695-22,#u131695-24,#u131695-26
{
	color: #A1A1A1;
}

#u131697-4
{
	z-index: 179;
	width: 959px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -487px;
}

#u131656
{
	z-index: 178;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 14px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -487px;
	border-width: 0px 1px 1px;
}

#u131648-33
{
	z-index: 183;
	width: 925px;
	min-height: 341px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 50%;
	left: -472px;
}

#u131648-5,#u131648-10,#u131648-15,#u131648-20
{
	padding-left: 33px;
}

#u131736-4
{
	z-index: 263;
	width: 959px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -487px;
}

#u131639
{
	z-index: 262;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 14px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -487px;
	border-width: 0px 1px 1px;
}

#u131745-10
{
	z-index: 267;
	width: 920px;
	min-height: 186px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 50%;
	left: -454px;
}

#u131737-4
{
	z-index: 217;
	width: 959px;
	min-height: 75px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -487px;
}

#u131647-2,#u131649-2,#u131697-2,#u131736-2,#u131737-2
{
	padding-top: 21px;
}

#u131650
{
	z-index: 216;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
	margin-left: 50%;
	left: -487px;
	border-width: 0px 1px 1px;
}

#u131701-8
{
	z-index: 221;
	width: 924px;
	min-height: 128px;
	background-color: transparent;
	color: #A1A1A1;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	margin-left: 50%;
	left: -467px;
}

#u131701-2,#u131701-4
{
	line-height: 21px;
	letter-spacing: 4px;
}

#u131701-6
{
	line-height: 28px;
	letter-spacing: 0px;
}

#u131732
{
	z-index: 277;
	width: 366px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 63px;
	position: relative;
	margin-left: 50%;
	left: -183px;
}

#u131733-4
{
	z-index: 278;
	width: 366px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 29px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -183px;
}

#u131651-2,#u131747-2,#u131733-2
{
	padding-top: 9px;
}

#u145835
{
	z-index: 33;
	min-height: 320px;
	padding-bottom: 43px;
}

#u145800_align_to_page,#u145835_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u149075
{
	z-index: 126;
	width: 351px;
	height: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 50%;
	left: -481px;
}

#menuu145844
{
	z-index: 63;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	margin-left: 50%;
	left: -130px;
}

#u145874
{
	width: 97px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145876-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145860
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145861-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145846
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145849-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145869
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145871-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145855
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145874.MuseMenuActive,#u145860.MuseMenuActive,#u145846.MuseMenuActive,#u145869.MuseMenuActive,#u145855.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145858-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145874.MuseMenuActive #u145876-4,#u145860.MuseMenuActive #u145861-4,#u145846.MuseMenuActive #u145849-4,#u145869.MuseMenuActive #u145871-4,#u145855.MuseMenuActive #u145858-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u145880
{
	z-index: 94;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 50%;
	left: -17px;
}

#menuu145881
{
	z-index: 95;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -49px;
}

#u145873,#u145889
{
	width: 97px;
	position: relative;
}

#u145890
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145891-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145897
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145898-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145906
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145908-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145913
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145915-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145859,#u145845,#u145866,#u145852,#u145896,#u145903,#u145910,#u145882
{
	width: 97px;
	margin-top: 2px;
	position: relative;
}

#u145883
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145890.MuseMenuActive,#u145897.MuseMenuActive,#u145906.MuseMenuActive,#u145913.MuseMenuActive,#u145883.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145885-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145890.MuseMenuActive #u145891-4,#u145897.MuseMenuActive #u145898-4,#u145906.MuseMenuActive #u145908-4,#u145913.MuseMenuActive #u145915-4,#u145883.MuseMenuActive #u145885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#pu149127-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 92px;
	width: 4.48%;
	margin-left: 47.77%;
}

#u149127-4
{
	z-index: 48;
	width: 83px;
	min-height: 24px;
	position: relative;
	margin-left: 50%;
	left: 126px;
}

#u149149-4
{
	z-index: 52;
	width: 83px;
	min-height: 24px;
	margin-top: 71px;
	position: relative;
	margin-left: 50%;
	left: 129px;
}

#pu149090
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 92px;
	width: 12.97%;
	margin-left: 43.52%;
}

#u149090
{
	z-index: 127;
	width: 179px;
	height: 58px;
	position: relative;
	margin-left: 50%;
	left: 236.5px;
}

#pu145838
{
	margin-top: 38px;
	width: 51.41%;
	margin-left: 24.3%;
}

#u145838
{
	z-index: 56;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 237px;
}

#u145838:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 237px;
	margin: 0px -10000px 0px 50%;
}

#u145839
{
	z-index: 57;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 283px;
}

#u145839:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 283px;
	margin: 0px -10000px 0px 50%;
}

#u145840
{
	z-index: 58;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 329px;
}

#u145840:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 329px;
	margin: 0px -10000px 0px 50%;
}

#u145837-10
{
	z-index: 38;
	width: 249px;
	min-height: 24px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: 236.5px;
}

#u145835-bw
{
	z-index: 33;
	min-height: 320px;
	margin-top: 55px;
}

#u145836-4
{
	z-index: 34;
	width: 658px;
	min-height: 28px;
	margin-top: 17px;
	position: relative;
	margin-left: 50%;
	left: -329px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

