.version._7_yaoshin_wang /* version checker */
{
	color: #0000F6;
	background-color: #B5BCF0;
}

#page
{
	z-index: 1;
	min-height: 560px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u182372
{
	z-index: 7;
	width: 334px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -215px;
}

#menuu182373
{
	z-index: 8;
	width: 334px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -167px;
}

#u182374
{
	width: 78px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u182375
{
	width: 78px;
	padding-bottom: 22px;
	position: relative;
}

#u182375.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u182376-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u182381
{
	width: 96px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u182384
{
	width: 96px;
	padding-bottom: 22px;
	position: relative;
}

#u182384.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u182385-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u182384.MuseMenuActive #u182385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u182388
{
	width: 77px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u182391
{
	width: 77px;
	padding-bottom: 22px;
	position: relative;
}

#u182394-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u182395
{
	width: 77px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

#u182396
{
	width: 77px;
	padding-bottom: 22px;
	position: relative;
}

#u182391.MuseMenuActive,#u182396.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u182397-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u182375.MuseMenuActive #u182376-4,#u182391.MuseMenuActive #u182394-4,#u182396.MuseMenuActive #u182397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u182326-4
{
	z-index: 33;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 355px;
}

#u182370-4
{
	z-index: 37;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: 380px;
}

#u182370-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 380px;
	margin: 25px -10000px 0px 50%;
}

#u182446-4
{
	z-index: 41;
	width: 74px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: 282px;
}

#u182455
{
	z-index: 45;
	min-height: 57px;
	padding-bottom: 29px;
}

#u182455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u182467
{
	z-index: 46;
	width: 247px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 50%;
	left: -479px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u182455-bw
{
	z-index: 45;
	min-height: 57px;
	margin-bottom: -1px;
}

#pu133613-4
{
	margin-right: -10000px;
	width: 16.15%;
	margin-left: 41.93%;
}

#u133613-4
{
	z-index: 61;
	width: 308px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: 171px;
}

#u133675
{
	z-index: 51;
	width: 308px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	padding-bottom: 81px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: 171px;
	border-width: 0px 1px 1px;
}

#u133657-10
{
	z-index: 72;
	width: 262px;
	min-height: 101px;
	background-color: transparent;
	line-height: 24px;
	letter-spacing: 2px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 50%;
	left: -137px;
}

#u133530-3
{
	z-index: 48;
	width: 632px;
	min-height: 325px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -478px;
}

#u133604-4
{
	z-index: 52;
	width: 130px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: 50%;
	left: -158px;
}

#u133654
{
	z-index: 56;
	width: 130px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: 50%;
	left: -18px;
}

#u133655-4
{
	z-index: 57;
	width: 130px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -65px;
}

#u133604-2,#u133655-2
{
	padding-top: 9px;
}

#u133662
{
	z-index: 65;
	width: 262px;
	height: 284px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -458px;
	background: transparent url("../images/the_way_client-ieu133662-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/the_way_client.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover;
}

#u133610-6
{
	z-index: 66;
	width: 270px;
	min-height: 83px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 50%;
	left: -164px;
}

#u133610-2
{
	font-size: 40px;
	line-height: 59px;
}

#u133610-4
{
	line-height: 21px;
}

#u133612-4
{
	z-index: 82;
	width: 200px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 50%;
	left: -125px;
}

#u133668
{
	z-index: 86;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 50%;
	left: -165px;
	background: transparent url("../images/kajin%20telemedical-09-u127252-fr.png") no-repeat left top;
	background-size: contain;
}

#ppu133613-4,#pu133671-4
{
	margin-top: 20px;
	width: 100%;
}

#u133671-4
{
	z-index: 104;
	width: 634px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -480px;
}

#u133659-4
{
	z-index: 88;
	width: 308px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 171px;
}

#pu182372,#pu133666
{
	width: 100%;
}

#u133666
{
	z-index: 103;
	width: 634px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -480px;
	border-width: 0px 1px 1px;
}

#u133658-11
{
	z-index: 108;
	width: 559px;
	min-height: 148px;
	background-color: transparent;
	line-height: 24px;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -272px;
}

#u133658-5
{
	color: #7F7F7F;
}

#u133657-2,#u133657-4,#u133657-6,#u133658-2,#u133658-7
{
	color: #66C5CC;
}

#u133657-8,#u133658-4,#u133658-9
{
	color: #A1A1A1;
}

#u133664
{
	z-index: 87;
	width: 308px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 20px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 171px;
	border-width: 0px 1px 1px;
}

#u133607-11
{
	z-index: 92;
	width: 262px;
	min-height: 140px;
	background-color: transparent;
	line-height: 24px;
	color: #A1A1A1;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -137px;
}

#u133669-4
{
	z-index: 121;
	width: 959px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -480px;
}

#u133663
{
	z-index: 119;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -480px;
	border-width: 0px 1px 1px;
}

#u133528-6
{
	z-index: 129;
	width: 920px;
	min-height: 86px;
	background-color: transparent;
	line-height: 29px;
	color: #A1A1A1;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: -461px;
}

#u133656-4
{
	z-index: 125;
	width: 959px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -480px;
}

#u133613-2,#u133671-2,#u133659-2,#u133669-2,#u133656-2
{
	padding-top: 21px;
}

#u133670
{
	z-index: 120;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -480px;
	border-width: 0px 1px 1px;
}

#u133660-8
{
	z-index: 135;
	width: 922px;
	min-height: 104px;
	background-color: transparent;
	line-height: 21px;
	color: #A1A1A1;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: -474px;
}

#u184781
{
	z-index: 143;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -141px;
}

#u184782-7
{
	z-index: 144;
	width: 282px;
	min-height: 78px;
	background-color: transparent;
	border-radius: 4px;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -141px;
}

#u184782-5
{
	padding-top: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u184782-2
{
	line-height: 29px;
}

#u184782,#u184782-3
{
	letter-spacing: -6px;
	line-height: 29px;
}

#u184782-4
{
	font-size: 24px;
	line-height: 35px;
}

#u182325-5,#u182325-5-bw
{
	z-index: 2;
	min-height: 78px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

