.version._8_yihsien_su /* version checker */
{
	color: #00000A;
	background-color: #F065F6;
}

#page
{
	z-index: 1;
	min-height: 559.571992011246px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u182372
{
	z-index: 7;
	width: 334px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -215px;
}

#menuu182373
{
	z-index: 8;
	width: 334px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -167px;
}

#u182374
{
	width: 78px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u182375
{
	width: 78px;
	padding-bottom: 22px;
	position: relative;
}

#u182375.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u182376-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u182381
{
	width: 96px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u182384
{
	width: 96px;
	padding-bottom: 22px;
	position: relative;
}

#u182384.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u182385-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u182384.MuseMenuActive #u182385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u182388
{
	width: 77px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u182391
{
	width: 77px;
	padding-bottom: 22px;
	position: relative;
}

#u182394-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u182395
{
	width: 77px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

#u182396
{
	width: 77px;
	padding-bottom: 22px;
	position: relative;
}

#u182391.MuseMenuActive,#u182396.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u182397-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u182375.MuseMenuActive #u182376-4,#u182391.MuseMenuActive #u182394-4,#u182396.MuseMenuActive #u182397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u182326-4
{
	z-index: 33;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 355px;
}

#u182370-4
{
	z-index: 37;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: 380px;
}

#u182370-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 380px;
	margin: 25px -10000px 0px 50%;
}

#u182446-4
{
	z-index: 41;
	width: 74px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: 282px;
}

#u182455
{
	z-index: 45;
	min-height: 57px;
	padding-bottom: 29px;
}

#u182455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u182467
{
	z-index: 46;
	width: 247px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 50%;
	left: -479px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u182455-bw
{
	z-index: 45;
	min-height: 57px;
	margin-bottom: -1px;
}

#pu114829-4
{
	margin-right: -10000px;
	width: 15.99%;
	margin-left: 42.01%;
}

#u114829-4
{
	z-index: 61;
	width: 305px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: 170.5px;
}

#u114784
{
	z-index: 51;
	width: 305px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: 170.5px;
	border-width: 0px 1px 1px;
}

#u127250-11
{
	z-index: 72;
	width: 262px;
	min-height: 124px;
	background-color: transparent;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	margin-left: 50%;
	left: -136px;
}

#u127250-2,#u127250-4,#u127250-6
{
	font-size: 18px;
	line-height: 26px;
	color: #A1A1A1;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u127250-9
{
	font-size: 16px;
	color: #7F7F7F;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u127250-7
{
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 26px;
}

#u114780-3
{
	z-index: 48;
	width: 632px;
	min-height: 325px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -478px;
}

#u114781-4
{
	z-index: 52;
	width: 130px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: 50%;
	left: -158px;
}

#u114782
{
	z-index: 56;
	width: 130px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	margin-left: 50%;
	left: -18px;
}

#u114783-4
{
	z-index: 57;
	width: 130px;
	min-height: 43px;
	background-color: #66C5CC;
	border-radius: 4px;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -65px;
}

#u114781-2,#u114783-2
{
	padding-top: 9px;
}

#u127248
{
	z-index: 65;
	width: 262px;
	height: 284px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -467px;
	background: transparent url("../images/su2.jpg") no-repeat center center;
	background-size: cover;
}

#u127249-6
{
	z-index: 66;
	width: 270px;
	min-height: 83px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 50%;
	left: -164px;
}

#u127249-2
{
	font-size: 40px;
	line-height: 59px;
}

#u127249-4
{
	line-height: 21px;
}

#u127251-4
{
	z-index: 83;
	width: 200px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 50%;
	left: -125px;
}

#u127252
{
	z-index: 87;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	margin-left: 50%;
	left: -165px;
	background: transparent url("../images/kajin%20telemedical-09-u127252-fr.png") no-repeat left top;
	background-size: contain;
}

#ppu114829-4,#pu127446-4
{
	margin-top: 20px;
	width: 100%;
}

#u127446-4
{
	z-index: 132;
	width: 634px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -480px;
}

#u127453-4
{
	z-index: 89;
	width: 305px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 171px;
}

#pu182372,#pu127264
{
	width: 100%;
}

#u127264
{
	z-index: 131;
	width: 634px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 22px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -480px;
	border-width: 0px 1px 1px;
}

#u127266-27
{
	z-index: 136;
	width: 593px;
	min-height: 367px;
	background-color: transparent;
	line-height: 32px;
	color: #A1A1A1;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -306px;
}

#u127266-7,#u127266-9,#u127266-11,#u127266-13,#u127266-15
{
	padding-left: 31px;
}

#u127266-22
{
	padding-left: 33px;
}

#u127256
{
	z-index: 88;
	width: 305px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 76px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 171px;
	border-width: 0px 1px 1px;
}

#u127257-18
{
	z-index: 93;
	width: 262px;
	min-height: 314px;
	background-color: transparent;
	line-height: 32px;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 50%;
	left: -136px;
}

#u127257-5,#u127257-10
{
	color: #000000;
}

#u127257-2,#u127257-7,#u127257-12,#u127257-14
{
	color: #66C5CC;
}

#u127460-4
{
	z-index: 164;
	width: 961px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 20px;
	position: relative;
	margin-left: 50%;
	left: -480px;
}

#u127270
{
	z-index: 163;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 33px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	margin-left: 50%;
	left: -480px;
	border-width: 0px 1px 1px;
}

#u127269-18
{
	z-index: 168;
	width: 895px;
	min-height: 425px;
	background-color: transparent;
	line-height: 32px;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 50%;
	left: -444px;
}

#u127257-4,#u127257-9,#u127257-16,#u127269-16
{
	color: #7F7F7F;
}

#u127269-2,#u127269-3,#u127269-5,#u127269-6,#u127269-8,#u127269-9,#u127269-11,#u127269-12,#u127269-13
{
	color: #A1A1A1;
}

#u127467-4
{
	z-index: 112;
	width: 959px;
	min-height: 75px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -480px;
}

#u114829-2,#u127446-2,#u127453-2,#u127460-2,#u127467-2
{
	padding-top: 21px;
}

#u127262
{
	z-index: 111;
	width: 959px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -480px;
	border-width: 0px 1px 1px;
}

#u127260-15
{
	z-index: 116;
	width: 908px;
	min-height: 224px;
	background-color: transparent;
	line-height: 28px;
	color: #A1A1A1;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 50%;
	left: -451px;
}

#u127260-13
{
	counter-reset: list0;
}

#u127260-13 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u127260-13 .list1
{
	counter-reset: list1;
}

#u127260-13 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u127260-13 .list2
{
	counter-reset: list2;
}

#u127260-13 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u127260-13 .list3
{
	counter-reset: list3;
}

#u127260-13 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u127260-13 .list4
{
	counter-reset: list4;
}

#u127260-13 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u127260-13 .list5
{
	counter-reset: list5;
}

#u127260-13 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u127260-13 .list6
{
	counter-reset: list6;
}

#u127260-13 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u127260-13 .list7
{
	counter-reset: list7;
}

#u127260-13 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u127260-13 .list8
{
	counter-reset: list8;
}

#u127260-13 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u184787
{
	z-index: 186;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
	margin-left: 50%;
	left: -141px;
}

#u184788-7
{
	z-index: 187;
	width: 282px;
	min-height: 78px;
	background-color: transparent;
	border-radius: 4px;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -141px;
}

#u184788-5
{
	padding-top: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u184788-2
{
	line-height: 29px;
}

#u184788,#u184788-3
{
	letter-spacing: -6px;
	line-height: 29px;
}

#u184788-4
{
	font-size: 24px;
	line-height: 35px;
}

#u182325-5,#u182325-5-bw
{
	z-index: 2;
	min-height: 78px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

