.version.comparison /* version checker */
{
	color: #0000FB;
	background-color: #779C7E;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 587.335165582628px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#pu20780
{
	width: 0.01px;
	padding-bottom: 85px;
	margin-left: -100px;
}

#u20780
{
	z-index: 213;
	height: 85px;
	position: fixed;
	top: 0px;
}

#u20780-bw
{
	z-index: 213;
}

#u25093
{
	z-index: 214;
	width: 339px;
	padding-bottom: 45px;
	position: fixed;
	top: 20px;
	left: 100px;
}

#u20785
{
	z-index: 219;
	width: 45px;
	height: 45px;
	position: fixed;
	top: 20px;
	left: 100px;
}

#u20786-4
{
	z-index: 215;
	width: 283px;
	min-height: 36px;
	position: fixed;
	top: 26px;
	left: 156px;
}

#u22818
{
	z-index: 220;
	width: 204px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
	position: fixed;
	top: 24px;
	right: 101px;
}

#menuu22819
{
	z-index: 221;
	width: 204px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 24px;
	right: 101px;
}

#u22820
{
	width: 101px;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u22823
{
	width: 101px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u22826-4
{
	width: 72px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u22834
{
	width: 101px;
	min-height: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#u22835
{
	width: 101px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#u22823.MuseMenuActive,#u22835.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u22836-4
{
	width: 72px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 14px;
}

#u22823.MuseMenuActive #u22826-4,#u22835.MuseMenuActive #u22836-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u20117
{
	z-index: 34;
	min-height: 306px;
	background-color: #66C5CC;
	padding-bottom: 141px;
}

#u22905
{
	z-index: 135;
	width: 899px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 130px;
}

#u11654
{
	z-index: 137;
	width: 128px;
	height: 139px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	background: transparent url("../images/noname-02.png") no-repeat center center;
	background-size: contain;
}

#pu11655
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 178px;
}

#u11655
{
	z-index: 138;
	width: 347px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 98px;
	position: relative;
}

#u11656
{
	z-index: 139;
	width: 347px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11658-6
{
	z-index: 140;
	width: 347px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u11658-2
{
	letter-spacing: 2px;
}

#u20120-4
{
	z-index: 146;
	width: 544px;
	min-height: 84px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 27px;
	position: relative;
}

#u11653
{
	z-index: 136;
	width: 127px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 772px;
	background: transparent url("../images/puzzle-02.png") no-repeat left top;
	background-size: contain;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u20117-bw
{
	z-index: 34;
	min-height: 306px;
}

#u11633
{
	z-index: 35;
	width: 847px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 57px;
	margin-top: 129px;
	position: relative;
}

#u11620
{
	z-index: 36;
	width: 846px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: #66C5CC;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 0px;
}

#u11618-18
{
	z-index: 37;
	width: 310px;
	min-height: 351px;
	background-color: transparent;
	line-height: 50px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u11618-16
{
	text-align: center;
	color: #7F7F7F;
}

#u11616-16
{
	z-index: 55;
	width: 130px;
	min-height: 351px;
	border-style: solid;
	border-color: #C2F0F2;
	background-color: #D9D5CE;
	color: #7F7F7F;
	line-height: 50px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	border-width: 0px 0px 0px 1px;
}

#u11616-2,#u11616-4,#u11616-6,#u11616-8,#u11616-10,#u11616-12,#u11616-14
{
	padding-left: 34px;
}

#u11611
{
	z-index: 71;
	width: 846px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	border-width: 1px 0px;
}

#u11612
{
	z-index: 72;
	width: 846px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	border-width: 1px 0px;
}

#u11613
{
	z-index: 73;
	width: 846px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	border-width: 1px 0px;
}

#u11614
{
	z-index: 74;
	width: 846px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	border-width: 1px 0px;
}

#u11617-20
{
	z-index: 75;
	width: 252px;
	min-height: 569px;
	background-color: transparent;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u11617-2
{
	line-height: 50px;
	color: #FFFFFF;
}

#u11617-4,#u11617-6,#u11617-8,#u11617-10,#u11617-12
{
	line-height: 50px;
	color: #7F7F7F;
}

#u11617-14
{
	line-height: 37px;
	color: #7F7F7F;
}

#u11617-16
{
	line-height: 0px;
	color: #7F7F7F;
}

#u11617-18
{
	line-height: 82px;
	color: #7F7F7F;
}

#u11619-16
{
	z-index: 95;
	width: 221px;
	min-height: 400px;
	border-style: solid;
	border-color: #C2F0F2;
	background-color: transparent;
	line-height: 50px;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 625px;
	border-width: 0px 1px 0px 0px;
}

#u11618-2,#u11619-2
{
	color: #FFFFFF;
}

#u11618-4,#u11618-6,#u11618-8,#u11618-10,#u11618-12,#u11618-14,#u11619-4,#u11619-6,#u11619-8,#u11619-10,#u11619-12,#u11619-14
{
	color: #7F7F7F;
}

#u11622-4
{
	z-index: 111;
	width: 30px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 301px;
}

#u11632-4
{
	z-index: 115;
	width: 30px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 361px;
}

#u11623-4
{
	z-index: 119;
	width: 30px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 232px;
}

#u11624-4
{
	z-index: 123;
	width: 30px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 376px;
}

#u11626-4
{
	z-index: 127;
	width: 30px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 411px;
}

#u11630-4
{
	z-index: 131;
	width: 30px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 311px;
}

#u11622-2,#u11632-2,#u11623-2,#u11624-2,#u11626-2,#u11630-2
{
	padding-left: 8px;
	padding-top: 8px;
}

#pu20688
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -91px;
}

#u20688
{
	z-index: 2;
	min-height: 259px;
	padding-bottom: 99px;
}

#u20117_align_to_page,#u20688_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u20772
{
	z-index: 3;
	width: 51px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 175px;
}

#menuu24638
{
	z-index: 150;
	width: 113px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 570px;
}

#u24660
{
	width: 113px;
	background-color: transparent;
	position: relative;
}

#u24661
{
	width: 113px;
	background-color: transparent;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u24663-4
{
	width: 113px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24640
{
	width: 113px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24641-4
{
	width: 113px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24648-4
{
	width: 113px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24669-4
{
	width: 113px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24639,#u24646,#u24667,#u24653
{
	width: 113px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u24647,#u24668,#u24656
{
	width: 113px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24661.MuseMenuActive,#u24640.MuseMenuActive,#u24656.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u24658-4
{
	width: 113px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24661.MuseMenuActive #u24663-4,#u24640.MuseMenuActive #u24641-4,#u24647.MuseMenuActive #u24648-4,#u24668.MuseMenuActive #u24669-4,#u24656.MuseMenuActive #u24658-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 113px;
	margin: 0px -10000px 0px 0px;
}

#u24661.MuseMenuActive #u24663-4 p,#u24640.MuseMenuActive #u24641-4 p,#u24647.MuseMenuActive #u24648-4 p,#u24668.MuseMenuActive #u24669-4 p,#u24656.MuseMenuActive #u24658-4 p
{
	text-decoration: none;
}

#u24675
{
	z-index: 181;
	width: 127px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 683px;
}

#menuu24676
{
	z-index: 182;
	width: 127px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u24705
{
	width: 127px;
	background-color: transparent;
	position: relative;
}

#u24708
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24711-4
{
	width: 127px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24678
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24680-4
{
	width: 127px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24685
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24687-4
{
	width: 127px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24692
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24694-4
{
	width: 127px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24677,#u24684,#u24691,#u24698
{
	width: 127px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u24699
{
	width: 127px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u24708.MuseMenuActive,#u24678.MuseMenuActive,#u24685.MuseMenuActive,#u24692.MuseMenuActive,#u24699.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u24701-4
{
	width: 127px;
	min-height: 16px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 16px;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u24708.MuseMenuActive #u24711-4,#u24678.MuseMenuActive #u24680-4,#u24685.MuseMenuActive #u24687-4,#u24692.MuseMenuActive #u24694-4,#u24699.MuseMenuActive #u24701-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u22823.MuseMenuActive #u22826-4 p,#u22835.MuseMenuActive #u22836-4 p,#u24708.MuseMenuActive #u24711-4 p,#u24678.MuseMenuActive #u24680-4 p,#u24685.MuseMenuActive #u24687-4 p,#u24692.MuseMenuActive #u24694-4 p,#u24699.MuseMenuActive #u24701-4 p
{
	color: #0CA7B3;
	visibility: inherit;
	text-decoration: none;
}

#pu20771-9
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 78px;
	margin-left: 841px;
}

#u20771-9
{
	z-index: 12;
	width: 195px;
	min-height: 89px;
	position: relative;
}

#page_position_content,#pu20691
{
	width: 0.01px;/* should not cover content below */
}

#u20691
{
	z-index: 21;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u20733
{
	z-index: 22;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u20690
{
	z-index: 29;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 92px;
}

#u20691:hover,#u20733:hover,#u20690:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u20688-bw
{
	z-index: 2;
	min-height: 259px;
	margin-top: 91px;
}

#u20729
{
	z-index: 4;
	width: 389px;
	height: 435px;
	position: relative;
	margin-right: -10000px;
	margin-top: -23px;
	left: 124px;
}

#u20770-7
{
	z-index: 5;
	width: 658px;
	min-height: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	left: 251px;
}

#u20730
{
	z-index: 23;
	width: 217px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 214px;
}

#u20731
{
	z-index: 28;
	width: 45px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
}

#u20732-4
{
	z-index: 24;
	width: 161px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 56px;
}

#u29067-4
{
	z-index: 30;
	width: 326px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 159px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

