.version.compare /* version checker */
{
	color: #000010;
	background-color: #1345AD;
}

#page
{
	z-index: 1;
	min-height: 559.9244454935433px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#pu145843-4
{
	width: 100%;
}

#u145843-4
{
	z-index: 2;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 355px;
}

#u145832-4
{
	z-index: 6;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: 380px;
}

#u145832-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 380px;
	margin: 25px -10000px 0px 50%;
}

#u145833-4
{
	z-index: 10;
	width: 74px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: 282px;
}

#u179913
{
	z-index: 14;
	min-height: 66px;
	padding-bottom: 20px;
}

#u182479
{
	z-index: 115;
	width: 247px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 50%;
	left: -480px;
}

#u145801
{
	z-index: 117;
	width: 342px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -220px;
}

#menuu145802
{
	z-index: 118;
	width: 342px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -171px;
}

#u145803
{
	width: 80px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u145804
{
	width: 80px;
	padding-bottom: 22px;
	position: relative;
}

#u145804.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u145807-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145817
{
	width: 98px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u145818
{
	width: 98px;
	padding-bottom: 22px;
	position: relative;
}

#u145818.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u145819-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145818.MuseMenuActive #u145819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145824
{
	width: 79px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 182px;
}

#u145825
{
	width: 79px;
	padding-bottom: 22px;
	position: relative;
}

#u145826-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u179590
{
	width: 79px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 263px;
}

#u179591
{
	width: 79px;
	padding-bottom: 22px;
	position: relative;
}

#u145825.MuseMenuActive,#u179591.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u179594-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u145804.MuseMenuActive #u145807-4,#u145825.MuseMenuActive #u145826-4,#u179591.MuseMenuActive #u179594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u179913-bw
{
	z-index: 14;
	min-height: 66px;
	margin-bottom: -1px;
}

#u112338
{
	z-index: 156;
	min-height: 210px;
	background: -webkit-gradient(linear, left center, right center, from(#66C5CC),color-stop(78%, #A6E8ED));
	background: -webkit-linear-gradient(left,#66C5CC ,#A6E8ED 78%);
	background: linear-gradient(to right,#66C5CC ,#A6E8ED 78%);
	-pie-background: linear-gradient(left,#66C5CC ,#A6E8ED 78%);
	padding-bottom: 68px;
	background-size: 100% auto;
}

#u112338_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1920px;
}

#u112359
{
	z-index: 158;
	width: 128px;
	height: 121px;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	margin-left: 50%;
	left: -450px;
	background: transparent url("../images/noname-02.png") no-repeat center center;
	background-size: contain;
}

#pu112354
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 68px;
	width: 28.34%;
	margin-left: 35.84%;
}

#u112354
{
	z-index: 159;
	width: 409px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-left: 50%;
	left: -204px;
}

#u112355
{
	z-index: 160;
	width: 409px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -205px;
}

#u112356-4
{
	z-index: 161;
	width: 409px;
	min-height: 43px;
	background-color: transparent;
	line-height: 37px;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -205px;
}

#u112358-4
{
	z-index: 165;
	width: 544px;
	min-height: 89px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 10px;
	position: relative;
	margin-left: 50%;
	left: -271px;
}

#u112357
{
	z-index: 157;
	width: 127px;
	height: 85px;
	opacity: 0.87;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=87)";
	filter: alpha(opacity=87);
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	margin-left: 50%;
	left: 322px;
	background: transparent url("../images/puzzle-02.png") no-repeat left top;
	background-size: contain;
}

#u112338-bw
{
	z-index: 156;
	min-height: 210px;
}

#u179910
{
	z-index: 169;
	width: 961px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 66px;
	position: relative;
	margin-left: 50%;
	left: -480px;
}

#u112419
{
	z-index: 170;
	width: 960px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: #66C5CC;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -481px;
	border-width: 1px 0px 0px;
}

#u112557-18
{
	z-index: 171;
	width: 218px;
	min-height: 405px;
	background-color: transparent;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 50%;
	left: -31px;
}

#u112428-16
{
	z-index: 189;
	width: 148px;
	min-height: 351px;
	border-style: solid;
	border-color: #C2F0F2;
	background-color: #D9D5CE;
	line-height: 50px;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 50%;
	left: -481px;
	border-width: 0px 0px 0px 1px;
}

#u112422
{
	z-index: 205;
	width: 960px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 50%;
	left: -481px;
	border-width: 1px 0px;
}

#u112433
{
	z-index: 206;
	width: 960px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	margin-left: 50%;
	left: -481px;
	border-width: 1px 0px;
}

#u112420
{
	z-index: 207;
	width: 960px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	margin-left: 50%;
	left: -481px;
	border-width: 1px 0px;
}

#u112426
{
	z-index: 208;
	width: 960px;
	height: 49px;
	border-style: solid;
	border-color: #B3AAA1;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	margin-left: 50%;
	left: -481px;
	border-width: 1px 0px;
}

#u112431-20
{
	z-index: 209;
	width: 286px;
	min-height: 433px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 50%;
	left: -325px;
}

#u112431-2
{
	line-height: 50px;
	color: #FFFFFF;
}

#u112431-4,#u112431-6,#u112431-8,#u112431-10,#u112431-12
{
	line-height: 50px;
	color: #7F7F7F;
}

#u112431-14
{
	line-height: 37px;
	color: #7F7F7F;
}

#u112431-16
{
	line-height: 8px;
	color: #7F7F7F;
}

#u112431-18
{
	line-height: 64px;
	color: #7F7F7F;
}

#u112546-18
{
	z-index: 229;
	width: 292px;
	min-height: 395px;
	border-style: solid;
	border-color: #C2F0F2;
	background-color: transparent;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 50%;
	left: 188px;
	border-width: 0px 1px 0px 0px;
}

#u112557-2,#u112546-2
{
	color: #FFFFFF;
}

#u112557-4,#u112557-6,#u112557-8,#u112557-10,#u112557-12,#u112557-14,#u112557-16,#u112546-4,#u112546-6,#u112546-8,#u112546-10,#u112546-12,#u112546-14,#u112546-16
{
	color: #7F7F7F;
}

#u112425-4
{
	z-index: 247;
	width: 31px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 50%;
	left: -96px;
}

#u112432-4
{
	z-index: 251;
	width: 31px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 50%;
	left: -96px;
}

#u112429-4
{
	z-index: 255;
	width: 31px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	margin-left: 50%;
	left: -127px;
}

#u112424-4
{
	z-index: 259;
	width: 31px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	margin-left: 50%;
	left: -70px;
}

#u112427-4
{
	z-index: 263;
	width: 31px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	margin-left: 50%;
	left: -62px;
}

#u112430-4
{
	z-index: 267;
	width: 31px;
	min-height: 30px;
	background-color: #F99891;
	border-radius: 15px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 361px;
	margin-left: 50%;
	left: -96px;
}

#u112425-2,#u112432-2,#u112429-2,#u112424-2,#u112427-2,#u112430-2
{
	padding-left: 8px;
	padding-top: 8px;
}

#u181841
{
	z-index: 20;
	min-height: 313px;
	padding-bottom: 32px;
}

#u179913_align_to_page,#u181841_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#pu182121
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 38px;
	width: 12.77%;
	margin-left: 43.62%;
}

#u182121
{
	z-index: 101;
	width: 212px;
	height: 159px;
	position: relative;
	margin-left: 50%;
	left: -432.5px;
}

#u181843-11
{
	z-index: 22;
	width: 245px;
	min-height: 112px;
	margin-top: 3px;
	position: relative;
	margin-left: 50%;
	left: -448.5px;
}

#u181842
{
	z-index: 21;
	width: 319px;
	padding-top: 17px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: -160px;
}

#pu145880
{
	width: 60.82%;
	margin-left: 19.6%;
}

#u145880
{
	z-index: 69;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -97.5px;
}

#menuu145881
{
	z-index: 70;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -49px;
}

#u145890
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145891-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145897
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145898-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145906
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145908-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145913
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145915-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145883
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145890.MuseMenuActive,#u145897.MuseMenuActive,#u145906.MuseMenuActive,#u145913.MuseMenuActive,#u145883.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145885-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145890.MuseMenuActive #u145891-4,#u145897.MuseMenuActive #u145898-4,#u145906.MuseMenuActive #u145908-4,#u145913.MuseMenuActive #u145915-4,#u145883.MuseMenuActive #u145885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#menuu145844
{
	z-index: 38;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -0.5000000000000071px;
}

#u145889,#u145873
{
	width: 97px;
	position: relative;
}

#u145874
{
	width: 97px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145876-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145860
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145861-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145846
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145849-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145869
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145871-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145896,#u145903,#u145910,#u145882,#u145859,#u145845,#u145866,#u145852
{
	width: 97px;
	margin-top: 2px;
	position: relative;
}

#u145855
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145874.MuseMenuActive,#u145860.MuseMenuActive,#u145846.MuseMenuActive,#u145869.MuseMenuActive,#u145855.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145858-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145874.MuseMenuActive #u145876-4,#u145860.MuseMenuActive #u145861-4,#u145846.MuseMenuActive #u145849-4,#u145869.MuseMenuActive #u145871-4,#u145855.MuseMenuActive #u145858-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u182171
{
	z-index: 106;
	width: 252px;
	margin-top: 18px;
	position: relative;
	margin-left: 50%;
	left: -140px;
}

#u182168-4
{
	z-index: 111;
	width: 83px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 50%;
	left: -126px;
}

#u181845
{
	z-index: 107;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -36px;
}

#u181845:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: -36px;
	margin: 0px -10000px 0px 50%;
}

#u181846
{
	z-index: 108;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 7px;
}

#u181846:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 7px;
	margin: 0px -10000px 0px 50%;
}

#u181847
{
	z-index: 109;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 49px;
}

#u181847:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 49px;
	margin: 0px -10000px 0px 50%;
}

#u181848
{
	z-index: 110;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 91px;
}

#u181848:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 91px;
	margin: 0px -10000px 0px 50%;
}

#pu182141-4
{
	margin-right: -10000px;
	margin-top: 51px;
	width: 14.02%;
	margin-left: 43%;
}

#u182141-4
{
	z-index: 102;
	width: 83px;
	min-height: 24px;
	position: relative;
	margin-left: 50%;
	left: 181.5px;
}

#u184691
{
	z-index: 143;
	width: 262px;
	margin-top: 17px;
	position: relative;
	margin-left: 50%;
	left: 188.5px;
}

#u184674
{
	z-index: 155;
	width: 121px;
	height: 101px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -131px;
}

#u184236
{
	z-index: 144;
	width: 140px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -9px;
}

#u183993-10
{
	z-index: 145;
	width: 139px;
	min-height: 101px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -70px;
}

#u181851-4
{
	z-index: 33;
	width: 83px;
	min-height: 24px;
	margin-top: 25px;
	position: relative;
	margin-left: 50%;
	left: 181.5px;
}

#u181852
{
	z-index: 37;
	width: 179px;
	height: 58px;
	margin-top: 8px;
	position: relative;
	margin-left: 50%;
	left: 222.5px;
}

#u181841-bw
{
	z-index: 20;
	min-height: 313px;
}

#u181840-5,#u181840-5-bw
{
	z-index: 15;
	min-height: 78px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}


