#u175745
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#u175820
{
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	background: transparent url("../images/logo_08.png") no-repeat center center;
	background-size: contain;
}

#u175777-4
{
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	text-align: left;
	line-height: 36px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #66C5CC;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u175756,#u175757
{
	background-color: transparent;
}

#u175760-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 2px;
	color: #A5A5A5;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175763,#u175764
{
	background-color: transparent;
}

#u175767-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 2px;
	color: #A5A5A5;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175749,#u175750
{
	background-color: transparent;
}

#u175753-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 2px;
	color: #A5A5A5;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175770,#u175773
{
	background-color: transparent;
}

#u175775-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 2px;
	color: #A5A5A5;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u175778-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #67C4CB;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175778-4:hover
{
	background-color: #66C5CC;
}

#u175778-4:hover p,#u175778-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u175778-2
{
	padding-top: 12px;
}

#u175739-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #99918A;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175739-2
{
	padding-top: 12px;
}

#u175731-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #66C5CC;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175731-2
{
	padding-top: 12px;
}

#u175778,#u175739,#u175731
{
	letter-spacing: 2px;
}

#u175733
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	border-width: 1px 0px;
}

#u175745_align_to_page,#u175733_align_to_page
{
	max-width: 1920px;
}

#u175780
{
	background: transparent url("../images/kajin%20logo%20print_%e7%9b%b4%e5%bc%8f%e4%ba%8c.png") no-repeat center center;
	background-size: contain;
}

#u175717,#u175720
{
	background-color: transparent;
}

#u175722-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175724,#u175727
{
	background-color: transparent;
}

#u175729-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175703,#u175706
{
	background-color: transparent;
}

#u175708-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175710,#u175711
{
	background-color: transparent;
}

#u175714-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175711.MuseMenuActive #u175714-4 p
{
	color: #ADADAD;
	visibility: inherit;
	text-decoration: none;
}

#u175696,#u175697
{
	background-color: transparent;
}

#u175700-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175720.MuseMenuActive #u175722-4 p,#u175727.MuseMenuActive #u175729-4 p,#u175706.MuseMenuActive #u175708-4 p,#u175697.MuseMenuActive #u175700-4 p
{
	text-decoration: none;
}

#u175747,#menuu175748,#menuu175695,#u175782,#menuu175783
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u175812,#u175815
{
	background-color: transparent;
}

#u175816-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175784,#u175785
{
	background-color: transparent;
}

#u175788-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175805,#u175808
{
	background-color: transparent;
}

#u175809-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175791,#u175792
{
	background-color: transparent;
}

#u175793-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175798,#u175799
{
	background-color: transparent;
}

#u175802-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 4px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175757.MuseMenuActive #u175760-4 p,#u175764.MuseMenuActive #u175767-4 p,#u175750.MuseMenuActive #u175753-4 p,#u175773.MuseMenuActive #u175775-4 p,#u175815.MuseMenuActive #u175816-4 p,#u175785.MuseMenuActive #u175788-4 p,#u175808.MuseMenuActive #u175809-4 p,#u175792.MuseMenuActive #u175793-4 p,#u175799.MuseMenuActive #u175802-4 p
{
	color: #0CA7B3;
	visibility: inherit;
	text-decoration: none;
}

#u175741-4,#u175781-4
{
	background-color: transparent;
	letter-spacing: 2px;
	color: #ADADAD;
	text-align: left;
	font-size: 16px;
	line-height: 24px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175732
{
	background: transparent url("../images/thewaycliniclogo-02.png") no-repeat left top;
	background-size: contain;
}

#u175740
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: transparent url("../images/social_media_icon-01%20copy.png") no-repeat left top;
	background-size: contain;
}

#u175740:hover
{
	background: transparent url("../images/social_media_icon-01.png") no-repeat left top;
	background-size: contain;
}

#u175746
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: transparent url("../images/social_media_icon-03%20copy.png") no-repeat left top;
	background-size: contain;
}

#u175746:hover
{
	background: transparent url("../images/social_media_icon-03.png") no-repeat left top;
	background-size: contain;
}

#u175779
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	border-radius: 4px;
	background: transparent url("../images/wechat%20qrcode_bnw-ieu171733-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/wechat%20qrcode_bnw.jpg") no-repeat left top;
	background-color: transparent;
	background-size: contain;
}

#u175779:hover
{
	border-radius: 4px;
	background: transparent url("../images/wechat_qrcode_color-u171733-r-fr.jpg") no-repeat left top;
	background-size: contain;
}

#u175819-10
{
	background-color: transparent;
	letter-spacing: 2px;
	color: #ADADAD;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u175819-2
{
	font-size: 16px;
	line-height: 24px;
}

#u175819-4
{
	line-height: 21px;
}

#u175819-6,#u175819-8
{
	font-size: 14px;
	line-height: 21px;
}

#u175742-4
{
	background-color: transparent;
	color: #ADADAD;
	text-align: center;
	line-height: 26px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}


