.version.qiong_hua /* version checker */
{
	color: #0000FE;
	background-color: #93C95F;
}

#page
{
	z-index: 1;
	min-height: 560px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u182372
{
	z-index: 7;
	width: 334px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	margin-left: 50%;
	left: -215px;
}

#menuu182373
{
	z-index: 8;
	width: 334px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -167px;
}

#u182374
{
	width: 78px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u182375
{
	width: 78px;
	padding-bottom: 22px;
	position: relative;
}

#u182375.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u182376-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u182381
{
	width: 96px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u182384
{
	width: 96px;
	padding-bottom: 22px;
	position: relative;
}

#u182384.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u182385-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u182384.MuseMenuActive #u182385-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u182388
{
	width: 77px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 178px;
}

#u182391
{
	width: 77px;
	padding-bottom: 22px;
	position: relative;
}

#u182394-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u182395
{
	width: 77px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 257px;
}

#u182396
{
	width: 77px;
	padding-bottom: 22px;
	position: relative;
}

#u182391.MuseMenuActive,#u182396.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u182397-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 2px;
}

#u182375.MuseMenuActive #u182376-4,#u182391.MuseMenuActive #u182394-4,#u182396.MuseMenuActive #u182397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u182326-4
{
	z-index: 33;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 355px;
}

#u182370-4
{
	z-index: 37;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 50%;
	left: 380px;
}

#u182370-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 380px;
	margin: 25px -10000px 0px 50%;
}

#u182446-4
{
	z-index: 41;
	width: 74px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	margin-left: 50%;
	left: 282px;
}

#u182455
{
	z-index: 45;
	min-height: 57px;
	padding-bottom: 29px;
}

#u182455_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u182467
{
	z-index: 46;
	width: 247px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 50%;
	left: -479px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u182455-bw
{
	z-index: 45;
	min-height: 57px;
	margin-bottom: -1px;
}

#pu179720-4
{
	margin-bottom: -1px;
	margin-right: -10000px;
	width: 16.15%;
	margin-left: 41.93%;
}

#u179720-4
{
	z-index: 53;
	width: 308px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-left: 50%;
	left: 171px;
}

#u179727
{
	z-index: 52;
	width: 308px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	padding-bottom: 82px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: 171px;
	border-width: 0px 1px 1px;
}

#u179726-8
{
	z-index: 64;
	width: 262px;
	min-height: 101px;
	background-color: transparent;
	letter-spacing: 4px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 50%;
	left: -137px;
}

#u179726-2,#u179726-4
{
	font-size: 18px;
	line-height: 33px;
	color: #66C5CC;
}

#u179726-6
{
	font-size: 16px;
	line-height: 29px;
	color: #A1A1A1;
}

#u179730-3
{
	z-index: 49;
	width: 632px;
	min-height: 325px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -478px;
}

#u179715
{
	z-index: 57;
	width: 262px;
	height: 284px;
	border-width: 0px;
	border-color: transparent;
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -458px;
	background: transparent url("../images/huachon.jpg") no-repeat left center;
}

#u179710-6
{
	z-index: 58;
	width: 270px;
	min-height: 83px;
	background-color: transparent;
	letter-spacing: 4px;
	color: #66C5CC;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	margin-left: 50%;
	left: -149px;
}

#u179710-2
{
	font-size: 40px;
	line-height: 59px;
}

#u179710-4
{
	line-height: 21px;
}

#u179713-4
{
	z-index: 72;
	width: 200px;
	background-color: transparent;
	line-height: 24px;
	color: #66C5CC;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 50%;
	left: -125px;
}

#u179708
{
	z-index: 76;
	width: 31px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 50%;
	left: -165px;
	background: transparent url("../images/kajin%20telemedical-09-u127252-fr.png") no-repeat left top;
	background-size: contain;
}

#ppu179720-4,#pu179728-4
{
	margin-top: 20px;
	width: 100%;
}

#u179728-4
{
	z-index: 77;
	width: 634px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -480px;
}

#u179841-4
{
	z-index: 106;
	width: 307px;
	min-height: 71px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 172px;
}

#pu182372,#pu179725
{
	width: 100%;
}

#u179725
{
	z-index: 48;
	width: 634px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -481px;
	border-width: 0px 1px 1px;
}

#u179711-19
{
	z-index: 81;
	width: 594px;
	min-height: 294px;
	background-color: transparent;
	line-height: 34px;
	color: #A1A1A1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 50%;
	left: -308px;
}

#u179844
{
	z-index: 101;
	width: 308px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	padding-bottom: 21px;
	position: relative;
	left: 171px;
	margin: 1px -10000px -1px 50%;
	border-width: 0px 1px 1px;
}

#u179847-19
{
	z-index: 124;
	width: 278px;
	min-height: 266px;
	background-color: transparent;
	line-height: 29px;
	color: #A1A1A1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 50%;
	left: -140px;
}

#u179719-4
{
	z-index: 102;
	width: 632px;
	min-height: 68px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 19px;
	position: relative;
	margin-left: 50%;
	left: -480px;
}

#u179720-2,#u179728-2,#u179841-2,#u179719-2
{
	padding-top: 21px;
}

#u179707
{
	z-index: 100;
	width: 633px;
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	margin-left: 50%;
	left: -481px;
	border-width: 0px 1px 1px;
}

#u179709-14
{
	z-index: 110;
	width: 573px;
	min-height: 449px;
	background-color: transparent;
	line-height: 29px;
	color: #A1A1A1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	margin-left: 50%;
	left: -292px;
}

#u184835
{
	z-index: 143;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
	margin-left: 50%;
	left: -310px;
}

#u184836-7
{
	z-index: 144;
	width: 282px;
	min-height: 78px;
	background-color: transparent;
	border-radius: 4px;
	line-height: 29px;
	color: #66C5CC;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -141px;
}

#u184836-5
{
	padding-top: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u184836-2
{
	line-height: 29px;
}

#u184836,#u184836-3
{
	letter-spacing: -6px;
	line-height: 29px;
}

#u184836-4
{
	font-size: 24px;
	line-height: 35px;
}

#u182325-5,#u182325-5-bw
{
	z-index: 2;
	min-height: 78px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

