.version.wechat /* version checker */
{
	color: #000010;
	background-color: #CD8B8E;
}

#page
{
	z-index: 1;
	min-height: 1128px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#u145800
{
	z-index: 2;
	min-height: 66px;
	padding-bottom: 20px;
}

#u145834
{
	z-index: 128;
	width: 45px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 50%;
	left: -481px;
}

#u145831-4
{
	z-index: 29;
	width: 317px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 50%;
	left: -425px;
}

#u145801
{
	z-index: 3;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 50%;
	left: -108px;
}

#menuu145802
{
	z-index: 4;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -172px;
}

#u145810
{
	width: 80px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u145811
{
	width: 80px;
	padding-bottom: 22px;
	position: relative;
}

#u145812-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145803
{
	width: 80px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u145804
{
	width: 80px;
	padding-bottom: 22px;
	position: relative;
}

#u145811.MuseMenuActive,#u145804.MuseMenuActive
{
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u145807-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145817
{
	width: 98px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u145818
{
	width: 98px;
	padding-bottom: 22px;
	position: relative;
}

#u145818.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u145819-4
{
	width: 90px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 4px;
}

#u145818.MuseMenuActive #u145819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 90px;
	margin: 0px -10000px 0px 0px;
}

#u145824
{
	width: 79px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#u145825
{
	width: 79px;
	padding-bottom: 22px;
	position: relative;
}

#u145825.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u145826-4
{
	width: 72px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	left: 3px;
}

#u145811.MuseMenuActive #u145812-4,#u145804.MuseMenuActive #u145807-4,#u145825.MuseMenuActive #u145826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u145832-4
{
	z-index: 129;
	width: 100px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 285px;
}

#u145832-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	width: 100px;
	left: 285px;
	margin: 26px -10000px 0px 50%;
}

#u145843-4
{
	z-index: 59;
	width: 25px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 385px;
}

#u145833-4
{
	z-index: 133;
	width: 89px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 50%;
	left: 410px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u145800-bw
{
	z-index: 2;
	min-height: 66px;
}

#u112051
{
	z-index: 137;
	width: 306px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 171px;
	position: relative;
	margin-left: 50%;
	left: -153px;
}

#pu112020
{
	width: 100%;
	margin-left: 0%;
}

#u112020
{
	z-index: 144;
	width: 55px;
	height: 55px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -153px;
	background: transparent url("../images/wechat_qrcode_color.jpg") no-repeat left top;
	background-size: cover;
}

#u112019-6
{
	z-index: 138;
	width: 231px;
	min-height: 45px;
	background-color: transparent;
	letter-spacing: 2px;
	color: #7F7F7F;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 50%;
	left: -78px;
}

#u112019-2
{
	line-height: 16px;
}

#u112019-4
{
	line-height: 24px;
}

#u112021
{
	z-index: 145;
	width: 257px;
	background-color: transparent;
	margin-top: 46px;
	position: relative;
	margin-left: 50%;
	left: -137px;
}

#u145835
{
	z-index: 33;
	min-height: 320px;
	padding-bottom: 43px;
}

#u145800_align_to_page,#u145835_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u149075
{
	z-index: 126;
	width: 351px;
	height: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 50%;
	left: -481px;
}

#menuu145844
{
	z-index: 63;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	margin-left: 50%;
	left: -130px;
}

#u145874
{
	width: 97px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145876-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145860
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145861-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145846
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145849-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145869
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145871-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145855
{
	width: 97px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145874.MuseMenuActive,#u145860.MuseMenuActive,#u145846.MuseMenuActive,#u145869.MuseMenuActive,#u145855.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145858-4
{
	width: 97px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145874.MuseMenuActive #u145876-4,#u145860.MuseMenuActive #u145861-4,#u145846.MuseMenuActive #u145849-4,#u145869.MuseMenuActive #u145871-4,#u145855.MuseMenuActive #u145858-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u145880
{
	z-index: 94;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	margin-left: 50%;
	left: -17px;
}

#menuu145881
{
	z-index: 95;
	width: 97px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -49px;
}

#u145873,#u145889
{
	width: 97px;
	position: relative;
}

#u145890
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145891-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145897
{
	width: 96px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u145898-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145906
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145908-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145913
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145915-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145859,#u145845,#u145866,#u145852,#u145896,#u145903,#u145910,#u145882
{
	width: 97px;
	margin-top: 2px;
	position: relative;
}

#u145883
{
	width: 96px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u145890.MuseMenuActive,#u145897.MuseMenuActive,#u145906.MuseMenuActive,#u145913.MuseMenuActive,#u145883.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u145885-4
{
	width: 96px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u145890.MuseMenuActive #u145891-4,#u145897.MuseMenuActive #u145898-4,#u145906.MuseMenuActive #u145908-4,#u145913.MuseMenuActive #u145915-4,#u145883.MuseMenuActive #u145885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#pu149127-4
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 92px;
	width: 4.48%;
	margin-left: 47.77%;
}

#u149127-4
{
	z-index: 48;
	width: 83px;
	min-height: 24px;
	position: relative;
	margin-left: 50%;
	left: 126px;
}

#u149149-4
{
	z-index: 52;
	width: 83px;
	min-height: 24px;
	margin-top: 71px;
	position: relative;
	margin-left: 50%;
	left: 129px;
}

#pu149090
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 92px;
	width: 12.97%;
	margin-left: 43.52%;
}

#u149090
{
	z-index: 127;
	width: 179px;
	height: 58px;
	position: relative;
	margin-left: 50%;
	left: 236.5px;
}

#pu145838
{
	margin-top: 38px;
	width: 51.41%;
	margin-left: 24.3%;
}

#u145838
{
	z-index: 56;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 237px;
}

#u145838:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 237px;
	margin: 0px -10000px 0px 50%;
}

#u145839
{
	z-index: 57;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 283px;
}

#u145839:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 283px;
	margin: 0px -10000px 0px 50%;
}

#u145840
{
	z-index: 58;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: 329px;
}

#u145840:hover
{
	width: 35px;
	height: 35px;
	min-height: 0px;
	left: 329px;
	margin: 0px -10000px 0px 50%;
}

#u145837-10
{
	z-index: 38;
	width: 249px;
	min-height: 24px;
	margin-top: 11px;
	position: relative;
	margin-left: 50%;
	left: 236.5px;
}

#u145835-bw
{
	z-index: 33;
	min-height: 320px;
	margin-top: 102px;
}

#u145836-4
{
	z-index: 34;
	width: 658px;
	min-height: 28px;
	margin-top: 17px;
	position: relative;
	margin-left: 50%;
	left: -329px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

