div#footer-colelem
    div#footer-background
        p Copyright © 2015 KAJIN, Inc. All rights reserved.

style.
    #footer-colelem{
        position:absolute;
        height:100px;
        bottom:0;
        width:100%;
        min-height:initial;
    }
   
    #footer-background{
        background:#404040;
        height:100px;
    }
   
    #footer-background p{
        position:relative;
        top:40px;
        width:100%;
        text-align:center;
        color:#999999;
        font-size:15px;
        font-size:0.9375rem;
    }
