#u180102
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u182486,#u180154,#u180155
{
	background-color: transparent;
}

#u180158-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #B3AAA1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180175,#u180176
{
	background-color: transparent;
}

#u180177-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #B3AAA1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180168,#u180171
{
	background-color: transparent;
}

#u180172-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #B3AAA1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180161,#u180162
{
	background-color: transparent;
}

#u180165-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #B3AAA1;
	text-align: left;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u180099-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #99918A;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180099-2
{
	padding-top: 12px;
}

#u180056-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #66C5CC;
	text-align: right;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180101-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #67C4CB;
	border-radius: 5px;
	line-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180101-4:hover
{
	background-color: #66C5CC;
}

#u180101-4:hover p,#u180101-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u180101-2
{
	padding-top: 12px;
}

#u180099,#u180056,#u180101
{
	letter-spacing: 2px;
}

#u180114
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #F9F9F9;
	border-width: 1px 0px;
}

#u180102_align_to_page,#u180114_align_to_page
{
	max-width: 1920px;
}

#u180103
{
	background: transparent url("../images/logo_cn-08.png") no-repeat center center;
	background-size: contain;
}

#u180110-10
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	line-height: 22px;
	color: #B3AAA1;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 1px 0px 0px;
}

#u180110-2
{
	padding-top: 15px;
}

#u180189
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: transparent;
	border-width: 0px 1px;
}

#u180065,#u180068
{
	background-color: transparent;
}

#u180071-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180086,#u180089
{
	background-color: transparent;
}

#u180092-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180089.MuseMenuActive #u180092-4 p
{
	color: #ADADAD;
	visibility: inherit;
	text-decoration: none;
}

#u180058,#u180059
{
	background-color: transparent;
}

#u180062-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u184592,#u184593
{
	background-color: transparent;
}

#u184596-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180068.MuseMenuActive #u180071-4 p,#u180059.MuseMenuActive #u180062-4 p,#u184593.MuseMenuActive #u184596-4 p
{
	text-decoration: none;
}

#u180138,#u180139
{
	background-color: transparent;
}

#u180140-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180117,#u180118
{
	background-color: transparent;
}

#u180120-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180145,#u180148
{
	background-color: transparent;
}

#u180150-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180131,#u180132
{
	background-color: transparent;
}

#u180133-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180155.MuseMenuActive #u180158-4 p,#u180176.MuseMenuActive #u180177-4 p,#u180171.MuseMenuActive #u180172-4 p,#u180162.MuseMenuActive #u180165-4 p,#u180139.MuseMenuActive #u180140-4 p,#u180118.MuseMenuActive #u180120-4 p,#u180148.MuseMenuActive #u180150-4 p,#u180132.MuseMenuActive #u180133-4 p
{
	color: #0CA7B3;
	visibility: inherit;
	text-decoration: none;
}

#u180094
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: transparent url("../images/social_media_icon-01%20copy.png") no-repeat left top;
	background-size: contain;
}

#u180094:hover
{
	background: transparent url("../images/social_media_icon-01.png") no-repeat left top;
	background-size: contain;
}

#u180111
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	background: transparent url("../images/social_media_icon-03%20copy.png") no-repeat left top;
	background-size: contain;
}

#u180111:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/social_media_icon-03.png") no-repeat left top;
	background-size: contain;
}

#u180238
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: transparent url("../images/youtube-10.png") no-repeat left top;
	background-size: contain;
}

#u180238:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/youtube-09.png") no-repeat left top;
	background-size: contain;
}

#u180255
{
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	background: transparent url("../images/twitter-12.png") no-repeat left top;
	background-size: contain;
}

#u180255:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/twitter-11.png") no-repeat left top;
	background-size: contain;
}

#u180097
{
	background: transparent url("../images/thewaycliniclogo-02-u180097-fr.png") no-repeat left top;
	background-size: contain;
}

#u184576-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	letter-spacing: 2px;
	color: #ADADAD;
	font-size: 16px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
}

#u184713
{
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px 0px 1px 1px;
	background: #FFFFFF url("../images/all.jpg") no-repeat center center;
	background-size: contain;
}

#u180152,#menuu180153,#menuu180057,#u180115,#menuu180116,#u184570,#u184573,#u184710,#u184711
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u184712-10
{
	border-style: solid;
	border-color: #CCCCCC;
	background-color: #F2F2F2;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	border-width: 1px 1px 1px 0px;
}

#u184712-2
{
	font-size: 10px;
	line-height: 12px;
	padding-right: 4px;
	padding-left: 9px;
	padding-top: 10px;
	color: #A1A1A1;
}

#u184712-3
{
	font-size: 7px;
	line-height: 8px;
	padding-right: 4px;
	padding-left: 9px;
	color: #A1A1A1;
}

#u184712-5
{
	font-size: 13px;
	line-height: 16px;
	padding-right: 4px;
	padding-left: 9px;
	color: #A1A1A1;
}

#u184712-6
{
	font-size: 7px;
	line-height: 8px;
	padding-right: 4px;
	padding-left: 9px;
	color: #CCCCCC;
}

#u184712-8
{
	font-size: 8px;
	line-height: 10px;
	padding-right: 4px;
	padding-left: 9px;
	color: #CCCCCC;
}

#u180113-4,#u180104-4,#u180304-4,#u180307-4
{
	background-color: transparent;
	line-height: 24px;
	color: #ADADAD;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u180182
{
	background-color: transparent;
}

#u180286
{
	background: transparent url("../images/untitled-1.jpg") no-repeat left top;
	background-size: contain;
}

#u180235-5
{
	background-color: #404040;
	line-height: 26px;
	color: #ADADAD;
	text-align: center;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}


